<if:if var="calendardisabled" noteq="1">
<!-- Calendar -->
<div class="header"><div class="title">{$L_CALENDAR}</div></div>
<div class="subheader" style="text-align: center;">
	<if:if var="nav_prev" eq="">
		<a href="calendar.php?y={$year_prev}&amp;m={$month_prev}">&laquo;</a> 
	</if:if>
	{$month_label} {$year_label}
	<if:if var="nav_next" eq="">
		 <a href="calendar.php?y={$year_next}&amp;m={$month_next}">&raquo;</a>
	</if:if>
</div>
<div class="spacer">
	<list:list id="calendar">
	<table width="100%" class="table">
		
		<list:sublist id="weekdays" column="calendar">
		<tr class="base2">
			<td class="base1" width="2%"></td>
			
			<list:item list="weekdays">
			<td width="14%" style="text-align: center;"><strong>{$weekday}</strong></td>
			</list:item>
			
		</tr>
		</list:sublist>
		
		<tr class="alt4">
		
			<list:item list="calendar">
			<list:alternate list="calendar" count="7" remainder="0">
				<td class="base2" style="text-align: center"><a href="calendar.php?view=month&amp;y={$year}&amp;m={$month}&amp;w={$week}">&raquo;</a></td>
			</list:alternate>

			<list:switch list="calendar" var="row_class" a="alt3" b="alt4">
			
			<core:import id="calendar_day" file="calendar_day.html" />
			
			<list:separator list="calendar">
			<list:alternate list="calendar" count="7" remainder="6">
				</tr><tr class="{$row_class}">
			</list:alternate>
			</list:separator>
			</list:switch>
			</list:item>
		
		</tr>
	</table>
	</list:list>
</div>
<div class="spacer">
	<div class="supheader" id="nav_title">
		<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_nav', 'navigate', 'nav_title')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_nav" src="Images/{$IMG_DIR}/Icons/collapse_thead_collapsed.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
		{$L_NAVIGATE}
	</div>
</div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="navigate" style="display:none;">
	<tr>
		<td style="padding:0px;border:0px;margin:0px;">
			{$prev_month_cal}
		</td>
		<td>&nbsp;</td>
		<td width="80%" style="padding:0px;border:0px;margin:0px;">
			<div class="spacer">
				<div class="gen_box1_head"><div id="header">&nbsp;</div></div>
				<div class="alt3">
					gonna put some sort stuff or whatever here..
				</div>
				<div class="gen_box1_foot"><div id="footer">&nbsp;</div></div>
			</div>
		</td>
		<td>&nbsp;</td>
		<td style="padding:0px;border:0px;margin:0px;">
			{$next_month_cal}
		</td>
	</tr>
</table>
<div class="spacer">
	<div class="footer_block"><div>&nbsp;</div></div>
</div>
<!-- / Calendar -->
<if:else>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">	
		<tr>
			<td class="alt3" colspan="5" width="100%">
				<div class="outset_box" align="center">
					<br />
					{$L_CALENDARDISABLED}
					<br /><br />
				</div>
			</td>
		</tr>
	</table>
</if:if>
