<div>
	<a name="editor" id="editor"></a>
	<textarea name="message" id="{$editor_input_id}" class="inputbox" rows="10" cols="90" wrap="SOFT" style="width:99%;" tabindex="3">{$editor_text_reverted}</textarea>
	<if:if var="allowbbcode" eq="1">
	<if:if var="has_bbcode_perms" eq="1">
	<script type="text/javascript" src="js/k4_editor.js"></script>
	<script type="text/javascript">
		var rte = new k4rte();
		rte.init('{$editor_input_id}');
		rte.sm('{$editor_input_id}');
	</script>
	</if:if>
	</if:if>
</div>