<!-- Footer -->
<div class="outset_box_small" align="right" style="position: relative;top: -1px;">
	<table width="100%" cellpadding="3" cellspacing="0" border="0">
		<tr>
			<td align="left" width="70%">
				<!-- Benchmarking -->
				
				<span class="smalltext">
				<a href="http://www.k4bb.org" title="k4 Bulletin Board" target="_blank">Powered By: k4 {$VERSION}</a>
				| Load time: {$load_time}
				| Num Queries: {$num_queries}
				<core:block id="sql_debug" hidden="yes">
				| <a href="{$debug_url}">Debug</a>
				</core:block>
				</span>
				<!-- / Benchmarking -->
			</td>
			<td align="right" width="30%" nowrap="nowrap">
				<a href="{$contactuslink}" title="{$L_CONTACTUS}">{$L_CONTACTUS}</a> | <a href="#top" title="{$L_TOP}">{$L_TOP}</a>
			</td>
		</tr>
	</table>
</div>
<!-- / Footer -->