<!-- Footer -->
<div class="footer_menu" align="right">
	<div id="footer_menu">
		<table width="100%" cellspacing="0">
			<tr>
				<td align="left" width="70%">
					<!-- Benchmarking -->
					<div class="minitext">
						<a href="http://www.k4bb.org?referer={$forum_url}" title="k4 Bulletin Board" target="_blank">Powered By: k4BB {$VERSION}</a>
						| Load time: {$load_time}
						| Num Queries: {$num_queries}
					</div>
					<!-- / Benchmarking -->
				</td>
				<td width="30%" nowrap="nowrap" class="minitext">
					<div class="minitext" style="text-align:right;">
						<a href="{$contactuslink}" title="{$L_CONTACTUS}">{$L_CONTACTUS}</a>
						| <a href="{$U_FAQURL}" title="{$L_HELP}">{$L_HELP}</a>
						<if:if var="enablegzip" eq="1">| {$L_GZIPENABLED}</if:if>
						| <a href="#top" title="{$L_TOP}">{$L_TOP} <img src="Images/{$IMG_DIR}/Icons/top.gif" border="0" alt="{$L_TOP}" /></a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- / Footer -->