<!-- Footer Breadcrumbs Bit -->
<div class="footer_breadcrumbs">
	<div style="text-align: left;">
		<img src="Images/{$IMG_DIR}/Icons/navbits_start{$breadcrumb_new}.gif" alt="{$bbtitle}" />&nbsp;<a href="{$U_INDEXURL}" title="{$bbtitle}"><strong>{$bbtitle}</strong></a>
		<list:list id="breadcrumbs">
		<list:item list="breadcrumbs">
		&gt; <a href="{$location}" title="{$name}"><strong><core:truncate length="40" append="...">{$name}</core:truncate></strong></a>
		</list:item>
		</list:list>
		&gt;&nbsp;<strong><core:truncate length="55" append="...">{$current_location}</core:truncate></strong>
	</div>
</div>
<!-- / Footer Breadcrumbs Bit -->