<maps:if var="can_see_wo" method="can_view">
<!-- General Forum Information -->
<br />
<table width="100%" border="0" cellpadding="0" cellspacing="1" class="forum_content">
	<tr class="thead">
		<td colspan="2">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_wgo', 'whatsgoingon')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_wgo" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_WHATSGOINGON}
		</td>
	</tr>
	<tbody id="whatsgoingon">
		<tr class="alt1">
			<td rowspan="3" width="5%" align="center" valign="middle">
				<img src="Images/{$IMG_DIR}/Icons/forum_stats.gif" alt="{$L_WHATSGOINGON}" />
			</td>
			<td>
				<div class="minitext" align="left">
				{$newest_member}
				<br />
				{$total_posts}
				<br />
				{$total_users}
				<br />
				{$most_users_ever}
				</div>
			</td>
		</tr>
		<tr class="panel">
			<td>
				<div class="minitext" align="left">
					<strong>{$L_LEGEND}:</strong>
					<list:list id="usergroups_legend">
					<list:item list="usergroups_legend">
					<a href="usergroups.php?id={$id}" style="color: #{$color};font-weight: bold;" title="{$name}">{$name}</a><list:separator list="usergroups_legend">,</list:separator>
					</list:item>
					</list:list>
				</div>
			</td>
		</tr>
		<tr class="alt1">
			<td>
				<div class="minitext" align="left">
				{$online_stats}
				<br />
				<if:if var="num_online_members" greater="0">
				<maps:if var="can_see_wologgedusers" method="can_view">
				<list:list id="online_users">
					{$L_REGISTEREDUSERS}:
					<list:item list="online_users">
					<if:if var="name" noteq="">
					<if:if var="invisible" eq="0">
						<if:if var="id" noteq="0"><a href="member.php?id={$id}" style="color: #{$color};font-weight: {$font_weight};" class="minitext">{$name}</a><if:else /><strong style="font-style: italic;">{$name}</strong></if:if><list:separator list="online_users">,&nbsp;</list:separator>
					</if:if>
					</if:if>
					</list:item>
				</list:list>
				</maps:if>
				</if:if>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / General Forum Information -->
</maps:if>