<!-- Forum Status Icons -->
<div align="center">
	<div align="center">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>	
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_on.gif" alt="{$L_TOPICFORUMNEW}" />
					<span class="minitext">{$L_TOPICFORUMNEW}</span>
				</td>
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_meta.gif" alt="{$L_METAFORUM}" />
					<span class="minitext">{$L_METAFORUM}</span>
				</td>
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_archive.gif" alt="{$L_ARCHIVEFORUM}" />
					<span class="minitext">{$L_ARCHIVEFORUM}</span>
				</td>
			</tr>
			<tr>	
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_off.gif" alt="{$L_TOPICFORUM}" />
					<span class="minitext">{$L_TOPICFORUM}</span>
				</td>
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_jump.gif" alt="{$L_JUMPFORUM}" />
					<span class="minitext">{$L_JUMPFORUM}</span>
				</td>
				<td>
					<img src="Images/{$IMG_DIR}/Icons/forum_gallery.gif" alt="{$L_GALLERYFORUM}" />
					<span class="minitext">{$L_GALLERYFORUM}</span>
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- / Forum Status Icons -->