<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{$lang_direction}" lang="{$LANGSHORT}">
<core:import id="head" file="head.html" />
<body>
<div align="center">
	<div align="left" class="forum_base" id="forum_base">
		<br />
		<div class="spacer">
			<div class="forum_head" id="forum_head">
				<div id="header">
					<core:import id="header" file="header.html" />
					
					<!-- Menus -->
					<core:import id="quicklinks_menu" file="quicklinks_menu.html" />
					<core:import id="modpanel_menu" file="modpanel.html" />
					<core:import id="search_menu" file="search_menu.html" />
					<!-- / Menus -->
				</div>
			</div>
		</div>
		<if:if var="can_see_board" method="can_view" geq="0">
		<div class="spacer">
			<div class="forum_main">				
					<core:import id="content" />
					<core:import id="content_extra" />
			</div>
		</div>
		</if:if>
		<core:block id="forum_midsection" hidden="yes">
		<div class="spacer">
			<div class="forum_mid">
				<if:if var="can_see_board" method="can_view" geq="0">
					<core:import id="users_browsing" />
					<core:import id="forum_info" />
				<if:else />

					<!-- You don't have permission to view the forums -->
					<div class="header"><div class="title">{$L_INFORMATION}</div></div>
					<table width="100%" cellspacing="{$style_cellspacing}" class="table">
						<tr>
							<td class="alt3">
								<div class="outset_box">
									{$L_YOUNEEDPERMS}
								</div>
							</td>
						</tr>
					</table>
					<!-- / You don't have permission to view the forums -->
				</if:if>
			</div>
		</div>
		</core:block>
		<div class="forum_foot">
			<div id="footer">
				<core:import id="quick_nav" file="quick_nav.html" />
				<core:import id="footer_breadcrumbs" file="footer_breadcrumbs.html" />
				<core:import id="footer" file="footer.html" />
			</div>
		</div>
	</div>
</div>
<br />
<if:if var="copyrighttext" noteq=""><div align="center" class="smalltext">{$copyrighttext}</div></if:if>
<core:import id="new_pms_box" file="new_pms_box.html" />

<a name="bottom" id="bottom"></a>

<!--
COPYRIGHT NOTICE

// Please keep this copyright notice in place

/**
* k4 Bulletin Board
*
* Copyright (c) 2005, Peter Goodman
*
* Permission is hereby granted, free of charge, to any person obtaining
* a copy of this software and associated documentation files (the
* "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish,
* distribute, sublicense, and/or sell copies of the Software, and to
* permit persons to whom the Software is furnished to do so, subject to
* the following conditions:
*
* The above copyright notice and this permission notice shall be
* included in all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
* BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
* ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
* CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*
* @author Peter Goodman
* @author Geoffrey Goodman
*/
-->
<if:if var="admin_css_edit" eq="1">
<script type="text/javascript">
var k4cssext = new k4css();
k4cssext.init();
</script>
</if:if>
</body>
</html>