<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<core:import id="head" file="head.html" />
<body>
<div align="center">
	<div align="left" class="forum_base" id="forum_base">
		<br />
		<div class="forum_main" id="forum_main">
			<core:import id="header" file="header.html" />
			<core:import id="header_breadcrumbs" file="header_breadcrumbs.html" />
			
			<br />

			<if:if var="can_see_board" method="can_view" geq="0">
				<core:import id="content" />
				<core:import id="content_extra" />
				
				<core:block id="forum_status_icons" hidden="yes">
				<!-- Forum Status Icons -->
				<br />
				<div style="text-align: center;">
					<ul class="menu_global">
						<li class="first">
							<img src="Images/{$IMG_DIR}/Icons/forum_on.gif" alt="{$L_FORUMNEWPOSTS}" />
							<span class="smalltext">{$L_FORUMNEWPOSTS}</span>
						</li>
						<li class="first">
							<img src="Images/{$IMG_DIR}/Icons/forum_off.gif" alt="{$L_FORUMNONEWPOSTS}" />
							<span class="smalltext">{$L_FORUMNONEWPOSTS}</span>
						</li>
						<li class="first">
							<img src="Images/{$IMG_DIR}/Icons/forum_on_lock.gif" alt="{$L_FORUMLOCKED}" />
							<span class="smalltext">{$L_FORUMLOCKED}</span>
						</li>
					</ul>
				</div>
				<!-- / Forum Status Icons -->
				</core:block>

				<core:import id="users_browsing" />
				<core:import id="forum_info" />
				<core:import id="quick_login" />

			<if:else />

				<!-- You don't have permission to view the forums -->
				<div class="k4_borderwrap">
					<div class="k4_maintitle">{$L_INFORMATION}</div>
					<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
						<tr>
							<td class="alt3">
								<div class="outset_box">
									{$L_YOUNEEDPERMS}
								</div>
							</td>
						</tr>
					</table>
				</div>
				<!-- / You don't have permission to view the forums -->
			</if:if>
			
			<br />
			
			<core:import id="quick_nav" file="quick_nav.html" />
			<core:import id="footer_breadcrumbs" file="footer_breadcrumbs.html" />
			<core:import id="footer" file="footer.html" />

		</div>
	</div>
</div>
<br />
<if:if var="copyrighttext" noteq=""><div align="center" class="smalltext">{$copyrighttext}</div></if:if>
<core:import id="new_pms_box" file="new_pms_box.html" />

<a name="bottom" id="bottom"></a>

<!--
COPYRIGHT NOTICE

// Please keep this copyright notice in place

/**
* k4 Bulletin Board
*
* Copyright (c) 2005, Peter Goodman
*
* Permission is hereby granted, free of charge, to any person obtaining
* a copy of this software and associated documentation files (the
* "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish,
* distribute, sublicense, and/or sell copies of the Software, and to
* permit persons to whom the Software is furnished to do so, subject to
* the following conditions:
*
* The above copyright notice and this permission notice shall be
* included in all copies or substantial portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
* BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
* ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
* CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
* SOFTWARE.
*
* @author Peter Goodman
* @author Geoffrey Goodman
*/
-->

</body>
</html>