<!-- Forums List -->
<div class="header">
	<div class="title" style="text-align: right;">
		<div style="float: left;">{$L_FORUMS}</div>
		<span class="ddmenu_link_alt" id="forumoptions_link">{$L_FORUMOPTIONS}</span>
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subheader" width="58%" align="left">&nbsp;{$L_FORUM}</td>
			<td class="subheader" width="6%" align="center">&nbsp;{$L_POSTS}&nbsp;</td>
			<td class="subheader" width="6%" align="center">&nbsp;{$L_TOPICS}&nbsp;</td>
			<td class="subheader" width="30%" align="center">{$L_LASTPOST}</td>
		</tr>
	</table>
</div>

<core:block id="no_forums" hidden="yes">
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		{$L_NOFORUMSEXIST}
		<br /><br />
	</div>
</div>
</core:block>

<list:list id="tlforums">
<list:item list="tlforums">
<list:switch list="tlforums" var="row_class" a="1" b="2">
<maps:if forum="forum_id" method="can_view">
	<if:if var="row_type" eq="2">
	<div class="spacer">
		<table width="100%" cellspacing="{$style_cellspacing}" class="table">
			<core:import id="forum_view" file="forum_view.html" />
		</table>
	</div>
	<if:else />
	<div class="spacer">
		<div class="categorytitle" id="c{$forum_id}_maintitle">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_{$forum_id}', 'forums_{$forum_id}', 'c{$forum_id}_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_{$forum_id}" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			<a href="viewforum.php?f={$forum_id}" title="{$description}">{$name}</a>
		</div>
		<!-- Forums -->
		<list:sublist list="tlforums" id="forums" column="forums">
		<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="forums_{$forum_id}">
			<list:item list="forums">
			<list:switch list="forums" var="row_class" a="3" b="4">
				<core:import id="forum_view" file="forum_view.html" />
			</list:switch>
			</list:item>
		</table>
		</list:sublist>
		<!-- / Forums -->
	</div>
	</if:if>
</maps:if>
</list:switch>
</list:item>
</list:list>
<div class="spacer">
	<div class="footer_block"><div>&nbsp;</div></div>
</div>
<!-- / Forums List -->

<core:import id="forum_options" file="forum_options.html" />