<!-- Forum Options Menu -->
<if:if var="nojs" eq="0">
<div id="forumoptions_menu" style="display: none;">
	<table cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt1"><a href="{$U_MARKFROUMSURL}" title="{$L_MARKFORUMSREAD}" class="smalltext">{$L_MARKFORUMSREAD}</a></td>
		</tr>
		<tr>
			<td class="alt1"><a href="{$U_RSSNEWPOSTSURL}" title="{$L_RSS}: {$L_NEWPOSTS}" class="smalltext"><img src="Images/{$IMG_DIR}/Icons/rss_small.gif" alt="{$L_RSSFEED}: {$L_NEWPOSTS}" border="0" /> {$L_RSS}: {$L_NEWPOSTS}</a></td>
		</tr>
	</table>
</div>
<script type="text/javascript">menu_init('forumoptions_link', 'forumoptions_menu');</script>
</if:if>
<!-- / Forum Options Menu -->