				<if:if var="subforums" greater="0">
				<if:if var="showsubforums" eq="1">
				<list:sublist list="forums" id="subforums_list" column="subforums_list">
				<br />
				<strong class="minitext">{$L_SUBFORUMS}:</strong>
					<list:item list="subforums_list">
					<if:if var="row_type" eq="2"><img src="Images/{$IMG_DIR}/Icons/{$forum_icon}_small.gif" alt="{$forum_alt}" border="0" /></if:if>
					<a href="{$U_FORUMURL}" title="{$description}" class="minitext">{$name}</a><list:separator list="subforums">,</list:separator>
					</list:item>
				</list:sublist>
				</if:if>
				</if:if>