<!-- Header -->
<table class="header_table" cellspacing="0" width="100%">
	<tr>
		<td width="20%" valign="middle" style="text-align: left;"><div class="spacer"><a href="index.php" name="top" id="top" title="k4 Bulletin Board - {$bbtitle}"><img src="Images/{$IMG_DIR}/logo.gif" alt="{$bbtitle}" border="0" /></a></div></td>
		<td width="80%" valign="bottom" align="right" colspan="2">
			<div class="spacer" style="text-align: right;" align="right">				
				<h1 style="color: #666666;padding-bottom:5px;">{$bbdescription}</h1>
				<span class="minitext"><core:date format="%B %d, %Y"></core:date></span>
			</div>
		</td>
	</tr>
	<tr>
		<td width="90%" colspan="2">
			<div class="spacer">
				<div class="main_menu">
					<core:import id="main_menu" file="main_menu.html" />					
				</div>
			</div>
		</td>
		<td nowrap="nowrap" valign="top">
			<div class="spacer">
				<div class="top_menu">
					<core:import id="top_menu" file="top_menu.html" />
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td width="90%" class="header_breadcrumbs" valign="top" colspan="2">
			<core:import id="header_breadcrumbs" file="header_breadcrumbs.html" />
		</td>
		<td class="breadcrumbs_tab" nowrap="nowrap">
			<core:import id="breadcrumbs_tab" file="breadcrumbs_tab.html" />
		</td>
	</tr>
</table>
<!-- / Header -->