<!-- Header Breadcrumbs Bit -->
<div>
	<img src="Images/{$IMG_DIR}/Icons/navbits_start.gif" alt="{$bbtitle}" />&nbsp;<a href="{$U_INDEXURL}" title="{$bbtitle}"><strong>{$bbtitle}</strong></a> 
	<list:list id="breadcrumbs">
	<list:item list="breadcrumbs">
	&gt; <a href="{$location}" title="{$name}"><strong><core:truncate length="40" append="...">{$name}</core:truncate></strong></a>
	</list:item>
	</list:list>
	<br />
	<img src="Images/{$IMG_DIR}/Icons/navbits_finallink{$breadcrumb_new}.gif" alt="{$current_location}" /> <core:truncate length="55" append="...">{$current_location}</core:truncate>
</div>
<!-- / Header Breadcrumbs Bit -->