<!-- Login Form -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<core:block id="no_perms" hidden="yes">
	<tr class="thead">
		<td colspan="2">{$L_INFORMATION}</td>
	</tr>
	<tr class="panel">
		<td colspan="2">
			<span class="smalltext">{$L_YOUNEEDPERMS}</span>
		</td>
	</tr>
	</core:block>
	<is:unlogged>
	<form:form id="login_form" name="login_form" action="{$referer}" method="post" enctype="multipart/form-data">
	<tr class="thead">
		<td colspan="2">{$L_LOGIN}</td>
	</tr>
	<tr class="panel">
		<td width="50%">
			<span class="smalltext">
			{$L_LOGINREGISTERMESSAGE}
			</span>
		</td>
		<td width="50%">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td width="50%"><label for="username">{$L_USERNAME}</label></td>
					<td width="50%"><input type="text" name="username" id="username" class="inputbox" maxlength="{$maxuserlength}" value="" tabindex="1" /></td>
				</tr>
				<tr>
					<td width="50%"><label for="password">{$L_PASSWORD}</label></td>
					<td width="50%"><input type="password" name="password" id="password" class="inputbox" maxlength="{$maxuserlength}" value="" tabindex="2" /></td>
				</tr>
				<tr>
					<td width="50%"><input type="submit" class="button" value="{$L_LOGIN}" tabindex="3" />&nbsp;<input type="reset" class="button" value="{$L_RESET}" /></td>
					<td width="50%"><input type="checkbox" class="checkbox" name="rememberme" id="rememberme" checked="checked" value="on" /><label for="rememberme">&nbsp;{$L_REMEMBERME}</label></td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="padding: 3px 0px 0px 0px; ">
						<a href="member.php?act=forgotpw" title="{$L_FORGOTPW}">{$L_FORGOTPW}</a>
						<h4><a href="member.php?act=register" title="{$L_REGISTER}" class="">{$L_REGISTERNOW}</a></h4>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</form:form>
	</is:unlogged>
</table>
<!-- / Login Form -->