<div class="spacer">
	<div class="borderwrap">
		<div class="maintitle">{$L_LOOKUPGROUP}: <span style="font-weight: normal;">{$group_name}</span></div>
		<table width="100%" cellspacing="{$style_cellspacing}" class="table">
			<tr>
				<td class="alt1" width="50%"><strong>{$L_DESCRIPTION}:</strong></td>
				<td class="alt3" width="50%">{$group_description}</td>
			</tr>
			<tr>
				<td class="alt1" width="50%"><strong>{$L_USERGROUPTITLE}:</strong></td>
				<td class="alt3" width="50%">{$group_nicename}</td>
			</tr>
			<if:if var="group_avatar" noteq="">
			<tr>
				<td class="alt1" width="50%"><strong>{$L_USERGROUPAVATAR}</strong></td>
				<td class="alt3" width="50%"><img src="tmp/upload/group_avatars/{$group_avatar}" border="0" /></td>
			</tr>
			</if:if>
			<tr>
				<td class="alt1" width="50%"><strong>{$L_MODERATOR}:</strong></td>
				<td class="alt3" width="50%"><a href="member.php?id={$group_mod_id}" style="font-weight: bold; color: #{$group_mod_color};">{$group_mod_name}</a></td>
			</tr>
		</table>
	</div>
</div>
<br />

<page:navigator id="users_pager">
<div align="right">
	<table cellspacing="{$style_cellspacing}" class="pagination">
		<tr>
			<td class="alt1" id="page_jump2"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
			<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
			<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
			<page:list id="users_pager" before="3" after="3">
			<list:item list="users_pager">
				<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
			</list:item>
			</page:list>
			<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
			<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
		</tr>
	</table>
</div>
</page:navigator>

<div class="spacer">
	<div class="borderwrap">
		<div class="maintitle">{$L_MEMBERS} ({$num_group_members})</div>
		<table width="100%" cellspacing="{$style_cellspacing}" class="table">
			<list:list id="users_in_usergroup">
			<list:item list="users_in_usergroup">
			<list:switch list="users_in_usergroup" var="row_class" a="alt1" b="alt3">
			<tr>
				<td class="{$row_class}">
					<if:if var="is_mod" eq="1"><div style="float:right;"><a href="usergroups.php?act=remove_user_from_group&amp;user_id={$id}&amp;id={$group_id}" title="{$L_REMOVEUSER}">{$L_REMOVEUSER}</a></div></if:if>
					<a href="member.php?id={$id}" style="font-weight:bold;color:#{$group_color};">{$name}</a>
				</td>
			</tr>
			</list:switch>
			</list:item>
			</list:list>
		</table>
	</div>
</div>

<page:navigator id="users_pager">
<div align="right">
	<table cellspacing="{$style_cellspacing}" class="pagination">
		<tr>
			<td class="alt3" id="page_jump2" nowrap="nowrap"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
			<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
			<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
			<page:list id="users_pager" before="3" after="3">
			<list:item list="users_pager">
				<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
			</list:item>
			</page:list>
			<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
			<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
		</tr>
	</table>
</div>
</page:navigator>

<core:block id="add_user" hidden="yes">
<form:form name="addusertogroup" id="addusertogroup" action="usergroups.php?act=add_user_to_group" method="post" name="post" enctype="multipart/form-data">
<br />
<div class="outset_box_small">
	<fieldset>
		<legend>{$L_ADDUSERTOGROUP}:</legend>
		<input type="hidden" name="id" value="{$group_id}" />
		<input type="text" class="inputbox" name="name" id="name" value="" />
		<input type="submit" class="button" value="{$L_ADDUSER}" />
		<input type="reset" class="button" value="{$L_RESET}" />
		<form:error id="name_error" for="name" setclass="inputfailed" regex=".+">{$L_INSERTUSERNAME}</form:error>
	</fieldset>
</div>
</form:form>
</core:block>
<core:import id="page_jumper" file="page_jumper.html" />
<script type="text/javascript">
//<![CDATA[
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');
	
	function jump_pages() {
		jumpto				= d.getElementById('jumpto');
		page				= parseInt(jumpto.value);
		document.location	= '{$pagejumper_url}&page=' + page;
	}
//]]>
</script>