<!-- User Profile - {$member_name} -->
<div class="header">
	<div class="title">
		<div style="float:right;">
			<if:if var="member_group_avatar" eq="">
			<if:if var="member_group_nicename" noteq=""><if:if var="member_user_title" eq="">{$member_group_nicename}</if:if></if:if>
			<if:else />
			<img src="tmp/upload/group_avatars/{$member_group_avatar}" border="0" alt="{$member_group_nicename}" />
			</if:if>
		</div>
		
		<span style="color: #{$member_group_color}; font-size: 18px;">{$member_name}</span> ({$member_online})
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		
		<tr>
			<td width="30%" class="alt1">
				<div class="simple_box">
					<table width="100%" cellspacing="{$style_cellspacing}" class="smalltext">
						<tr><td><strong>{$L_LASTSEEN}:</strong></td><td><core:date format="%b %d %Y">{$member_seen}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$member_seen}</core:date></span></td></tr>
						<tr><td><strong>{$L_REGISTERED}:</strong></td><td><core:date format="%b %d %Y">{$member_created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$member_created}</core:date></span></td></tr>
						<tr><td><strong>{$L_POSTS}:</strong></td><td>{$member_num_posts} ({$member_num_topics} {$L_TOPICS}, {$member_num_replies} {$L_REPLIES})</td></tr>
						<tr><td><strong>{$L_POSTINGSTATS}:</strong></td><td>{$member_posts_per_day}<br />{$member_posts_percent}</td></tr>
						<if:if var="member_num_posts" geq="1"><tr><td colspan="2" style="text-align:center;"><br /><a href="search.php?act=find&amp;author={$member_name}&amp;exact=1" class="smalltext" title="{$L_FINDPOSTSBYUSER}" style="font-weight: bold;">{$L_FINDPOSTSBYUSER}</a><br /><br /></td></tr></if:if>
						<list:list id="member_profilefields">
						<list:item list="member_profilefields">
						<tr><td><strong>{$title}:</strong></td><td>{$value}</td></tr>
						</list:item>
						</list:list>
						<tr>
							<td><strong>{$L_COMMUNICATE}:</strong></td>
							<td>
								<if:if var="member_aim" noteq=""><img src="Images/{$IMG_DIR}/Buttons/aim_small.gif" border="0" /> </if:if>
								<if:if var="member_icq" noteq=""><img src="Images/{$IMG_DIR}/Buttons/icq_small.gif" border="0" /> </if:if>
								<if:if var="member_jabber" noteq=""><img src="Images/{$IMG_DIR}/Buttons/jabber_small.gif" border="0" /> </if:if>
								<if:if var="member_msn" noteq=""><img src="Images/{$IMG_DIR}/Buttons/msn_small.gif" border="0" /> </if:if>
								<if:if var="member_yahoo" noteq=""><img src="Images/{$IMG_DIR}/Buttons/yahoo_small.gif" border="0" /> </if:if>
								<if:if var="member_googletalk" noteq=""><img src="Images/{$IMG_DIR}/Buttons/googletalk_small.gif" border="0" /></if:if>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td class="alt1">&nbsp;</td>
			<td width="70%" class="alt1" valign="top">
				
				<if:if var="member_picture" eq="1">
				<div class="header_text"><strong>{$L_PERSONALPICTURE}:</strong></div>
				<img src="viewfile.php?act=picture&amp;id={$member_id}" alt="{$member_name}" border="" />
				<br />
				</if:if>

				<table width="100%" cellspacing="0" cellpadding="0">
					<tr>
						
						<if:if var="member_avatar" eq="1">
						<td>
							<div class="header_text"><strong>{$L_AVATAR}:</strong></div>
							<img src="viewfile.php?act=avatar&amp;id={$member_id}" alt="" border="" />
						</td>
						<td>&nbsp;</td>
						</if:if>
						<td width="100%">
							<div class="header_text"><strong>{$L_SIGNATURE}:</strong></div>
							<if:if var="member_signature" noteq="">
							{$member_signature}
							<if:else />
							{$L_NOINFORMATION}
							</if:if>
						</td>
					</tr>
				</table>
				
				<div class="header_text"><strong>{$L_USERGROUPS}</strong></div>
				<list:list id="member_usergroups">
				<select name="member_usergroups" id="member_usergroups" class="inputbox">
					<list:item list="member_usergroups">
					<option value="{$id}" style="color:#{$color};font-weight:bold;">{$name}</option>
					<list:separator list="member_usergroups"><br /></list:separator>
					</list:item>
				</select>
				<input type="button" value="{$L_GO}" class="button" onclick="var s = document.getElementById('member_usergroups');document.location='usergroups.php?id=' + s[s.selectedIndex].value;" />
				</list:list>

			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
<!-- / User Profile -->