<!-- Main Navigation -->
<div class="outset_box_small" align="right">
	<table width="100%" cellpadding="3" cellspacing="0" border="0">
		<tr>
			<td align="right">
				<a href="index.php" title="{$L_HOME}">{$L_HOME}</a> 
				<if:if var="enableblogs" eq="1">| <a href="blogs.php" title="{$L_BLOGS}">{$L_BLOGS}</a></if:if>
				<if:if var="enablememberlist" eq="1">| <a href="member.php?act=list&amp;start=0&amp;limit=30&amp;sort=*" title="{$L_MEMBERLIST}">{$L_MEMBERLIST}</a></if:if>
				<if:if var="enablesearches" eq="1">| <a href="search.php" title="{$L_SEARCH}">{$L_SEARCH}</a></if:if>
				| <a href="faq.php" title="{$L_FAQ}">{$L_FAQ}</a>
				| <a class="nav_top" id="quicklinks_link" title="{$L_QUICKLINKS}">{$L_QUICKLINKS}</a>
				<is:logged>| <a href="{$logout_link}" title="{$L_LOGOUT}">{$L_LOGOUT} [<strong>{$user_name}</strong>]</a></is:logged>
				<is:unlogged>| <a href="member.php?act=register" title="{$L_REGISTER}">{$L_REGISTER}</a>
				| <a href="member.php?act=login" title="{$L_LOGIN}">{$L_LOGIN}</a></is:unlogged>
				<is:admin> | <a href="admin_index.php" id="admin_link" target="_blank" title="{$L_ADMINPANEL}"><strong>{$L_ADMINPANEL}</strong></a></is:admin>
			</td>
		</tr>
	</table>
</div>
<!-- / Main Navigation -->