<div class="spacer">
	<div class="header"><div class="title">{$L_MOVETOPICS}</div></div>
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3" colspan="8">
				<form action="mod.php?act=move_topics" method="post" enctype="multipart/form-data">
				<div style="text-align: left;">
					<label for="movetrack"><input type="radio" name="action" value="movetrack" id="movetrack" checked="checked" /> {$L_MOVEWITHTRACKER}</label><br />
					<label for="move"><input type="radio" name="action" value="move" id="move" /> {$L_MOVEWITHOUTTRACKER}</label><br />
					<label for="copy"><input type="radio" name="action" value="copy" id="copy" /> {$L_COPYTOFORUM}</label>
				</div>
				<input type="hidden" name="id" value="{$forum_id}" />
				<input type="hidden" name="topics" id="topics" value="{$topics}" />
				<br />
				<div style="text-align: center;">
					<strong>{$L_MOVETOFORUM}:</strong>
					<select name="forum" class="inputbox">
					<list:list id="all_forums">
					<list:item list="all_forums">
						<if:if var="row_type" eq="2">
							<maps:if forum="forum_id" method="can_view">
								<if:if var="is_forum" geq="0">
									<option value="{$forum_id}">{$indent_level}{$name}</option>
								</if:if>
							</maps:if>
						<if:else />
							<maps:if forum="forum_id" method="can_view">
								<optgroup label="{$indent_level}{$name}" />
							</maps:if>
						</if:if>
					</list:item>
					</list:list>
					</select>
					<br /><br />
					<input type="submit" value="{$L_MOVECOPY} (0)" id="performact_button" class="button" />
					<br /><br />
				</div>
				</form>
			</td>
		</tr>
		<tr>
			<td class="subheader" width="5%" colspan="2">&nbsp;</td>
			<td class="subheader" align="center" width="70%">{$L_TOPICS}/{$L_AUTHOR}</td>
			<td class="subheader" align="center" nowrap="nowrap">&nbsp;{$L_REPLIES}&nbsp;</td>
			<td class="subheader" align="center" nowrap="nowrap">&nbsp;{$L_VIEWS}&nbsp;</td>
			<td class="subheader" align="center" nowrap="nowrap" width="20%">&nbsp;{$L_LASTPOST}&nbsp;</td>
			<td class="subheader" width="3%">&nbsp;{$L_INFO}&nbsp;</td>
			<td class="subheader" style="text-align: center;">&nbsp;{$L_SELECT}&nbsp;</td>
		</tr>
		<list:list id="topics">
		<list:item list="topics">
		<list:switch list="topics" var="row_class" a="alt1" b="alt2">
		<core:import id="topic_view" file="topic_view.html" />
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>