				<is:unlogged>
				<!-- Poster Name -->
				<div class="subheader"><label for="poster_name">{$L_YOURNAME}</label></div>
				<div class="spacer">
					<div class="alt4">
						<input type="text" name="poster_name" id="poster_name" value="{$poster_name}" tabindex="1" size="{$maxuserlength}" class="inputbox" maxlength="{$maxuserlength}" />
					</div>
				</div>
				<!-- / Poster Name -->
				</is:unlogged>
				
				<maps:if forum="forum_forum_id" var="emoticons" method="can_add">
				<list:list id="emoticons">
				<if:if var="can_wysiwyg" eq="0">
				<!-- Emoticons -->
				<div class="subheader">{$L_EMOTICONS}</div>
				<div class="spacer">
					<div class="alt4" style="text-align:center;">
						<table border="0" cellspacing="0">
							<tr>
								<td>
									<table cellpadding="3" cellspacing="{$style_cellspacing}" id="posticons">
										<tr>
											<list:item list="emoticons">
											<td align="center">
												<a href="javascript:;" onclick="do_emoticon('{$editor_input_id}','{$image}','{$typed}')" title="{$description}"><img src="tmp/upload/emoticons/{$image}" alt="{$description}" border="0" /></a>
											</td>
											<list:separator list="emoticons">
												<list:alternate list="emoticons" count="{@emoticons_per_row}" remainder="{@emoticons_per_row_remainder}">
													</tr><tr>
												</list:alternate>
											</list:separator>
											</list:item>
										</tr>	
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- / Emoticons -->
				</if:if>
				</list:list>
				</maps:if>
				
				<maps:if forum="forum_forum_id" var="posticons" method="can_add">
				<list:list id="posticons">
				<!-- Post Icons -->
				<div class="subheader">{$L_POSTICONS}</div>
				<div class="spacer">
					<div class="alt4">
						<span class="smalltext">{$L_POSTICONSPOSTCHOOSE}<br /><br /></span>
						<table cellpadding="3" cellspacing="{$style_cellspacing}" id="posticons">
							<tr>
								<td colspan="2"><label for="noicon"><input type="radio" name="posticon" id="noicon" value="clear.gif" checked="checked" onclick="swap_posticon(null)" />&nbsp;{$L_NOICON}</label></td>
							</tr>
							<tr>
								<list:item list="posticons">
								<td nowrap="nowrap">
									<label for="pi{$id}">
										<input type="radio" name="posticon" id="pi{$id}" value="{$image}" onclick="swap_posticon('pi_{$id}')" />&nbsp;&nbsp;<img src="tmp/upload/posticons/{$image}" alt="{$description}" id="pi_{$id}" />
									</label>
								</td>
								<list:separator list="posticons">
									<list:alternate list="posticons" count="2" remainder="1">
										</tr><tr>
									</list:alternate>
								</list:separator>
								</list:item>
							</tr>	
						</table>
					</div>
				</div>
				<!-- / Post Icons -->
				</list:list>
				</maps:if>