<if:if var="forum_forum_rules" noteq="">
<!-- Forum Rules -->
<div class="forumrules">
<strong style="color:#FF0000;">{$L_FORUMRULES}:</strong>
<br /><br />
{$forum_forum_rules}
</div>
<!-- / Forum Rules -->
<br />
</if:if>
<core:import id="drafts" />
<core:import id="preview" />
<form:form name="postreply_form" id="potreply_form" action="{$newreply_act}" method="post" enctype="multipart/form-data">
<input type="hidden" name="forum_id" value="{$reply_forum_id}" />
<input type="hidden" name="topic_id" value="{$reply_topic_id}" />
<core:block id="parent_id" hidden="yes"><input type="hidden" name="parent_id" value="{$parent_id}" /></core:block>
<core:block id="reply_id" hidden="yes"><input type="hidden" name="reply_id" value="{$reply_id}" /></core:block>
<script type="text/javascript">
// <!--

function showTable(Id) {
	var the_tr = document.getElementById(Id);
	if(the_tr.style.display == 'block')
		return the_tr.style.display = 'none';
	else
		return the_tr.style.display = 'block';
}
function swap_posticon(imgid) {
	var out = document.getElementById("display_posticon");
	var img	= document.getElementById(imgid);
	if (img) {
		out.src = img.src;
		out.alt = img.alt;
	} else {
		out.src = "tmp/upload/posticons/clear.gif";
		out.alt = "";
	}
}
function emoticon(typed) {
	var editor	= document.getElementById('messagecodex');
	editor.value += ' ' + typed;
}

<maps:if forum="forum_id" var="bbcode" method="can_add">
<core:import id="bbcode" file="bbcode.js" />
</maps:if>
// -->
</script>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<core:block id="post_reply">
	<tr class="thead" colspan="2">
		<td colspan="2">
			<div style="float:right;" class="smalltext">
				<strong>{$L_REPLY}:</strong>
				<a href="findpost.php?id={$parent_id}" class="smalltext" style="font-weight: normal;" title="{$parent_name}">{$parent_name}</a>
			</div>
			{$L_POSTREPLY}
		</td>
	</tr>
	</core:block>
	<core:block id="edit_post" hidden="yes">
	<tr class="thead" colspan="2">
		<td colspan="2">
			<div style="float:right;" class="smalltext">
				<strong>{$L_REPLY}:</strong>
				<a href="findpost.php?id={$reply_id}" class="smalltext" style="font-weight: normal;" title="{$reply_name}">{$reply_name}</a>
			</div>
			{$L_EDITPOST} : <span style="font-weight: normal;">{$reply_name}</span><input type="hidden" name="post_id" value="{$post_id}" />
		</td>
	</tr>
	</core:block>
	<tr class="panel">
		<td colspan="2" align="center">
			
			<!-- Main Posting Inputs -->
			<div class="outset_box" align="left">
				<span class="smalltext" style="float: right;">
					{$L_LOGGEDAS}
					<is:logged>
					<a href="member.php?id={$user_id}" style="text-decoration: underline;">{$user_name}</a>
					<if:else />
					<strong>{$L_GUEST}</strong>
					</is:logged>
				</span>
				<table border="0" cellpadding="0" cellspacing="0">
					<is:unlogged>
					<tr>
						<td>
							<!-- Poster Name -->
							<label for="poster_name" class="smalltext">{$L_YOURNAME}</label><br />
							<input type="text" name="poster_name" id="poster_name" value="{$poster_name}" size="{$maxuserlength}" class="inputbox" maxlength="{$maxuserlength}" />
							<!-- / Poster Name -->
						</td>
						<td valign="bottom">
							<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
						</td>
					</tr>
					</is:unlogged>
					<tr>
						<td>
							<!-- Post Title -->
							<label for="name" class="smalltext">{$L_POSTTITLE}</label><br />
							<input type="text" name="name" id="name" value="{$reply_name}" style="width: 500px;" class="inputbox" maxlength="255" />
							<form:error id="name_error" for="name" setclass="inputfailed" regex=".+">{$L_INSERTTOPICNAME}</form:error>
							<!-- / Post Title -->
						</td>
						<td valign="bottom">
							<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
						</td>
					</tr>
					<tr>
						<td>
							<br />
							<!-- Post Message -->
							<label for="messagecodex" class="smalltext">{$L_POST}</label><br />
							<if:if var="allowbbcode" eq="1">
								<maps:if forum="forum_id" var="bbcode" method="can_add">
									<script type="text/javascript">
										try { bbcodex_init('message', 'message', 10, 100, 'bbcode_button'); } catch(e) { alert(e.message); }
									</script>
								</maps:if>
							</if:if>
							<textarea name="message" id="messagecodex" class="inputbox" rows="10" cols="100" wrap="SOFT" style="width: 500px;">{$reply_body_text}</textarea>
							<form:error id="messagecodex_error" for="messagecodex" setclass="inputfailed" regex="(\n|\r\n|\r|.)+">{$L_INSERTTOPICMESSAGE}</form:error>
							<!-- / Post Message -->

						</td>
						<td valign="bottom">
							<maps:if forum="forum_id" var="emoticons" method="can_add">
							<list:list id="emoticons">
							
							<!-- Emoticons -->
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<fieldset>
											<legend>{$L_EMOTICONS}</legend>
											<table cellpadding="3" cellspacing="1" border="0" id="posticons">
												<tr>
													<list:item list="emoticons">
													<td align="center">
														<a href="javascript:emoticon('{$typed}')" title="{$description}"><img src="tmp/upload/emoticons/{$image}" alt="{$description}" border="0" /></a>
													</td>
													<list:separator list="emoticons">
														<list:alternate list="emoticons" count="{@emoticons_per_row}" remainder="{@emoticons_per_row_remainder}">
															</tr><tr>
														</list:alternate>
													</list:separator>
													</list:item>
												</tr>	
											</table>
										</fieldset>
									</td>
								</tr>
							</table>
							<!-- / Emoticons -->

							</list:list>
							</maps:if>
						</td>
					</tr>
					<maps:if forum="forum_id" var="posticons" method="can_add">
					<tr>
						<td colspan="2">
							<list:list id="posticons">
							
							<!-- Post Icons -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td>
										<fieldset>
											<legend>{$L_POSTICONS}</legend>
											<span class="smalltext">{$L_POSTICONSPOSTCHOOSE}</span>
											<label for="noicon" style="float: left;margin-top: 10px;"><input type="radio" name="posticon" id="noicon" value="clear.gif" checked="checked" onclick="swap_posticon(null)" />&nbsp;{$L_NOICON}</label>
											<table cellpadding="3" cellspacing="1" border="0" id="posticons">
												<tr>
													<list:item list="posticons">
													<td align="center">
														<label for="pi{$id}">
															<input type="radio" name="posticon" id="pi{$id}" value="{$image}" style="float: left;padding-right: 5px;" onclick="swap_posticon('pi_{$id}')" />&nbsp;&nbsp;<img src="tmp/upload/posticons/{$image}" alt="{$description}" id="pi_{$id}" style="margin-right:15px;" />
														</label>
													</td>
													<list:separator list="posticons">
														<list:alternate list="posticons" count="7" remainder="6">
															</tr><tr>
														</list:alternate>
													</list:separator>
													</list:item>
												</tr>	
											</table>
										</fieldset>
									</td>
								</tr>
							</table>
							<!-- / Post Icons -->

							</list:list>
						</td>
					</tr>
					</maps:if>
				</table>
			</div>
			<!-- / Main Posting Inputs -->

		</td>
	</tr>
	<tr class="tcat">
		<td align="left" colspan="2">
			<input type="submit" name="submit" class="button" value="{$L_SUBMIT}" accesskey="s" />
			<maps:if forum="forum_id" var="post_preview" method="can_add">
				<input type="submit" name="submit" class="button" value="{$L_PREVIEW}" />
			</maps:if>
			<input type="reset" class="button" value="{$L_RESET}" />
		</td>
	</tr>
</table>
<br />

<!-- Additional Post Options -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td>
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_po', 'postoptions')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_po" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_ADDITIONALOPTIONS}
		</td>
	</tr>
	<tbody id="postoptions">
		<tr class="panel">
			<td>
				<div class="outset_box">
					<fieldset>
						<legend>{$L_MISCOPTIONS}</legend>
						<maps:if forum="forum_id" var="html" method="can_add"><input type="checkbox" name="disable_html" id="disable_html" checked="checked" />&nbsp;<label for="disable_html">{$L_DISABLEHTML}</label><br /></maps:if>
						<input type="checkbox" name="disable_bbcode" id="disable_bbcode" />&nbsp;<label for="disable_bbcode">{$L_DISABLEBBCODE}</label><br />
						<input type="checkbox" name="disable_emoticons" id="disable_emoticons" />&nbsp;<label for="disable_emoticons">{$L_DISABLEEMOTICONS}</label><br />
						<input type="checkbox" name="disable_aurls" id="disable_aurls" />&nbsp;<label for="disable_aurls">{$L_PARSEURLS}</label><br />
						<is:logged><input type="checkbox" name="enable_sig" id="enable_sig" checked="checked" />&nbsp;<label for="enable_sig">{$L_ATTACHSIGNATURE}</label><br />
						<input type="checkbox" name="disable_areply" id="disable_areply" />&nbsp;<label for="disable_areply">{$L_NOTIFYONREPLY}</label></is:logged>
					</fieldset>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Additional Post Options -->

</form:form>
<br />

<!-- Topic Review -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td>
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_tr', 'topicreview')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_tr" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_TOPICREVIEW} - {$reply_name}
		</td>
	</tr>
	<tbody id="topicreview">
		<tr class="panel">
			<td>
				<div style="height: 300px; overflow: auto;">
					<list:list id="topic_review">
					<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
					<tr class="tcat">
						<td width="20%"><div align="center">{$L_AUTHOR}</div></td>
						<td width="80%"><div align="center">{$L_MESSAGE}</div></td>
					</tr>
					<list:item list="topic_review">

					<maps:if var="replies" forum="reply_forum_id" method="can_view">
					<list:sublist list="topic_review" id="replies" column="replies">
					<list:item list="replies">

					<!-- Reply: {$name} -->
					<core:import id="reply" file="post_review.html" />
					<tr class="alt2">
						<td colspan="2"><div style="height: 2px;font-size: 2px;"></div></td>
					</tr>
					<!-- / Reply: {$name} -->
					</list:item>
					</list:sublist>
					
					<!-- Topic: {$name} -->
					<core:import id="topic" file="post_review.html" />
					<!-- / Topic: {$name} -->

					</maps:if>
					</list:item>
					</table>
					</list:list>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Topic Review -->

<br />
<!-- Posting Code Allowances -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_pr', 'postingrules')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_pr" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_POSTINGRULES}
		</td>
	</tr>
	<tbody id="postingrules">
		<tr class="panel">
			<td valign="top">
				<div align="left" class="minitext">
					{$posting_code_options}
				</div>
			</td>
			<td valign="top">
				<div align="right" class="minitext">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td valign="top">
								{$forum_user_reply_options}
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Posting Code Allowances -->

<core:block id="edit_reply" hidden="yes">
<!-- Edit Reply Javascript -->
<script type="text/javascript">
	// <!-- 

	/**
	 * Get the main posting options
	 */
	
	try {
		<maps:if forum="forum_id" var="html" method="can_add">var disable_html			= document.getElementById('disable_html');</maps:if>
		var disable_bbcode			= document.getElementById('disable_bbcode');
		var disable_emoticons		= document.getElementById('disable_emoticons');
		var disable_aurls			= document.getElementById('disable_aurls');
		var enable_sig				= document.getElementById('enable_sig');
		var disable_areply			= document.getElementById('disable_areply');
		
		<maps:if forum="forum_id" var="html" method="can_add">disable_html.checked		= ({$reply_disable_html} == 1) ? true : false;</maps:if>
		disable_bbcode.checked		= ({$reply_disable_bbcode} == 1) ? true : false;
		disable_emoticons.checked	= ({$reply_disable_emoticons} == 1) ? true : false;
		disable_aurls.checked		= ({$reply_disable_aurls} == 1) ? true : false;
		enable_sig.checked			= ({$reply_disable_sig} == 1) ? false : true;
		disable_areply.checked		= ({$reply_disable_areply} == 1) ? true : false;
	
	} catch(e) {
		alert(e.message);
	}


	/**
	 * Get the post icons
	 */
	setRadio('{$reply_posticon}', 'posticon');

	var pi_image	= document.getElementById('display_posticon');
	pi_image.src	= 'tmp/upload/posticons/{$reply_posticon}';

	// -->
</script>
<!-- / Edit Reply Javascript -->
</core:block>