<core:import id="forum_rules" file="forum_rules.html" />
<core:import id="drafts" />
<core:import id="preview" />

<form:form name="savepost_form" id="savepost_form" action="{$newtopic_action}" method="post" enctype="multipart/form-data">
<input type="hidden" name="forum_id" id="forum_id" value="{$forum_forum_id}" />

<!-- AJAX Reply Preview -->
<div id="ajax_post_preview" style="display: none;"></div>
<!-- / AJAX Reply Preview -->

<core:block id="post_id" hidden="yes"><input type="hidden" name="post_id" id="post_id" value="{$post_post_id}" /></core:block>
<!-- Post Topic Form -->

<div class="header">
	<div class="title">
		<div style="float:right;" class="smalltext">
			<strong>{$L_FORUM}:</strong>
			<a href="viewforum.php?id={$forum_forum_id}" class="smalltext" style="font-weight: normal;" title="{$forum_name}">{$forum_name}</a>
		</div>
		<core:block id="post_topic" hidden="yes">
		{$L_POSTTOPIC}
		</core:block>
		<core:block id="edit_post" hidden="yes">
		{$L_EDITPOST}: <span style="font-weight: normal;">{$post_name}</span>
		</core:block>
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="">
		<tr>
			<td rowspan="2" valign="top" style="padding:0px;margin:0px;border:0px;">
				
				<is:unlogged>
				<!-- Poster Name -->
				<div class="subheader"><label for="poster_name">{$L_YOURNAME}</label></div>
				<div class="spacer">
					<div class="alt4">
						<input type="text" name="poster_name" id="poster_name" value="{$poster_name}" tabindex="1" size="{$maxuserlength}" class="inputbox" maxlength="{$maxuserlength}" />
					</div>
				</div>
				<!-- / Poster Name -->
				</is:unlogged>
				
				<maps:if forum="forum_forum_id" var="emoticons" method="can_add">
				<list:list id="emoticons">
				<if:if var="can_wysiwyg" eq="0">
				<!-- Emoticons -->
				<div class="subheader">{$L_EMOTICONS}</div>
				<div class="spacer">
					<div class="alt4" style="text-align:center;">
						<table border="0" cellspacing="0">
							<tr>
								<td>
									<table cellpadding="3" cellspacing="{$style_cellspacing}" id="posticons">
										<tr>
											<list:item list="emoticons">
											<td align="center">
												<a href="javascript:emoticon('{$typed}')" title="{$description}"><img src="tmp/upload/emoticons/{$image}" alt="{$description}" border="0" /></a>
											</td>
											<list:separator list="emoticons">
												<list:alternate list="emoticons" count="{@emoticons_per_row}" remainder="{@emoticons_per_row_remainder}">
													</tr><tr>
												</list:alternate>
											</list:separator>
											</list:item>
										</tr>	
									</table>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- / Emoticons -->
				</if:if>
				</list:list>
				</maps:if>
				
				<maps:if forum="forum_forum_id" var="posticons" method="can_add">
				<list:list id="posticons">
				<!-- Post Icons -->
				<div class="subheader">{$L_POSTICONS}</div>
				<div class="spacer">
					<div class="alt4">
						<span class="smalltext">{$L_POSTICONSPOSTCHOOSE}<br /><br /></span>
						<table cellpadding="3" cellspacing="{$style_cellspacing}" id="posticons">
							<tr>
								<td colspan="2"><label for="noicon"><input type="radio" name="posticon" id="noicon" value="clear.gif" checked="checked" onclick="swap_posticon(null)" />&nbsp;{$L_NOICON}</label></td>
							</tr>
							<tr>
								<list:item list="posticons">
								<td nowrap="nowrap">
									<label for="pi{$id}">
										<input type="radio" name="posticon" id="pi{$id}" value="{$image}" onclick="swap_posticon('pi_{$id}')" />&nbsp;&nbsp;<img src="tmp/upload/posticons/{$image}" alt="{$description}" id="pi_{$id}" />
									</label>
								</td>
								<list:separator list="posticons">
									<list:alternate list="posticons" count="2" remainder="1">
										</tr><tr>
									</list:alternate>
								</list:separator>
								</list:item>
							</tr>	
						</table>
					</div>
				</div>
				<!-- / Post Icons -->
				</list:list>
				</maps:if>

			</td>
			<td rowspan="2" style="padding:0px;margin:0px;border:0px;">&nbsp;</td>
			<td width="80%" class="alt3" valign="top">
				
				<!-- Main Posting Inputs -->
				<span class="smalltext" style="float: right;">
					{$L_LOGGEDAS}
					<is:logged>
					<a href="member.php?id={$user_id}" style="text-decoration: underline;">{$user_name}</a>
					<if:else />
					<strong>{$L_GUEST}</strong>
					</is:logged>
				</span>
				<table border="0" cellspacing="0" cellspacing="0" width="100%" class="">
					<tr>
						<td>
							<!-- Post Title -->
							<label for="name" class="smalltext">{$L_POSTTITLE}</label><br />
							<input type="text" name="name" id="name" value="{$post_name}" tabindex="2" style="width: 99%;" class="inputbox" maxlength="255" />
							<form:error id="name_error" for="name" setclass="inputfailed" regex=".{{$topicminchars},{$topicmaxchars}}">{$L_TITLETOOSHORT}</form:error>
							<!-- / Post Title -->
						</td>
						<td valign="bottom">
							<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
						</td>
					</tr>
					<tr>
						<td>
							<br />
							<!-- Post Message -->
							<label for="{$editor_input_id}" class="smalltext">{$L_POST}</label><br />
							
							<core:import id="editor" file="editor.html" />
							<form:error id="{$editor_input_id}_error" for="{$editor_input_id}" setclass="inputfailed" regex="(\n|\r\n|\r|.)+">{$L_INSERTTOPICMESSAGE}</form:error>

							<!-- / Post Message -->

						</td>
					</tr>
				</table>
				<!-- / Main Posting Inputs -->

			</td>
		</tr>
		<tr>
			<td class="base3" style="text-align: center;">
				<input type="hidden" name="submit_type" id="submit_type" value="" />
				<input <if:if var="nojs" eq="1">name="post"</if:if> type="submit" class="button" value="{$L_SUBMIT}" accesskey="s" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'post'); }" />
				<core:block id="save_draft">
				<is:logged>
					<maps:if forum="forum_forum_id" var="post_save" method="can_add">
						<input <if:if var="nojs" eq="1">name="draft"</if:if> type="submit" class="button" value="{$L_SAVEDRAFT}" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'draft'); }" />
					</maps:if>
				</is:logged>
				</core:block>
				<maps:if forum="forum_forum_id" var="post_preview" method="can_add">
					<input <if:if var="nojs" eq="1">name="preview"</if:if> type="<if:if var="nojs" eq="0">button<if:else />submit</if:if>" class="button" value="{$L_PREVIEW}" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'preview');setSendPostPreview('{$newtopic_action}', '{$editor_input_id}'); }" />
				</maps:if>
				<core:block id="load_button" hidden="yes">
				<if:if var="nojs" eq="0"><input type="button" class="button" value="{$L_LOADDRAFT}" onclick="document.location='newtopic.php?id={$forum_forum_id}&load_drafts=1'" /><if:else /><a href="newtopic.php?id={$forum_forum_id}&load_drafts=1" title="{$L_LOADDRAFT}">{$L_LOADDRAFT}</a></if:if>
				</core:block>
				<input type="reset" class="button" value="{$L_RESET}" />
			</td>
		</tr>
	</table>
</div>
<!-- / Post Topic Form -->

<core:import id="post_options" file="post_options.html" />

</form:form>

<core:import id="post_attachments" file="post_attachments.html" />

<!-- Posting Code Allowances -->
<div class="subheader" id="pr_maintitle">
	<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_pr', 'postingrules', 'pr_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_pr" src="Images/{$IMG_DIR}/Icons/collapse_thead<if:if var="nojs" eq="0">_collapsed</if:if>.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
	{$L_POSTINGRULES}
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="postingrules" <if:if var="nojs" eq="0">style="display: none;"</if:if>>
		<tr>
			<td class="alt3" valign="top">
				<div align="left" class="minitext">
					{$posting_code_options}
				</div>
			</td>
			<td class="alt3" valign="top">
				<div align="right" class="minitext">
					<table cellspacing="0">
						<tr>
							<td valign="top">
								{$forum_user_reply_options}
							</td>
							<td>&nbsp;&nbsp;</td>
							<td valign="top">
								{$forum_user_topic_options}
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- / Posting Code Allowances -->

<div class="footer_block"><div>&nbsp;</div></div>

<core:block id="edit_topic" hidden="yes">
<!-- Edit Topic Javascript -->
<script type="text/javascript">
//<![CDATA[ 

	/**
	 * Get the main posting options
	 */
	
	try {
		<maps:if forum="forum_forum_id" var="html" method="can_add">var disable_html			= d.getElementById('disable_html');</maps:if>
		//var disable_bbcode			= d.getElementById('disable_bbcode');
		var disable_emoticons		= d.getElementById('disable_emoticons');
		var disable_aurls			= d.getElementById('disable_aurls');
		var enable_sig				= d.getElementById('enable_sig');
		var disable_areply			= d.getElementById('disable_areply');
		
		<maps:if forum="forum_forum_id" var="html" method="can_add">disable_html.checked		= ({$post_disable_html} == 1) ? true : false;</maps:if>
		//disable_bbcode.checked		= ({$post_disable_bbcode} == 1) ? true : false;
		disable_emoticons.checked	= ({$post_disable_emoticons} == 1) ? true : false;
		disable_aurls.checked		= ({$post_disable_aurls} == 1) ? true : false;
		enable_sig.checked			= ({$post_disable_sig} == 1) ? false : true;
		disable_areply.checked		= ({$post_disable_areply} == 1) ? true : false;
		
		<maps:if var="sticky" method="can_add" forum="forum_forum_id">
		d.setRadio({$post_post_type}, 'post_type');
		</maps:if>
		<maps:if var="feature" method="can_add" forum="forum_forum_id">
		var feature					= d.getElementById('feature');
		feature.checked				= ({$post_is_feature} == 1) ? true : false;
		</maps:if>

	} catch(e) {
		alert(e.message);
	}


	/**
	 * Get the post icons
	 */
	d.setRadio('{$post_posticon}', 'posticon');

	var pi_image	= d.getElementById('display_posticon');
	pi_image.src	= 'tmp/upload/posticons/{$post_posticon}';

//]]>
</script>
<!-- / Edit Topic Javascript -->
</core:block>