<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_LISTMESSAGES}: <span style="font-weight: normal;">{$folder_name}</span></div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<fieldset>
						<legend>{$L_FOLDEROPTIONS}</legend>
						<span class="smalltext">{$L_PMSGSTATS} ({$pm_usedpercent}%)</span><br />
						<div style="border:1px solid #000000;padding:1px;width:99%;">
							<div style="width:100%;height:20px;background-color:green;" align="left">
								<div style="width:{$pm_usedpercent}%;height:20px;background-color:#FF0000;"></div>
							</div>
						</div>
						
						<hr />

						<div style="text-align: right;">
							<form action="member.php" method="get" enctype="multipart/form-data">
								<input type="hidden" name="act" value="usercp" />
								<input type="hidden" name="view" value="pmfolder" />
								{$L_FOLDERJUMP}:&nbsp;
								<select name="folder" id="folder" class="smalltext">
									<list:list id="pmfolders">
									<list:item list="pmfolders">
									<if:if var="id" noteq="folder_id"><option value="{$id}">&nbsp;&middot; {$name}</option><if:else /><option style="font-weight: bold;" value="{$id}">{$name}</option></if:if>
									</list:item>
									</list:list>
								</select>
								<input type="submit" value="{$L_GO}" class="button" />
							</form>
						</div>
					</fieldset>
				</div>
			</td>
		</tr>
	</table>
</div>
<br />
<form action="member.php?act=usercp&amp;view=pmperformact" method="post" enctype="multipart/form-data">
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_MESSAGES}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle">&nbsp;</td>
			<td class="k4_subtitle" width="60%">{$L_SUBJECT}/{$L_FROM}</td>
			<td class="k4_subtitle" width="3%" align="center">&nbsp;{$L_REPLIES}&nbsp;</td>
			<td class="k4_subtitle" width="30%" align="center">&nbsp;{$L_SENTON}&nbsp;</td>
			<td class="k4_subtitle" width="3%" align="center">&nbsp;{$L_SELECT}&nbsp;</td>
		</tr>
		<list:list id="pmessages">
		<list:default list="pmessages">
		<tr>
			<td class="alt3" colspan="5">
				<div class="outset_box" style="text-align: center;">
					<br />
					<strong>{$L_NOPRIVATEMESSAGES}</strong>
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="pmessages">
		<list:switch list="pmessages" var="row_class" a="alt1" b="alt3">
		<tr>
			<td class="alt3" style="text-align: center;"><img src="tmp/upload/posticons/{$posticon}" alt="" border="" /></td>
			<td class="{$row_class}">
				<a href="{$url}"><if:if var="member_has_read" eq="0"><strong></if:if><core:truncate length="40" append="...">{$name}</core:truncate></a><if:if var="member_has_read" eq="0"></strong></if:if></a><br />
				<span class="smalltext">{$L_FROM} <a href="member.php?id={$poster_id}" title="{$poster_name}">{$poster_name}</a></span>
			</td>
			<td class="alt2" style="text-align: center;"><a href="member.php?id={$poster_id}">{$num_replies}</a></td>
			<td class="{$row_class}" style="text-align: center;" nowrap="nowrap">
				<span class="smalltext"><core:date format="%b %d %Y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span></span>
			</td>
			<td class="alt2" style="text-align: center;">
				<span class="cbStyled" id="style_checkbox{$id}"><input type="checkbox" name="pmessage[]" id="pm{$topic_id}" value="{$id}" /></span>
			</td>
		</tr>
		</list:switch>
		</list:item>
		</list:list>
		<tr>
			<td class="k4_subtitle" colspan="5" style="text-align: right;">
				<select name="action" id="action" class="smalltext">
					<option value="delete">{$L_DELETEPMESSAGES}</option>
					<option value="move">{$L_MOVEPMESSAGES}</option>
				</select>
				<input type="submit" value="{$L_GO}" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>