<!-- Post Preview -->
		<tr>
			<td class="<if:if var="member_id" noteq="user_id">alt4<if:else />alt1</if:if>" width="20%">
				<div align="center">
					<if:if var="poster_id" greater="0">
					<strong><a href="member.php?id={$poster_id}" title="{$L_PROFILE}" style="color: #{$post_user_group_color}">{$poster_name}</a></strong>
					<if:else />
					<strong><if:if var="poster_name" eq="">{$L_GUEST}<if:else />{$poster_name}</if:if></strong>
					</if:if>
				</div>
			</td>
			<td class="<if:if var="member_id" noteq="user_id">alt4<if:else />alt3</if:if>" width="80%">
				<div style="float: right" class="smalltext">
					<core:date format="%b %d %y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
				</div>
				<div class="smalltext">
					<strong>{$L_POSTSUBJECT}:</strong> {$name}&nbsp;<img src="tmp/upload/posticons/{$posticon}" alt="" border="0" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="<if:if var="member_id" noteq="user_id">alt4<if:else />alt1</if:if>" width="20%" valign="top" rowspan="2">
				<div class="smalltext">
				<if:if var="poster_id" greater="0">
					<if:if var="post_user_avatar" eq="1"><if:if var="user_viewavatars" eq="1">
					<img src="viewfile.php?act=avatar&amp;id={$poster_id}" alt="" border="" />
					<br /><br />
					</if:if></if:if>
					{$post_user_group_nicename}<br />
					<if:if var="post_user_group_avatar" noteq="">
					<img src="tmp/upload/group_avatars/{$post_user_group_avatar}" border="0" alt="{$post_user_group_nicename}" />
					<br /><br />
					</if:if>
					<strong>{$L_JOINED}:</strong> <core:date format="%b %d %y">{$post_user_created}</core:date><br />
					<strong>{$L_POSTS}:</strong> {$post_user_num_posts}
					<if:if var="user_location" noteq="">
					<br /><strong>{$L_LOCATION}:</strong> {$post_user_location}
					</if:if>
				</if:if>
				</div>
			</td>
			<td class="<if:if var="member_id" noteq="user_id">alt4<if:else />alt3</if:if>" width="80%" id="topic{$id}" valign="top" style="height: 100px;">
				{$body_text}
				<if:if var="disable_sig" eq="0">
				<if:if var="post_user_signature" noteq="">
				<br /><br />
				<if:if var="user_viewsigs" eq="1">{$signatureseparator}{$post_user_signature}</if:if>
				</if:if>
				</if:if>
			</td>
		</tr>
		<tr>
		<td class="<if:if var="member_id" noteq="user_id">alt4<if:else />alt3</if:if>" width="80%" height="20">
			<div style="float: right">
				<maps:if var="pm_messages" method="can_add">
					<a href="member.php?act=usercp&amp;view=pmnewmessage&amp;reply={$pm_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/reply.gif" alt="{$L_POSTREPLY}" /></a>
					<maps:if var="pm_bbcode" method="can_add"><a href="member.php?act=usercp&amp;view=pmnewmessage&amp;reply={$pm_id}&amp;quote=1" title="{$L_QUOTE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/quote.gif" alt="{$L_QUOTE}" /></a></maps:if>
					<maps:if var="pm_messages" method="can_del"><a href="member.php?act=usercp&amp;view=pmdelmessage&amp;pm={$pm_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a></maps:if>
				</maps:if>
			</div>
		</td>
	</tr>
	<core:import id="post_separator" file="post_separator.html" />