<is:logged>
<form action="member.php?act=pm_movemessages" method="post" enctype="multipart/form-data">
<input type="hidden" name="original_folder" value="{$folder_id}" />
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle">{$L_MOVEPMSFROM}: <span style="font-weight: normal;">{$folder_name}</span></div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
			<tr>
				<td class="alt1" width="50%"><strong>{$L_DESTINATIONFOLDER}:</strong></td>
				<td class="alt3" width="50%">
					<select name="destination_folder">
						<list:list id="moveto_folders">
						<list:item list="moveto_folders">
						<option value="{$id}">{$name}</option>
						</list:item>
						</list:list>
					</select>
				</td>
			</tr>
			<tr>
				<td class="subtitle" style="text-align: center;" colspan="2">
					<input type="submit" value="{$L_MOVE}" class="button" />
					<input type="reset" value="{$L_RESET}" class="button" />
				</td>
			</tr>
		</table>
	</div>
</div>
<br />
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle">{$L_MESSAGES}</div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
			<tr>
				<td class="subtitle">&nbsp;</td>
				<td class="subtitle" width="60%">{$L_SUBJECT}/{$L_FROM}</td>
				<td class="subtitle" width="3%" align="center">&nbsp;{$L_REPLIES}&nbsp;</td>
				<td class="subtitle" width="30%" align="center">&nbsp;{$L_SENTON}&nbsp;</td>
				<td class="subtitle" width="3%" align="center">&nbsp;{$L_SELECT}&nbsp;</td>
			</tr>
			<list:list id="pmessages">
			<list:default list="pmessages">
			<tr>
				<td class="alt3" colspan="5">
					<div class="outset_box" style="text-align: center;">
						<br />
						<strong>{$L_NOPRIVATEMESSAGES}</strong>
						<br /><br />
					</div>
				</td>
			</tr>
			</list:default>
			<list:item list="pmessages">
			<list:switch list="pmessages" var="row_class" a="alt1" b="alt2">
			<tr>
				<td class="{$row_class}" style="text-align: center;"><img src="tmp/upload/posticons/{$posticon}" alt="" border="" /></td>
				<td class="{$row_class}">
					<a href="{$url}"><if:if var="member_has_read" eq="0"><strong></if:if><core:truncate length="40" append="...">{$name}</core:truncate></a><if:if var="member_has_read" eq="0"></strong></if:if></a><br />
					<span class="smalltext">{$L_FROM} <a href="member.php?id={$poster_id}" title="{$poster_name}">{$poster_name}</a></span>
				</td>
				<td class="{$row_class}" style="text-align: center;"><a href="member.php?id={$poster_id}">{$num_replies}</a></td>
				<td class="{$row_class}" style="text-align: center;" nowrap="nowrap">
					<span class="smalltext"><core:date format="%b %d %Y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span></span>
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<span class="cbStyled" id="style_checkbox{$id}"><input type="checkbox" name="pmessage[]" id="pm{$pm_id}" value="{$pm_id}" checked="checked" /></span>
				</td>
			</tr>
			</list:switch>
			</list:item>
			</list:list>
		</table>
	</div>
</div>
</form>
</is:logged>