<maps:if var="users" method="can_view">
<if:if var="post_user_id" noteq="0">
<div>
	<is:logged><if:if var="poster_id" greater="0"><a href="member.php?act=usercp&amp;view=pmnewmessage&amp;user={$poster_name}" title="{$L_PRIVMSG}"><img src="Images/{$IMG_DIR}/Buttons/{$LANG}/pm.gif" alt="{$L_PRIVMSG}" border="0" /></a></if:if></is:logged>
	<if:if var="post_user_aim" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/aim_small.gif" border="0" /></if:if>
	<if:if var="post_user_icq" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/icq_small.gif" border="0" /></if:if>
	<if:if var="post_user_jabber" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/jabber_small.gif" border="0" /></if:if>
	<if:if var="post_user_msn" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/msn_small.gif" border="0" /></if:if>
	<if:if var="post_user_yahoo" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/yahoo_small.gif" border="0" /></if:if>
	<if:if var="post_user_googletalk" noteq="">&nbsp;<img src="Images/{$IMG_DIR}/Buttons/googletalk_small.gif" border="0" /></if:if>
</div>
</if:if>
</maps:if>