<!-- Drafts -->
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_LOADDRAFT}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="alt3" colspan="3">
				<div align="center">
					{$L_DRAFTNOTICE}
				</td>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle">{$L_SAVEDON}</td>
			<td class="k4_subtitle">{$L_DRAFTTITLE}</td>
			<td class="k4_subtitle">{$L_OPTIONS}</td>
		</tr>
		<list:list id="drafts">
		<list:item list="drafts">
		<list:switch list="drafts" var="row_class" a="alt1" b="alt3">
		<tr>
			<td class="{$row_class}" width="20%">
				<span class="smalltext">
					<core:date format="%b %d %y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
				</span>
			</td>
			<td class="{$row_class}" width="60%">
				<strong>{$name}</strong><br />
				<span class="smalltext">
					{$L_FORUM}: <a href="viewforum.php?id={$forum_id}" title="{$forum_name}">{$forum_name}</a>
				</span>
			</td>
			<td class="{$row_class}" width="20%">
				<a href="newtopic.php?id={$forum_id}&amp;draft={$topic_id}" title="{$L_LOADDRAFT}">{$L_LOADDRAFT}</a>
				<br />
				<a href="newtopic.php?act=deletedraft&amp;id={$topic_id}" title="{$L_DELETEDRAFT}">{$L_DELETEDRAFT}</a>
			</td>
		</tr>
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<!-- / Drafts -->
<br />