			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<if:if var="poster_id" noteq="0">
					<td>
						<if:if var="avatarenabled" eq="1"><if:if var="post_user_avatar" eq="1"><if:if var="user_viewavatars" eq="1">
						<img src="viewfile.php?act=avatar&amp;id={$poster_id}" alt="" border="" />
						</if:if></if:if></if:if>
					</td>
					</if:if>
					<td class="smalltext" width="20%">
						<if:if var="poster_id" greater="0">
						<a href="#" title="{$L_PROFILE}" id="post_user_ddmenu_link{$post_id}" style="font-weight: bold;color: #{$post_user_group_color};font-size:14px;{$post_user_background}">{$poster_name}</a>
						<sup><img src="Images/{$IMG_DIR}/Icons/{$post_user_online}_small.gif" alt="<if:if var="post_user_online" eq="online">{$L_ONLINE}<if:else />{$L_OFFLINE}</if:if>" border="0" /></sup>
						<br />
						<if:if var="post_user_group_nicename" noteq="">{$post_user_group_nicename}<br /></if:if>
						<if:if var="post_user_group_avatar" noteq=""><img src="tmp/upload/group_avatars/{$post_user_group_avatar}" border="0" alt="{$post_user_group_nicename}" /></if:if>
						<if:if var="post_user_user_title" noteq=""><br />{$post_user_user_title}</if:if>
						<if:else />
						<strong><if:if var="poster_name" eq="">{$L_GUEST}<if:else />{$poster_name}</if:if></strong>
						<br /><span class="smalltext">{$L_GUEST}</span>
						</if:if>
						<core:import id="post_user_ddmenu" file="post_user_ddmenu.html" />
					</td>
					<if:if var="poster_id" noteq="0">
					<td class="smalltext" width="80%">
						<div align="right">
							<core:import id="post_user_ims" file="post_user_ims.html" />
							<strong>{$L_JOINED}:</strong> <core:date format="%b %d %Y">{$post_user_created}</core:date><br />
							<strong>{$L_POSTS}:</strong> <a href="search.php?act=find&author={$post_user_name}" title="{$L_FINDPOSTSBYUSER}">{$post_user_num_posts}</a>
							<if:if var="user_location" noteq="">
							<br /><strong>{$L_LOCATION}:</strong> {$post_user_location}
							</if:if>
							<list:sublist list="topic" id="profilefields" column="profilefields">
							<list:item list="profilefields">
							<br /><strong>{$title}:</strong></label>
							{$value}
							</list:item>
							</list:sublist>
						</div>
					</td>
					</if:if>
				</tr>
			</table>