	<!-- Post Review -->
	<tr>
		<td class="alt3" width="20%">
			<div align="center">
				<if:if var="poster_id" greater="0">
				<a href="member.php?id={$post_user_id}" title="{$L_PROFILE}"><strong style="color: #{$post_user_group_color}">{$poster_name}</strong></a>
				<if:else />
				<strong><if:if var="poster_name" eq="">{$L_GUEST}<if:else />{$poster_name}</if:if></strong>
				</if:if>
			</div>
		</td>
		<td class="alt3" width="80%">
			<div style="float: right" class="smalltext">
				<core:date format="%b %d %y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
			</div>
			<div class="smalltext">
				<strong>{$L_POSTSUBJECT}:</strong> {$name}&nbsp;<img src="tmp/upload/posticons/{$posticon}" alt="" border="0" />
			</div>
		</td>
	</tr>
	<tr>
		<td class="alt3" width="20%" valign="top" rowspan="2">
			<div class="smalltext">
			<if:if var="poster_id" greater="0">
				<strong>{$L_JOINED}:</strong> <core:date format="%b %d %y">{$post_user_created}</core:date><br />
				<strong>{$L_POSTS}:</strong> {$post_user_num_posts}
			</if:if>
			</div>
		</td>
		<td class="alt1" width="80%" id="topic{$id}" valign="top" style="height: 100px;">
			{$body_text}
			<textarea name="reverted_body_text" id="body_text_<if:if var="row_type" eq="8">r{$reply_id}<if:else />t{$topic_id}</if:if>" style="display: none;">{$reverted_body_text}</textarea>
			<if:if var="disable_sig" eq="0">
			<if:if var="post_user_signature" noteq="">
			<br /><br />
			<if:if var="user_viewsigs" eq="1">{$signatureseparator}{$post_user_signature}</if:if>
			</if:if>
			</if:if>
		</td>
	</tr>
	<maps:if forum="forum_forum_id" var="bbcode" method="can_add">
	<tr>
		<td class="alt3" height="20">
			<div align="right"><a href="javascript:;" onclick="add_review_quote('<if:if var="poster_name" eq="">{$L_GUEST}<if:else />{$poster_name}</if:if>', 'body_text_<if:if var="row_type" eq="8">r{$reply_id}<if:else />t{$topic_id}</if:if>', 'messagecodex')" title="{$L_QUOTE}"><img src="Images/{$IMG_DIR}/Buttons/{$LANG}/quote.gif" border="0" alt="{$L_QUOTE}" /></a></div>
		</td>
	</tr>
	</maps:if>
	<tr>
		<td colspan="2" class="subtitle"></td>
	</tr>
	<!-- / Post Review -->