<tr>
	<td nowrap="nowrap" class="base{$row_class}" valign="bottom">
		<if:if var="forum_id" noteq="garbage_bin_id">
		<div style="text-align: left;">
			<maps:if var="replies" forum="topic_forum_id" method="can_add">
				<a href="newreply.php?id={$parent_id}&amp;r={$post_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/reply.gif" alt="{$L_POSTREPLY}" /></a><maps:if forum="forum_id" var="bbcode" method="can_add"><a href="newreply.php?id={$post_id}&amp;r={$post_id}&amp;quote=1" title="{$L_QUOTE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/quote.gif" alt="{$L_QUOTE}" /></a></maps:if>
			</maps:if>
			<if:if var="post_user_id" eq="user_id">
				<maps:if var="replies" forum="topic_forum_id" method="can_edit"><a href="<if:if var="nojs" eq="1">newreply.php?act=editreply&amp;id={$post_id}<if:else />javascript:;</if:if>" title="{$L_EDIT}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/edit.gif" alt="{$L_EDIT}" id="edit_button_{$post_id}" /></a></maps:if>
				<maps:if var="replies" forum="topic_forum_id" method="can_del"><a href="mod.php?act=deletereply&amp;id={$post_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a></maps:if>
			<if:else />
				<maps:if var="other_replies" forum="topic_forum_id" method="can_edit"><a href="<if:if var="nojs" eq="1">newreply.php?act=editreply&amp;id={$post_id}<if:else />javascript:;</if:if>" title="{$L_EDIT}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/edit.gif" alt="{$L_EDIT}" id="edit_button_{$post_id}" /></a></maps:if>
				<maps:if var="other_replies" forum="topic_forum_id" method="can_del"><a href="mod.php?act=deletereply&amp;id={$post_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a></maps:if>
			</if:if>
		</div>
		<!-- Edit DD Menu -->
		<div id="edit_menu_{$post_id}" style="display: none;">
			<table cellspacing="{$style_cellspacing}" class="table">
				<tr><td class="alt1"><a class="smalltext" href="javascript:;" title="{$L_QUICKEDIT}" onclick="quickEditPost({$post_id}, '{$post_id}_body')">{$L_QUICKEDIT}</a></td></tr>
				<tr><td class="alt1"><a class="smalltext" href="newreply.php?act=editreply&amp;id={$post_id}" title="{$L_FULLEDIT}">{$L_FULLEDIT}</a></td></tr>
			</table>
		</div>
		<script type="text/javascript">menu_init('edit_button_{$post_id}', 'edit_menu_{$post_id}', true);</script>
		<!-- / Edit DD Menu -->
		<if:else />
		<a href="mod.php?act=deletereply&amp;id={$post_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a>
		</if:if>
	</td>
</tr>