<!-- Post Preview -->
<div class="spacer">
	<!--<div class="header">
		<if:if var="header_text" eq="">{$L_PREVIEW}<if:else />{$header_text}</if:if>
		<a name="preview" id="preview"></a>
	</div>-->
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subheader" width="20%"><div align="center">{$L_AUTHOR}</div></td>
			<td class="subheader" width="80%"><div align="center">{$L_MESSAGE}</div></td>
		</tr>
		<tr>
			<td class="alt1" width="20%">
				<div align="center">
					<if:if var="post_poster_id" greater="0">
					<strong style="color: #{$post_user_group_color}">{$post_poster_name}</strong>
					<if:else />
					<strong><if:if var="post_poster_name" eq="">{$L_GUEST}<if:else />{$post_poster_name}</if:if></strong>
					</if:if>
				</div>
			</td>
			<td class="alt3" width="80%">
				<div style="float: right" class="smalltext">
					<core:date format="%b %d %y">{$post_created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$post_created}</core:date></span>
				</div>
				<div class="smalltext">
					<strong>{$L_POSTSUBJECT}:</strong> {$post_name}&nbsp;<img src="tmp/upload/posticons/{$post_posticon}" alt="" border="0" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="20%" valign="top" rowspan="2">
				<div class="smalltext">
				<if:if var="post_poster_id" greater="0">
					<if:if var="post_user_avatar" eq="1"><if:if var="user_viewavatars" eq="1">
					<img src="viewfile.php?act=avatar&amp;id={$poster_id}" alt="" border="" />
					<br /><br />
					</if:if></if:if>
					{$post_user_group_nicename}<br />
					<if:if var="post_user_group_avatar" noteq="">
					<img src="tmp/upload/group_avatars/{$post_user_group_avatar}" border="0" alt="{$post_user_group_nicename}" />
					<br /><br />
					</if:if>
					<strong>{$L_JOINED}:</strong> <core:date format="%b %d %y">{$post_user_created}</core:date><br />
					<strong>{$L_POSTS}:</strong> {$post_user_num_posts}
					<if:if var="user_location" noteq="">
					<br /><strong>{$L_LOCATION}:</strong> {$post_user_location}
					</if:if>
				</if:if>
				</div>
			</td>
			<td class="alt3" width="80%" id="{$post_post_id}" valign="top" style="height: 100px;">
				{$post_body_text}
				<if:if var="disable_sig" eq="0">
				<if:if var="post_user_signature" noteq="">
				<br /><br />
				<if:if var="user_viewsigs" eq="1">{$signatureseparator}{$post_user_signature}</if:if>
				</if:if>
				</if:if>
			</td>
		</tr>
	</table>
</div>
<!-- / Post Preview -->