<maps:if var="attachments" method="can_add" forum="forum_forum_id">
<!-- Attachments Manager -->
<div class="subheader" id="am_title">
	<if:if var="nojs" eq="0"><div style="float:right;position:relative;"><a href="javascript:;" onclick="return collapse_tbody('collapse_am', 'attachmanage', 'am_title')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_am" src="Images/{$IMG_DIR}/Icons/collapse_thead<if:if var="nojs" eq="0">_collapsed</if:if>.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div></if:if>
	{$L_ATTACHMENTSMANAGER}
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="attachmanage" <if:if var="nojs" eq="0">style="display: none;"</if:if>>
		<tr>
			<td class="alt3">
				<if:if var="nojs" eq="0">
					<iframe name="attach_frame" id="attach_frame" src="misc.php?act=attachments_manager&amp;forum_id={$forum_forum_id}&amp;post_id={$attach_post_id}" frameborder="no" style="width:100%;height:135px;"></iframe>
				<if:else />
					<core:import id="post_attach_form" file="post_attach_form.html" />
				</if:if>
			</td>
		</tr>
	</table>
</div>
<!-- / Attachments Manager -->
</maps:if>