<maps:if var="replies" forum="topic_forum_id" method="can_add">
<br />

<!-- AJAX Reply Preview -->
<div id="ajax_post_preview" style="display: none;"></div>
<!-- / AJAX Reply Preview -->
<form:form name="savepost_form" id="savepost_form" action="{$newreply_act}" method="post" enctype="multipart/form-data">
<input type="hidden" name="topic_id" id="topic_id" value="{$topic_topic_id}" />
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle" id="qr_maintitle">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_quickreply', 'quickreply_form', 'qr_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_quickreply" src="Images/{$IMG_DIR}/Icons/collapse_thead_collapsed.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_QUICKREPLY}
		</div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table" id="quickreply_form" style="display: none;">
			<tr>
				<td class="alt3">
					<div class="outset_box">
						<!-- Post Message -->
						<label for="messagecodex" class="smalltext">{$L_MESSAGE}</label>
						<core:import id="editor" file="editor.html" />
						<form:error id="messagecodex_error" for="messagecodex" setclass="inputfailed" regex="(\n|\r\n|\r|.)+">{$L_INSERTREPLYMESSAGE}</form:error>
						<!-- / Post Message -->
					</div>
				</td>
			</tr>
			<tr>
				<td class="subtitle">
					<div style="text-align: center;">
						<input type="hidden" name="submit_type" id="submit_type" value="post" />
						<input type="<if:if var="nojs" eq="0">button<if:else />submit</if:if>" class="button" value="{$L_SUBMIT}" accesskey="s" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'post');saveQuickReply('savepost_form', 'messagecodex', '{$topic_topic_id}', '{$page}'); }" />
						<maps:if forum="topic_forum_id" var="post_preview" method="can_add">
							<input type="<if:if var="nojs" eq="0">button<if:else />submit</if:if>" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'preview');setSendPostPreview('{$newreply_act}'); }" class="button" value="{$L_PREVIEW}" />
						</maps:if>
						<input type="reset" class="button" value="{$L_RESET}" />
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
</form:form>
</maps:if>