<!-- Quick Links Drop Down Menu -->
<if:if var="nojs" eq="0">
<div id="quicklinks_menu" class="borderwrap" style="display: none;">
	<table cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subtitle" nowrap="nowrap">{$L_GENERAL}</td>
		</tr>
		<!--<if:if var="calendarenabled" eq="1">
		<tr>
			<td class="alt1"><a href="calendar.php" title="{$L_CALENDER}" class="smalltext">{$L_CALENDAR}</a></td>
		</tr>
		</if:if>-->
		<tr>
			<td class="alt1"><a href="usergroups.php" title="{$L_USERGROUPS}" class="smalltext">{$L_USERGROUPS}</a></td>
		</tr>
		<tr>
			<td class="alt1"><a href="search.php?act=find&amp;newposts=1&amp;daysprune={$user_last_seen_days}" title="{$L_NEWPOSTS}" class="smalltext">{$L_NEWPOSTS}</a></td>
		</tr>
		<is:logged>
		<tr>
			<td class="alt1"><a href="search.php?act=find&amp;author={$user_name}&amp;exact=1" title="{$L_MYPOSTS}" class="smalltext">{$L_MYPOSTS}</a></td>
		</tr>
		<tr>
			<td class="subtitle" nowrap="nowrap">{$L_USERCONTROLPANEL}</td>
		</tr>
		<tr>
			<td class="alt1"><a href="member.php?act=usercp" title="{$L_USERCONTROLPANEL}" class="smalltext">{$L_USERCONTROLPANEL}</a></td>
		</tr>
		<tr>
			<td class="alt1"><a href="member.php?act=profile" title="{$L_PROFILE}" class="smalltext">{$L_PROFILE}</a></td>
		</tr>
		</is:logged>
		<tr>
			<td class="subtitle">{$L_MISCELLANEOUS}</td>
		</tr>
		<is:logged><tr>
			<td class="alt1" nowrap="nowrap"><a href="member.php?act=usercp&amp;view=pmfolder&amp;folder=1" title="{$L_GOTOINBOX}" class="smalltext">{$L_GOTOINBOX}</a></td>
		</tr></is:logged>
		<tr>
			<td class="alt1" nowrap="nowrap"><a href="index.php?act=markforums" title="{$L_MARKFORUMSREAD}" class="smalltext">{$L_MARKFORUMSREAD}</a></td>
		</tr>
	</table>
</div>
<script type="text/javascript">menu_init('quicklinks_link', 'quicklinks_menu');</script>
<if:else />
<div class="alt2" style="text-align: left;border-top: 1px solid #FFFFFF;">
	<strong class="smalltext">{$L_QUICKLINKS}</strong>
	<if:if var="calendarenabled" eq="1">
	| <a href="calendar.php" title="{$L_CALENDER}" class="smalltext">{$L_CALENDAR}</a>
	</if:if>
	| <a href="usergroups.php" title="{$L_USERGROUPS}" class="smalltext">{$L_USERGROUPS}</a>
	| <a href="search.php?act=find&amp;newposts=1&amp;daysprune={$user_last_seen_days}" title="{$L_NEWPOSTS}" class="smalltext">{$L_NEWPOSTS}</a>
	<is:logged>
	| <a href="search.php?act=find&amp;author={$user_name}" title="{$L_MYPOSTS}" class="smalltext">{$L_MYPOSTS}</a>
	| <a href="member.php?act=usercp" title="{$L_USERCONTROLPANEL}" class="smalltext">{$L_USERCONTROLPANEL}</a>
	| <a href="member.php?act=profile" title="{$L_PROFILE}" class="smalltext">{$L_PROFILE}</a>
	</is:logged>
	| <a href="index.php?act=markforums" title="{$L_MARKFORUMSREAD}" class="smalltext">{$L_MARKFORUMSREAD}</a>
</div>
</if:if>
<!-- / Quick Links Drop Down Menu -->