<is:unlogged>
<form action="member.php?act=register" method="post" enctype="multipart/form-data">
<div class="header"><div class="title">{$L_REGFORUMRULES}</div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3">
				<strong>{$L_INORDERTOREGISTER}</strong>
				<br /><br />
				<div style="overflow:auto;" class="base2">
					{$L_REGISTRATIONAGREEMENT}
				</div>
				<br />
				<label for="agree"><input type="checkbox" name="agreed" id="agree" value="yes" />&nbsp;{$L_READANDAGREED}</label>
			</td>
		</tr>
		<tr>
			<td class="base3" style="text-align:center;"><input type="submit" id="reg_button" value="{$L_REGISTER}" class="button" /></td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</form>
<script type="text/javascript">
	var agree = FA.getObj('agree');
	var reg_button = FA.getObj('reg_button');
	FA.disableElm(reg_button);
	FA.attachEvent(agree,'click',(function(){if(aggree.checked == true){FA.enableElm(reg_button);}else{FA.disableElm(reg_button);}}));
</script>
</is:unlogged>