<is:unlogged>
<form action="member.php?act=register" method="post" enctype="multipart/form-data">
<div class="k4_shadow">
	<div class="k4_borderwrap">
		<div class="k4_maintitle">{$L_REGFORUMRULES}</div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
			<tr>
				<td class="alt3">
					<div class="outset_box">
						<fieldset>
							<legend>{$L_FORUMRULES}:</legend>
							<span class="minitext">
								<strong>{$L_INORDERTOREGISTER}</strong>
								<br /><br />
								<strong>{$L_FORUMRULES}</strong>
								<div style="height:120px;overflow:auto;" class="alt2">
									{$L_REGISTRATIONAGREEMENT}
								</div>
								<label for="agree"><input type="checkbox" name="agreed" id="agree" value="yes" />&nbsp;{$L_READANDAGREED}</label>
							</span>
						</fieldset>
					</div>
				</td>
			</tr>
			<tr>
				<td class="k4_subtitle" align="center"><input type="submit" id="reg_button" value="{$L_REGISTER}" class="button" /></td>
			</tr>
		</table>
	</div>
</div>
</form>
<script type="text/javascript">
//<![CDATA[
try {
	var agree				= d.getElementById('agree');
	var reg_button			= d.getElementById('reg_button');
	reg_button.disabled		= true;
	agree.onclick			= function() {
		if(agree.checked == true) {
			reg_button.disabled = false;
		} else {
			reg_button.disabled = true;
		}
	}
} catch(e) {

}
//]]>
</script>
</is:unlogged>