<!-- Report Post -->
<form:form action="viewtopic.php?act=send_report" name="bad_report" id="bad_report" method="post" enctype="multipart/form-data">
<input type="hidden" name="<if:if var="post_row_type" eq="8">r<if:else />t</if:if>" value="<if:if var="post_row_type" eq="8">{$post_reply_id}<if:else />{$post_topic_id}</if:if>" />
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_REPORTPOSTTOMOD}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="alt3"><strong>{$L_BADPOSTTITLE}</strong></td>
			<td width="70%" class="alt1">
				<a href="<if:if var="reply_id" noteq="0">findpost.php?id={$post_reply_id}<if:else />viewtopic.php?id={$post_topic_id}</if:if>" title="{$post_name}" style="text-decoration: underline;">{$post_name}</a>
			</td>
		</tr>
		<tr>
			<td width="30%" class="alt3" valign="top">
				<strong>{$L_YOURREPORT}</strong>
				<br /><br />
				<span class="smalltext">
				{$L_REPORTPOSTMESSAGE}
				</span>
			</td>
			<td width="70%" class="alt1">
				<textarea name="report" id="report" class="inputbox" rows="10" cols="50"></textarea>
				<form:error id="report_error" for="report" setclass="inputfailed" regex="(\n|\r\n|\r|.)+">{$L_INSERTBADPOSTREPORT}</form:error>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="k4_subtitle" style="text-align: center;">
				<input type="submit" value="{$L_REPORTPOST}" class="button" />
			</td>
		</tr>
	</table>
</div>
</form:form>
<!-- / Report Post -->