<div id="search_menu" class="borderwrap" style="display: none;">
	<table width="190" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="subtitle">{$L_SEARCH}</td>
		</tr>
		<tr>
			<td class="alt1">
				<form action="search.php?act=find" method="post" enctype="multipart/form-data">
				<input type="text" name="keywords" value="" class="inputbox" />
				
				<input type="hidden" name="viewas" value="topics" />
				<input type="hidden" name="searchsubforums" value="1" />
				<input type="hidden" name="forums" value="" />

				<input type="submit" value="{$L_GO}" class="button" />
				</form>
			</td>
		</tr>
		<tr>
			<td class="alt1">
				<a href="search.php" title="{$L_ADVANCEDSEARCH}" class="smalltext">{$L_ADVANCEDSEARCH}</a>
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	menu_init('search_link', 'search_menu');
</script>