<maps:if var="search_sort" method="can_view">
<!-- Search Sort Menu -->
<form action="search.php?act=find" method="post" enctype="multipart/form-data">
<input type="hidden" name="keywords" value="{$search_keywords}" />
<input type="hidden" name="author" value="{$search_author}" />
<input type="hidden" name="forums" value="{$search_forums}" />
<input type="hidden" name="viewas" value="{$search_viewas}" />
<input type="hidden" name="searchsubforums" value="{$search_subforums}" />
<input type="hidden" name="searchwhere" value="{$search_where}" />
<input type="hidden" name="rewrite_session" value="1" />

<div class="header"><div class="title">{$L_DISPLAYOPTIONS}</div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3" width="17%" align="center">
				{$L_SORTRESULTSBY}:
			</td>
			<td class="alt3" width="17%" align="center">
				<div class="smalltext">
					<select name="sort" id="sort" style="width: 125px;">
						<option value="created" selected="selected">{$L_CREATED}</option>
						<option value="name">{$L_TITLE}</option>
						<option value="poster_name" >{$L_AUTHOR}</option>
						<option value="forum_id">{$L_FORUM}</option>
					</select>
					<br />
					{$L_IN}
					<select name="order" id="order" style="width:125px">
						<option value="DESC">{$L_DESCENDING}</option>
						<option value="ASC">{$L_ASCENDING}</option>
					</select>
					<script type="text/javascript">
						d.setIndex('{$search_sort}', 'sort');
						d.setIndex('{$search_order}', 'order');
					</script>
				</div>
			</td>
			<td class="alt3" width="17%" align="center">
				{$L_LIMITRESULTSTOPREV}:
			</td>
			<td class="alt3" width="17%" align="center">
				<select name="daysprune" id="daysprune" style="width:125px" class="smalltext">
					<option value="1">{$L_LAST_DAY}</option>
					<option value="2">{$L_LAST_2_DAYS}</option>
					<option value="7">{$L_LAST_WEEK}</option>
					<option value="10">{$L_LAST_10_DAYS}</option>
					<option value="14">{$L_LAST_2_WEEKS}</option>
					<option value="30">{$L_LAST_MONTH}</option>
					<option value="45">{$L_LAST_45_DAYS}</option>
					<option value="60">{$L_LAST_2_MONTHS}</option>
					<option value="75">{$L_LAST_75_DAYS}</option>
					<option value="100">{$L_LAST_100_DAYS}</option>
					<option value="365">{$L_LAST_YEAR}</option>
					<option value="0">{$L_BEGINNING}</option>
				</select>
				<script type="text/javascript">d.setIndex({$search_daysprune}, 'daysprune');</script>
			</td>
			<td class="alt3" width="17%" align="center">
				{$L_LIMIT}:
			</td>
			<td class="alt3" width="17%" align="center">
				<select name="limit" id="limit" class="smalltext" style="width: 50px;">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
				</select>
				<script type="text/javascript">d.setIndex({$search_limit}, 'limit');</script>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="6" align="center">
				<input type="submit" value="{$L_GO}" class="button" />
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</form>
<!-- / Search Sort Menu -->
</maps:if>