<is:unlogged>
<form:form name="forgotpw" id="forgotpw" action="member.php?act=sendpassword" method="post" enctype="multipart/form-data">
<div class="spacer">
	<div class="header">
		<div class="title">{$L_SENDPASSWORD}</div>
		<table width="100%" cellspacing="{$style_cellspacing}" class="table">
			<tr>
				<td class="alt1" width="50%"><label for="name"><strong>{$L_USERNAME}:</strong></label></td>
				<td class="alt3" width="50%">
					<input type="text" name="name" id="name" value="" class="inputbox" />
					<form:error id="username_error" for="username" setclass="inputfailed" regex="^[a-zA-Z]([a-zA-Z0-9]*[-_ ]?)*[a-zA-Z0-9]*$">{$L_SUPPLYUSERNAME}</form:error>
				</td>
			</tr>
			<tr>
				<td class="alt1" width="50%"><label for="email">
					<strong>{$L_EMAIL}:</strong></label><br />
					<span class="smalltext">{$L_YOURCURRENTEMAIL}</span>
				</td>
				<td class="alt3" width="50%">
					<input type="text" name="email" id="email" value="" class="inputbox" />
					<form:error id="email_error" for="email" setclass="inputfailed" regex=".+">{$L_SUPPLYEMAIL}</form:error>
				</td>
			</tr>
			<tr>
				<td class="subtitle" colspan="2" style="text-align: center;">
					<input type="submit" value="{$L_SEND}" class="button" />
					<input type="reset" value="{$L_RESET}" class="button" />
				</td>
			</tr>
		</table>
	</div>
</div>
</form:form>
</is:unlogged>