<!-- Sub-Forums of '{$current_location}' -->
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="supheader" width="60%" align="left">&nbsp;{$L_SUBFORUMS}</td>
			<td class="supheader" width="5%" align="center">&nbsp;{$L_POSTS}&nbsp;</td>
			<td class="supheader" width="5%" align="center">&nbsp;{$L_TOPICS}&nbsp;</td>
			<td class="supheader" width="30%" align="center" id="subforums_maintitle">
				<div style="float:right;position:relative;"><a href="javascript:;" onclick="return collapse_tbody('collapse_subforums', 'subforums', 'subforums_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_subforums" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
				{$L_LASTPOST}
			</td>
		</tr>
	</table>
</div>
<div class="spacer" id="subforums" style="display:block;">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="forums_{$forum_id}">
		<list:list id="forums">
		<list:item list="forums">
		<list:switch list="forums" var="row_class" a="3" b="4">
		<core:import id="forum_view" file="forum_view.html" />
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<!-- / Sub-Forums of '{$current_location}' -->