	<tr>
		<td class="k4_subtitle" width="20%"><div align="center">{$L_AUTHOR}</div></td>
		<td class="k4_subtitle" width="80%"><div align="center">{$L_MESSAGE}</div></td>
	</tr>
	<tr>
		<td width="20%" class="alt1">
			<div align="center">
				<if:if var="poster_id" greater="0">
				<a href="#" title="{$L_PROFILE}" id="post_user_ddmenu_link{$post_id}" style="font-weight: bold;color: #{$post_user_group_color};font-size:14px;{$post_user_background}">{$poster_name}</a> <img src="Images/{$IMG_DIR}/Icons/{$post_user_online}_small.gif" alt="<if:if var="post_user_online" eq="online">{$L_ONLINE}<if:else />{$L_OFFLINE}</if:if>" border="0" />
				<if:else />
				<strong><if:if var="poster_name" eq="">{$L_GUEST}<if:else />{$poster_name}</if:if></strong>
				</if:if>
				<core:import id="post_user_ddmenu" file="post_user_ddmenu.html" />
			</div>
		</td>
		<td class="alt3" width="80%">
			<div style="float: right" class="smalltext">
				<core:date format="%b %d %Y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
				<if:if var="modpanel" eq="1"><a href="mod.php?act=baniprange&amp;ip={$poster_ip}" title="{$L_BANIP}"><img src="Images/{$IMG_DIR}/Icons/ban_ip.gif" alt="{$L_BANIP}" border="0" /></a></if:if>
				<a href="viewtopic.php?act=report_post&amp;t={$topic_id}" title="{$L_REPORTPOST}"><img src="Images/{$IMG_DIR}/Icons/report_post.gif" alt="{$L_REPORTPOST}" border="0" /></a>
				<maps:if var="closed" forum="topic_forum_id" method="can_add">
					<if:if var="topic_locked" eq="0"><img border="0" src="Images/{$IMG_DIR}/Buttons/iconlock.gif" alt="{$L_LOCK}" onclick="updateTopicLocked(this, {$topic_id})" /><if:else /><img border="0" src="Images/{$IMG_DIR}/Buttons/iconlock_lock.gif" alt="{$L_UNLOCK}" onclick="updateTopicLocked(this, {$topic_id})" /></if:if>
				</maps:if>
			</div>
			<div class="smalltext">
				<a name="t{$topic_id}" id="t{$topic_id}" title=""></a>
				<strong>{$L_POSTSUBJECT}:</strong>
				<span class="smalltext">
				<if:if var="topic_type" eq="2">{$stickytopicprefix}<else:if var="topic_type" geq="3" />{$announcementtopicprefix}</if:if>
				<if:if var="is_feature" eq="1">{$featuretopicprefix}</if:if>
				<if:if var="poll" eq="1">{$polltopicprefix}</if:if>
				{$name}
				</span>
				<img src="tmp/upload/posticons/{$posticon}" alt="" border="0" />
			</div>
		</td>
	</tr>
	<tr>
		<core:import id="post_user_section" file="post_user_section.html" />
		<td class="alt3" width="80%" id="topic{$topic_id}" valign="top">
			
			<!-- Body Text -->
			<div id="topic{$topic_id}_body">{$body_text}</div>
			<div style="text-align: right;display: none;" id="topic{$topic_id}_qebuttons"><input type="button" value="{$L_SAVE}" class="button" style="font-weight: bold;" onclick="saveQuickEdit('topic', {$topic_id}, 'topic{$topic_id}_body')" />&nbsp;<input type="button" value="X" class="button" style="font-weight: bold;color: #FF0000;" onclick="cancelQuickEdit('topic', {$topic_id}, 'topic{$topic_id}_body')" /></div>
			<!-- / Body Text -->

			<if:if var="attachments" geq="1">
				<maps:if var="attachments" forum="topic_forum_id" method="can_view">
					<!-- Attached Images -->
					<list:sublist list="topic" id="attachment_files" column="attachment_files">
					<list:item list="attachment_files">
						<if:if var="is_image" eq="1">
							<div>
								<span class="smalltext" style="font-weight: bold;">{$L_ATTACHEDIMAGE}: {$file_name}</span>
								<hr />
								<img class="bbcode_img" src="viewfile.php?act=attachment&amp;id={$id}&amp;t={$topic_id}" alt="{$L_ATTACHMENT}: {$file_name}" border="0" />
							</div>
						</if:if>
					<list:separator list="attachment_files"><br /><br /></list:separator>
					</list:item>
					</list:sublist>
					<!-- / Attached Images -->
				</maps:if>
			</if:if>

			<if:if var="showeditedby" eq="1">
				<if:if var="edited_time" greater="0">
					<!-- Edited Information -->
						<br /><br />
						<div class="smalltext" style="font-style: italic;">
							{$L_EDITEDON} <core:date format="%b %d %Y">{$edited_time}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$edited_time}</core:date></span>
							{$L_BY} <a href="member.php?id={$edited_userid}" title="{$edited_username}">{$edited_username}</a>
						</div>
						<br />
					<!-- / Edited Information -->
				</if:if>
			</if:if>

			<if:if var="attachments" geq="1">
				<maps:if var="attachments" forum="topic_forum_id" method="can_view">
					<!-- Attached Files -->
					<br /><br />
					<fieldset>
						<legend>{$L_ATTACHMENTS}</legend>
						<list:sublist list="topic" id="attachment_files" column="attachment_files">
						<list:item list="attachment_files">
						<div style="float: right;" class="minitext">md5: {$mdfive}</div>
						<img src="{$file_icon}" alt="{$L_ATTACHMENT}: {$file_name}" border="0" />&nbsp;<a href="viewfile.php?act=attachment&amp;id={$id}&amp;t={$topic_id}" target="_blank" title="{$L_ATTACHMENT}: {$file_name}" class="smalltext">{$file_name}</a>
						<if:if var="modpanel" eq="1"><maps:if var="attachments" method="can_del" forum="forum_id"> - <a href="viewfile.php?act=remove_attach&amp;id={$id}&amp;t={$topic_id}" title="{$L_REMOVEATTACHMENT}" class="minitext">{$L_REMOVEATTACHMENT}</a></maps:if></if:if>
						<list:separator list="attachment_files"><br /></list:separator>
						</list:item>
						</list:sublist>
					</fieldset>
					<!-- / Attached Files -->
				</maps:if>
			</if:if>

			<if:if var="disable_sig" eq="0">
			<if:if var="post_user_signature" noteq="">
			<br /><br />
			<if:if var="user_viewsigs" eq="1">{$signatureseparator}{$post_user_signature}</if:if>
			</if:if>
			</if:if>
		</td>
	</tr>
	<if:if var="topic_row" eq="1">
	<tr>
		<td class="alt3" width="80%" height="20">
			<div style="text-align: right">
				<maps:if var="replies" forum="topic_forum_id" method="can_add">
					<a href="newreply.php?id={$topic_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/reply.gif" alt="{$L_POSTREPLY}" /></a>
					<maps:if forum="forum_id" var="bbcode" method="can_add"><a href="newreply.php?id={$topic_id}&amp;quote=1" title="{$L_QUOTE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/quote.gif" alt="{$L_QUOTE}" /></a></maps:if>
				</maps:if>
				<if:if var="post_user_id" eq="user_id">
					<maps:if var="topics" forum="topic_forum_id" method="can_edit"><a href="<if:if var="nojs" eq="1">newtopic.php?act=edittopic&amp;id={$topic_id}<if:else />javascript:;</if:if>" title="{$L_EDIT}" id="edit_button_t{$topic_id}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/edit.gif" alt="{$L_EDIT}" /></a></maps:if>
					<maps:if var="topics" forum="topic_forum_id" method="can_del"><a href="mod.php?act=deletetopic&amp;id={$topic_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a></maps:if>
				<if:else />
					<maps:if var="other_topics" forum="topic_forum_id" method="can_edit"><a href="<if:if var="nojs" eq="1">newtopic.php?act=edittopic&amp;id={$topic_id}<if:else />javascript:;</if:if>" title="{$L_EDIT}" id="edit_button_t{$topic_id}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/edit.gif" alt="{$L_EDIT}" /></a></maps:if>
					<maps:if var="other_topics" forum="topic_forum_id" method="can_del"><a href="mod.php?act=deletetopic&amp;id={$topic_id}" title="{$L_DELETE}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/delete.gif" alt="{$L_DELETE}" /></a></maps:if>
				</if:if>
			</div>
			<!-- Edit DD Menu -->
			<div class="k4_borderwrap" id="edit_menu_t{$topic_id}" style="display: none;">
				<table cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
					<tr>
						<td class="alt1" nowrap="nowrap"><a class="smalltext" href="javascript:;" title="{$L_QUICKEDIT}" onclick="quickEditPost('topic', {$topic_id}, 'topic{$topic_id}_body')">{$L_QUICKEDIT}</a></td>
					</tr>
					<tr>
						<td class="alt1" nowrap="nowrap"><a class="smalltext" href="newtopic.php?act=edittopic&amp;id={$topic_id}" title="{$L_FULLEDIT}">{$L_FULLEDIT}</a></td>
					</tr>
				</table>
			</div>
			<script type="text/javascript">menu_init('edit_button_t{$topic_id}', 'edit_menu_t{$topic_id}');</script>
			<!-- / Edit DD Menu -->
		</td>
	</tr>
	</if:if>
	<if:if var="modpanel" eq="1">
	<!-- Moderator Controls -->
	<tr>
		<td class="k4_modmaintitle" colspan="2" align="center">
			<form action="mod.php?act=moderate_forum&amp;id={$forum_id}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="topics" id="topics" value="{$topic_id}" />
				<strong>{$L_WITHTOPIC}:</strong>
				<select name="action">
					<option value="lock">{$L_LOCKTOPIC}</option>
					<option value="split">{$L_SPLITTOPIC}</option>
					<option value="stick">{$L_STICKTOPIC}</option>
					<option value="announce">{$L_ANNOUNCETOPIC}</option>
					<option value="feature">{$L_FEATURETOPIC}</option>
					<option value="normal">{$L_SETASNORMALTOPIC}</option>
					<option value="move">{$L_MOVECOPYTOPIC}</option>
					<option value="delete">{$L_DELETETOPIC}</option>
					<option value="queue">{$L_QUEUETOPIC}</option>
					<option value="subscribe">{$L_SUBSCRIBETOTOPIC}</option>
				</select>
				<input type="submit" value="{$L_PERFORMACTION}" class="button" />
			</form>
		</td>
	</tr>
	<!-- / Moderator Controls -->
	</if:if>
	<core:import id="post_separator" file="post_separator.html" />