<div class="spacer">
	<div class="header"><div class="title">{$L_TOPIC}: <span style="font-weight: normal;">{$topic_name}</span></div></div>
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3">
				<div style="height: 100px;overflow: auto;font-size: 11px;">
					<strong>{$topic_poster_name}</strong>&nbsp;<a href="viewtopic.php?id={$topic_post_id}#t{$topic_post_id}" title="{$name}" style="font-size: 13px;font-style: italic;"><core:truncate length="40" append="...">{$topic_name}</core:truncate></a>&nbsp;<core:date format="%b %d %Y">{$topic_created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$topic_created}</core:date></span><br />
					<list:list id="threaded_replies">
					<list:item list="threaded_replies">
					{$inset_level}<strong>{$poster_name}</strong>&nbsp;<a href="viewtopic.php?id={$post_id}&amp;p={$post_id}#p{$post_id}" title="{$name}" style="font-size: 13px;font-style: italic;"><core:truncate length="40" append="...">{$name}</core:truncate></a>&nbsp;<core:date format="%b %d %Y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
					<list:separator list="threaded_replies"><br /></list:separator>
					</list:item>
					</list:list>
				</div>
			</td>
		</tr>
	</table>
</div>