<if:if var="forum_forum_rules" noteq="">
<!-- Forum Rules -->
<div class="forumrules">
<strong style="color:#FF0000;">{$L_FORUMRULES}:</strong>
<br /><br />
{$forum_forum_rules}
</div>
<!-- / Forum Rules -->
<br />
</if:if>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<div align="left">
				<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
				<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}&amp;poll=1" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_poll.gif" alt="{$L_POSTPOLL}" /></a></maps:if>
			</div>
		</td>
		<td width="50%">
			<page:navigator id="topics_pager">
			<div align="right">
				<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
					<tr>
						<td class="alt3"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="topics_pager" before="3" after="3">
						<list:item list="topics_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
			</page:navigator>
		</td>
	</tr>
</table>

<!-- Topics List of '{$current_location}' -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>" align="left">
			<div style="float: left;">{$L_TOPICSINFORUM}: <span style="font-weight: normal;">{$name}</span></div>
			<is:logged><div style="float: right;font-weight: normal;"><a href="viewforum.php?act=track&amp;id={$forum_id}" style="font-size: 11px;" title="{$L_SUBSCRIBEFORUM}">{$L_SUBSCRIBEFORUM}</a></div></is:logged>
		</td>
	</tr>
	<list:list id="announcements">
	<tr class="tcat">
		<td colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">{$L_ANNOUNCEMENTS}</td>
	</tr>
	<list:item list="announcements">
	<core:import id="topic_view" file="topic_view.html" />
	</list:item>
	</list:list>
	<list:list id="importants">
	<tr class="tcat">
		<td colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">{$L_IMPORTANTTOPICS}</td>
	</tr>
	<list:item list="importants">
	<core:import id="topic_view" file="topic_view.html" />
	</list:item>
	</list:list>
	<tr class="tcat">
		<td width="5%" colspan="2">&nbsp;</td>
		<td align="center" class="minitext" width="55%"><a href="viewforum.php?id={$forum_id}&amp;sort=name&amp;order={$order}" title="{$L_TOPICS}">{$L_TOPICS}{$name_sort}</a>/<a href="viewforum.php?id={$forum_id}&amp;sort=poster_name&amp;order={$order}" title="{$L_AUTHOR}">{$L_AUTHOR}{$poster_name_sort}</a></td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=num_replies&amp;order={$order}" title="{$L_REPLIES}">{$L_REPLIES}{$num_replies_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=views&amp;order={$order}" title="{$L_VIEWS}">{$L_VIEWS}{$views_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap" width="30%">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=last_reply&amp;order={$order}" title="{$L_LASTPOST}">{$L_LASTPOST}{$last_reply_sort}</a>&nbsp;</td>
		<if:if var="modpanel" eq="1"><td align="center" class="minitext">&nbsp;{$L_SELECT}&nbsp;</td></if:if>
	</tr>
	<core:block id="no_topics" hidden="yes">
	<tr class="alt1">
		<td colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">
			<div align="center" class="outset_box">
				<br />
				{$topics_message}
				<br /><br />
			</div>
		</td>
	</tr>
	</core:block>
	<list:list id="topics">
	<list:item list="topics">
	<core:import id="topic_view" file="topic_view.html" />
	</list:item>
	</list:list>
<if:if var="modpanel" eq="0">
</table>
<if:else />

<!-- Moderator Controls -->
	<tr class="thead">
		<td colspan="7">
			<form action="mod.php?act=moderate_forum&amp;id={$forum_id}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="topics" id="topics" value="" />
				<div align="center">
					<strong>{$L_WITHTOPICS}:</strong>
					<select name="action">
						<option value="lock">{$L_LOCKTOPICS}</option>
						<option value="stick">{$L_STICKTOPICS}</option>
						<option value="announce">{$L_ANNOUNCETOPICS}</option>
						<option value="feature">{$L_FEATURETOPICS}</option>
						<option value="normal">{$L_SETASNORMALTOPICS}</option>
						<option value="move">{$L_MOVECOPYTOPICS}</option>
						<option value="delete">{$L_DELETETOPICS}</option>
						<option value="queue">{$L_QUEUE}</option>
						<option value="subscribe">{$L_SUBSCRIBETOTOPICS}</option>
					</select>
					<input type="submit" value="{$L_PERFORMACTION}" class="button" />
				</div>
			</form>
		</td>
	</tr>
</table>
<!-- / Moderator Controls -->

</if:if>
<!-- / Topics List of '{$current_location}' -->

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<div align="left">
				<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
				<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}&amp;poll=1" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_poll.gif" alt="{$L_POSTPOLL}" /></a></maps:if>
			</div>
		</td>
		<td width="50%">
			<page:navigator id="topics_pager">
			<div align="right">
				<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
					<tr>
						<td class="alt3"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="topics_pager" before="3" after="3">
						<list:item list="topics_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
			</page:navigator>
		</td>
	</tr>
</table>

<br />
<!-- Forum Display Options -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">
		<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapsedo_{$forum_id}', 'do_{$forum_id}')" title="{$L_EXPANDCOLLAPSE}"><img id="collapsedo_{$forum_id}" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
		{$L_DISPLAYOPTIONS}
		</td>
	</tr>
	<tbody id="do_{$forum_id}">
		<tr class="alt1">
			<td>
				<table width="" cellpadding="0" cellspacing="0" border="0">
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Open Topic (new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/announce.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_ANNOUNCEMENT}&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/folder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Open Topic (no new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/poll.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Poll&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newhotfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Hot Topic (new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/lockfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Locked Topic&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/hotfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Hot Topic (no new replies)&nbsp;</td>
					</tr>
				</table>
			</td>
			<td width="80%">
				<div align="right">
					<form action="viewforum.php" method="get" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{$forum_id}" />
						<input type="hidden" name="start" value="{$pag_start}" />
						<table cellpadding="0" cellspacing="1" border="0">
							<tr>
								<td class="smalltext">{$L_SORTEDBY}:</td>
								<td>
									<select name="sort" style="width:125px" class="smalltext">
										<option value="name">{$L_TOPICTITLE}</option>
										<option value="reply_time" selected="selected">{$L_LASTPOSTTIME}</option>
										<option value="num_replies" >{$L_NUMOFREPLIES}</option>
										<option value="views" >{$L_NUMOFVIEWS}</option>
										<option value="poster_name" >{$L_TOPICSTARTER}</option>
										<option value="rating" >{$L_TOPICRATING}</option>
									</select>
								</td>
								<td class="smalltext">{$L_SORTORDER}:</td>
								<td>
									<select name="order" style="width:100px" class="smalltext">
										<option value="ASC">{$L_ASC}</option>
										<option value="DESC" selected="selected">{$L_DESC}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="smalltext">{$L_FROMTHE}:</td>
								<td>
									<select name="daysprune" style="width:125px" class="smalltext">
										<option value="1" >{$L_LAST_DAY}</option>
										<option value="2" >{$L_LAST_2_DAYS}</option>
										<option value="7" >{$L_LAST_WEEK}</option>
										<option value="10" >{$L_LAST_10_DAYS}</option>
										<option value="14" >{$L_LAST_2_WEEKS}</option>
										<option value="30" >{$L_LAST_MONTH}</option>
										<option value="45" >{$L_LAST_45_DAYS}</option>
										<option value="60" >{$L_LAST_2_MONTHS}</option>
										<option value="75" >{$L_LAST_75_DAYS}</option>
										<option value="100" >{$L_LAST_100_DAYS}</option>
										<option value="365" >{$L_LAST_YEAR}</option>
										<option value="-1" selected="selected">{$L_BEGINNING}</option>
									</select>
								</td>
								<td class="smallfont">
									{$L_LIMIT}: 
									<select name="limit" class="smalltext">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30" selected="selected">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select>
								</td>
								<td><input type="submit" class="button" value="{$L_SHOWTOPICS}" style="width:100px" /></td>
							</tr>
						</table>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Forum Display Options -->

<!-- Forum User Posting Options -->
<br />
<div class="inset_box_small">
	<div class="minitext" align="right">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td valign="top">
					{$forum_user_reply_options}
				</td>
				<td>&nbsp;&nbsp;</td>
				<td valign="top">
					{$forum_user_topic_options}
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- / Forum User Posting Options -->