<is:logged>
<form:form action="member.php?act=update_avatar" method="post" enctype="multipart/form-data">
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle">{$L_USERCONTROLPANEL}: <span style="font-weight: normal;">{$L_EDITAVATAR}</span></div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
			<tr>
				<td class="alt3"><span class="smalltext">{$L_USERCPAVATARMSG}</span></td>
			</tr>
		</table>
	</div>
</div>
<br />
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle">{$L_AVATARSETTINGS}</div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
			<tr>
				<td class="alt1" align="center" width="30%">
					<em>{$L_YOURAVATAR}</em><br />
					<if:if var="user_avatar" eq="1">
					<img src="viewfile.php?act=avatar&amp;id={$user_id}" alt="" border="" />
					</if:if>
				</td>
				<td width="70%" class="alt3" valign="top">
					<div class="smalltext">
						<strong>{$L_VALIDAVATARIMAGETYPES}:</strong> {$avatarallowedfiles}<br />
						<strong>{$L_VALIDAVATARDIMENSIONS}:</strong> {$avatarmaxwidth}px {$L_BY} {$avatarmaxheight}px
						<br />
						<input type="hidden" name="MAX_FILE_SIZE" value="{$avatarmaxsize}" />
						<if:if var="avatarallowupload" eq="1"><br /><input type="file" name="avatar_file" class="inputbox" size="50" /></if:if>
						<if:if var="avatarallowupload" eq="1"><if:if var="avatarallowwebsite" eq="1"><br /><br />{$L_OR}<br /></if:if></if:if>
						<if:if var="avatarallowwebsite" eq="1"><br />{$L_AVATARWEBSITEURL}: <input type="text" name="avatar_website" class="inputbox" size="30" /></if:if>
						<br /><br />
						<label for="useavatar"><input type="checkbox" value="yes" name="useavatar" id="useavatar" />&nbsp;{$L_USEANAVATAR}</label>
						<script type="text/javascript">if(parseInt({$user_avatar}) == 1) { d.setCheckbox(1, 'useavatar'); }</script>
					</div>
				</td>
			</tr>
			<tr>
				<td class="subtitle" colspan="2" align="center">
					<input type="submit" class="button" value="{$L_UPDATESETTINGS}" />
					<input type="reset" class="button" value="{$L_RESET}" />
				</td>
			</tr>
		</table>
	</div>
</div>
</form:form>
</is:logged>