<form action="usergroups.php" method="get" name="post" enctype="multipart/form-data">
<div class="header"><div class="title">{$L_USERGROUPS}</div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3" width="50%">{$L_LOOKUPGROUP}</td>
			<td class="alt3" width="50%">
				<select name="id" id="group_id">
					<list:list id="usergroups">
					<list:item list="usergroups">
					<option value="{$id}">{$name}</option>
					</list:item>
					</list:list>
				</select>
			</td>
		</tr>
		<tr>
			<td class="subtitle" colspan="2" align="center"><input type="submit" class="button" value="{$L_LOOKUP}" /></td>
		</tr>
	</table>
</div>
</form>
<div class="footer_block"><div>&nbsp;</div></div>