<is:logged>
<div class="header"><div class="title">{$L_USERCONTROLPANEL}: <span style="font-weight: normal;">{$L_MANAGEATTACHMENTS}</span></div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3"><span class="smalltext">{$L_USERCPATTACHMENTSMSG}</span></td>
		</tr>
	</table>
</div>
<div class="supheader">{$L_CURRENTUSAGE}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt1">
				<div style="float: right;text-align: right;" class="smalltext">
					<strong>{$L_QUOTA}:</strong> <if:if var="maxattachquota" eq="0"><em?>{$L_NONE}</em><if:else />{$maxattachquota} {$L_BYTES} ({$attach_megs} {$L_MEGABYTES})</if:if>
					<br />
					<strong>{$L_CURRENTUSAGE}:</strong> {$attach_percent}%
				</div>
				<div style="border: 1px solid #333333;width:400px;height: 18px;background-color: #FFFFFF;"><div style="float: left; height: 18px; width: {$attach_percent}%;background-color: #666666;"></div></div>
			</td>
		<tr>
	</table>
</div>
<div class="supheader">{$L_ATTACHMENTS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="attachments">
		<list:default list="attachments">
		<tr>
			<td class="alt3">
				<br /><strong>{$L_NOATTACHMENTS}</strong><br /><br />
			</td>
		</tr>
		</list:default>
		<list:item list="attachments">
		<list:switch list="attachments" var="row_class" a="alt1" b="alt2">
		<tr>
			<td class="{$row_class}" valign="middle">
				<div style="float:right;">
					<a href="viewfile.php?act=remove_attach&amp;id={$id}&amp;<if:if var="message_id" noteq="0">m={$message_id}<if:else />post_id={$post_id}</if:if>" title="{$L_REMOVEATTACHMENT}">{$L_REMOVEATTACHMENT}</a><br />
					<a href="viewfile.php?act=attachment&amp;id={$id}&amp;<if:if var="message_id" noteq="0">m={$message_id}<if:else />post_id={$post_id}</if:if>" title="{$L_VIEWATTACHMENT}" target="_blank">{$L_VIEWATTACHMENT}</a>
				</div>
				<strong>{$file_name}</strong><br />
				<span class="smalltext">
					<strong>{$L_TYPE}:</strong> {$file_type}<br />
					<strong>{$L_SIZE}:</strong> {$file_size} {$L_BYTES} ({$L_APPROX} {$percent}%)<br />
				</span>
			</td>
		</tr>
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:logged>