<is:logged>
<form:form action="member.php?act=update_signature" method="post" enctype="multipart/form-data">
<div class="header"><div class="title">{$L_USERCONTROLPANEL}: <span style="font-weight: normal;">{$L_EDITSIGNATURE}</span></div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt2">
			<td><span class="smalltext">{$L_USERCPSIGNATUREMSG}</span></td>
		</tr>
	</table>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="supheader">{$L_CURRENTSIGNATURE}</td>
		</tr>
		<tr>
			<td class="alt2">
				<if:if var="user_signature" noteq="">
				{$user_signature}
				<if:else />
				<div align="center" class="smalltext"><br />{$L_NOINFORMATION}<br /><br /></div>
				</if:if>
			</td>
		</tr>
		<tr>
			<td class="supheader">{$L_EDITSIGNATURE}</td>
		</tr>
		<tr>
			<td class="alt2">
				<div class="outset_box">
					<core:import id="editor" file="editor.html" />
					<br />
					<label for="attachsig"><input type="checkbox" value="1" name="attachsig" id="attachsig" tabindex="2" />&nbsp;{$L_ATTACHSIGNATUREPOSTS}</label>
					<script type="text/javascript">d.setCheckbox({$user_attachsig}, 'attachsig');</script>
				</div>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="2" style="text-align:center;">
				<input type="submit" value="{$L_SAVE}" class="button" onclick="try{set_message_text();}catch(e){}" />
				<input type="reset" value="{$L_RESET}" class="button" />
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</form:form>
</is:logged>