<!-- Users Browsing Box -->
<div class="header">
	<div class="title" id="ub_maintitle">
		<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_ub', 'usersbrowsing', 'ub_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapse_ub" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
		{$users_browsing}
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="usersbrowsing">
		<tr>
			<td class="alt3">
				<div class="minitext" align="left">
					<strong>{$L_LEGEND}:</strong>
					<list:list id="usergroups_legend">
					<list:item list="usergroups_legend">
					<a href="usergroups.php?id={$id}" style="color: #{$color};font-weight: bold;" title="{$name}">{$name}</a><list:separator list="usergroups_legend">,&nbsp;</list:separator>
					</list:item>
					</list:list>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alt1">
				<div class="minitext" align="left">
					{$online_stats}
					<br />
					<if:if var="num_online_members" greater="0">
					<list:list id="users_browsing">
						{$L_REGISTEREDUSERS}:
						<list:item list="users_browsing">
						<if:if var="name" noteq="">
						<if:if var="invisible" eq="0">
							<if:if var="user_id" noteq="0"><a href="member.php?id={$user_id}" style="color: #{$color};font-weight: {$font_weight};" class="minitext">{$name}</a><if:else /><strong style="font-style: italic;font-weight: bold;">{$name}</strong></if:if><list:separator list="users_browsing">,&nbsp;</list:separator>
						</if:if>
						</if:if>
						</list:item>
					</list:list>
					</if:if>
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
<!-- / Users Browsing Box -->