<core:import id="forum_rules" file="forum_rules.html" />
<core:import id="topic_threaded" />
<core:import id="topic_moderation" file="topic_moderation.html" />
<table width="100%" cellspacing="0">
	<tr>
		<if:if var="forum_forum_id" noteq="garbage_bin_id">
		<td width="100%" style="text-align: right;">
			<!-- Posting Buttons -->
			<if:if var="topic_post_locked" eq="1"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/locked.gif" alt="{$L_LOCKED}" /></if:if>
			<maps:if var="topics" forum="topic_forum_id" method="can_add">
			<a href="newtopic.php?id={$topic_forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
			<maps:if var="replies" forum="topic_forum_id" method="can_add">
			<a href="newreply.php?id={$topic_post_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_reply.gif" alt="{$L_POSTREPLY}" /></a>
			</maps:if>
			</maps:if>
			<!-- / Posting Buttons -->
		</td>
		</if:if>
		<page:navigator id="replies_pager">
		<td nowrap="nowrap">
			<table cellspacing="{$style_cellspacing}" class="pagination">
				<tr>
					<td class="alt3" id="page_jump1" nowrap="nowrap"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
					<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
					<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
					<page:list id="replies_pager" before="3" after="3">
					<list:item list="replies_pager">
						<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
					</list:item>
					</page:list>
					<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
					<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
				</tr>
			</table>
		</td>
		</page:navigator>
	</tr>
</table>

<div class="header" align="right" style="overflow: hidden;">
	<div class="title">
		<div style="float: left;text-align: left;">
			<a href="viewpost.php?post_id={$topic_post_id}" target="_blank" title="{$topic_name}"><img src="Images/{$IMG_DIR}/Icons/post_link.gif" alt="{$topic_name}" border="0" /></a>
			{$topic_name} <img src="tmp/upload/posticons/{$posticon}" alt="" border="0" />
			<span style="font-weight: normal;">( <core:date format="%b %d %Y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span> )</span>
			<a href="rss.php?t={$topic_post_id}" title="{$L_RSSFEED}: {$topic_name}"><img src="Images/{$IMG_DIR}/Icons/rss_small.gif" alt="{$L_RSSFEED}: {$topic_name}" border="0" /></a>
		</div>
		<!-- Drop Down Menus -->
		<table cellspacing="0" class="ddmenutable">
			<tr>
				<td>
					<div class="ddmenu_button" id="topicoptions_link"><span class="ddmenu_link_alt">{$L_TOPICOPTIONS}</span></div>
				</td>
				<td>
					<div class="ddmenu_button" id="ratetopic_link"><span class="ddmenu_link_alt">{$L_RATETOPIC}</span></div>
				</td>
			</tr>
		</table>
		<!-- / Drop Down Menus -->
	</div>
</div>

<list:list id="posts">
<list:item list="posts">
<list:switch list="posts" var="row_class" a="3" b="4">
	<div class="spacer">
	<if:if var="row_type" eq="4">
		<!-- Topic: {$name} -->
		<core:import id="topic_file" file="topic.html" />
		<core:import id="topic_control_buttons" file="topic_control_buttons.html" />
		<!-- / Topic: {$name} -->
	<if:else />
		<maps:if var="replies" forum="forum_id" method="can_view">
		<!-- Reply: {$name} -->
		<core:import id="reply_file" file="reply.html" />
		<core:import id="post_control_buttons" file="post_control_buttons.html" />
		<!-- / Reply: {$name} -->
		</maps:if>
	</if:if>
	</div>
</list:switch>
</list:item>
</list:list>

<!-- Quick Reply Information -->
<div id="quick_reply_sent" style="display: none;">
	<br />
	<div id="quick_reply_message" class="base2" style="text-align: center;">{$L_ADDEDQUICKREPLY}</div>
	<br />
	<div id="quick_reply_content" style="display: none;">
	</div>
</div>
<!-- / Quick Reply Information -->

<table width="100%" cellspacing="0">
	<tr>
		<if:if var="forum_forum_id" noteq="garbage_bin_id">
		<td width="100%" style="text-align: right;">
			<!-- Posting Buttons -->
			<if:if var="topic_post_locked" eq="1"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/locked.gif" alt="{$L_LOCKED}" /></if:if>
			<maps:if var="topics" forum="topic_forum_id" method="can_add">
			<a href="newtopic.php?id={$topic_forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
			<maps:if var="replies" forum="topic_forum_id" method="can_add">
			<a href="newreply.php?id={$topic_post_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_reply.gif" alt="{$L_POSTREPLY}" /></a>
			</maps:if>
			</maps:if>
			<!-- / Posting Buttons -->
		</td>
		</if:if>
		<page:navigator id="replies_pager">
		<td nowrap="nowrap">
			<div align="right">
				<table cellspacing="{$style_cellspacing}" class="pagination">
					<tr>
						<td class="alt3" id="page_jump2" nowrap="nowrap"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="replies_pager" before="3" after="3">
						<list:item list="replies_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
		</td>
		</page:navigator>
	</tr>
</table>

<if:if var="forum_forum_id" noteq="garbage_bin_id">
<core:import id="quick_reply" file="quick_reply.html" />
</if:if>

<core:import id="similar_topics" />

<core:import id="topic_options" file="topic_options_ddmenu.html" />

<!-- Rate Topic Drop Down Menu -->
<div id="ratetopic_menu" class="borderwrap" style="display: none;">
	<form action="viewtopic.php?act=rate_topic&amp;id={$topic_post_id}" method="post" enctype="multipart/form-data">
	<table cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3" style="text-align: center;" nowrap="nowrap">
				<if:if var="ratings_num" noteq="0"><img src="Images/{$IMG_DIR}/Icons/Rating/{$rating}stars.gif" alt="" /><if:else /><em class="smalltext">{$L_NOVOTES}</em></if:if>
			</td>
		</tr>
		<is:logged>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div class="smalltext">
					<input type="radio" name="rating" value="0" /><img src="Images/{$IMG_DIR}/Icons/Rating/0stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="1" /><img src="Images/{$IMG_DIR}/Icons/Rating/1stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="2" /><img src="Images/{$IMG_DIR}/Icons/Rating/2stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="3" /><img src="Images/{$IMG_DIR}/Icons/Rating/3stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="4" /><img src="Images/{$IMG_DIR}/Icons/Rating/4stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="5" /><img src="Images/{$IMG_DIR}/Icons/Rating/5stars.gif" alt="" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="subtitle" align="center"><input type="submit" class="button" value="{$L_RATE}" /></td>
		</tr>
		</is:logged>
	</table>
	</form>
</div>
<!-- / Rate Topic Drop Down Menu -->
<script type="text/javascript">
	menu_init('topicoptions_link', 'topicoptions_menu');
	menu_init('ratetopic_link', 'ratetopic_menu');
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');
</script>
<core:import id="page_jumper" file="page_jumper.html" />