<core:import id="forum_rules" file="forum_rules.html" />

<table width="100%" cellspacing="0">
	<tr>
		<page:navigator id="topics_pager">
		<td align="left" nowrap="nowrap" style="padding:0px;margin:0px;border:0px;">
			<span class="ddmenu_link" id="page_jump1"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></span>
			<page:first><page:link>{$L_FIRST} </page:link></page:first>
			<page:prev><page:link>{$L_PREV} </page:link></page:prev>
			<page:list id="topics_pager" before="3" after="3">
			<list:item list="topics_pager">
				<page:link class="pager_link">{$pagenum}</page:link>
				<list:separator list="topics_pager">, </list:separator>
			</list:item>
			</page:list>
			<page:next><page:link> {$L_NEXT}</page:link></page:next>
			<page:last><page:link> {$L_LAST}</page:link></page:last>
		</td>
		</page:navigator>
		<if:if var="can_post_in_forum" eq="1">
		<td width="100%" nowrap="nowrap" style="text-align:right;padding:0px;margin:0px;border:0px;">
			<maps:if var="topics" forum="forum_id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
		</td>
		</if:if>
	</tr>
</table>

<!-- Topics List of '{$current_location}' -->
<div class="header">
	<div class="title" align="right" style="overflow: hidden;">
		<div style="float: left;text-align: left;">
			{$name} 
			<a href="rss.php?f={$forum_forum_id}" title="{$L_RSSFEED}: {$forum_name}"><img src="Images/{$IMG_DIR}/Icons/rss_small.gif" alt="{$L_RSSFEED}: {$forum_name}" border="0" /></a>
			
		</div>
		<if:if var="row_type" eq="256"><span class="ddmenu_link" id="forumfilters_link">{$L_FORUMFILTERS}</span></if:if>
		<if:if var="row_type" less="16">
		<!-- Drop Down Menus -->
		<span class="ddmenu_link_alt" id="forumoptions_link">{$L_FORUMOPTIONS}</span>
		<!-- / Drop Down Menus -->
		</if:if>
	</div>
</div>

<if:if var="description" noteq="">
<div class="spacer">
	<div class="alt2">{$description}</div>
</div>
</if:if>
<if:if var="forum_subforums" geq="1"><core:import id="subforums" file="subforums.html" /></if:if>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="announcements">
		<tr>
			<td class="subheader" colspan="<if:if var="modpanel" eq="1">8<if:else />7</if:if>">{$L_ANNOUNCEMENTS}</td>
		</tr>
		<list:item list="announcements">
		<list:switch list="announcements" var="row_class" a="3" b="4">
		
		<core:import id="topic_view" file="topic_view.html" />
		
		</list:switch>
		</list:item>
		</list:list>
		<list:list id="importants">
		<tr>
			<td class="subheader" colspan="<if:if var="modpanel" eq="1">8<if:else />7</if:if>">{$L_IMPORTANTTOPICS}</td>
		</tr>
		<list:item list="importants"><list:switch list="importants" var="row_class" a="3" b="4">
		<core:import id="topic_view" file="topic_view.html" />
		</list:switch>
		</list:item>
		</list:list>
		<tr>
			<td class="subheader" style="text-align: center;" width="70%" colspan="3"><a href="viewforum.php?f={$forum_forum_id}&amp;sort=name&amp;order={$order}" title="{$L_TOPICS}">{$L_TOPICS}{$name_sort}</a>/<a href="viewforum.php?f={$forum_forum_id}&amp;sort=poster_name&amp;order={$order}" title="{$L_AUTHOR}">{$L_AUTHOR}{$poster_name_sort}</a></td>
			<td class="subheader" style="text-align: center;" width="3%">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=num_replies&amp;order={$order}" title="{$L_REPLIES}">{$L_REPLIES}{$num_replies_sort}</a>&nbsp;</td>
			<td class="subheader" style="text-align: center;" width="3%">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=views&amp;order={$order}" title="{$L_VIEWS}">{$L_VIEWS}{$views_sort}</a>&nbsp;</td>
			<td class="subheader" style="text-align: center;" width="20%">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=lastpost_created&amp;order={$order}" title="{$L_LASTPOST}">{$L_LASTPOST}{$lastpost_created_sort}</a>&nbsp;</td>
			<td class="subheader" style="text-align: center;" width="3%">&nbsp;{$L_INFO}&nbsp;</td>
			<if:if var="modpanel" eq="1"><td class="subheader" style="text-align: center;">&nbsp;{$L_SELECT}&nbsp;</td></if:if>
		</tr>
		<core:block id="no_topics" hidden="yes">
		<tr>
			<td class="alt1" colspan="<if:if var="modpanel" eq="1">8<if:else />7</if:if>">
				<div align="center" class="outset_box">
					<br />
					{$topics_message}
					<br /><br />
				</div>
			</td>
		</tr>
		</core:block>
		<list:list id="topics">
		<list:item list="topics"><list:switch list="topics" var="row_class" a="1" b="2">
		<core:import id="topic_view" file="topic_view.html" />
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<!-- / Topics List of '{$current_location}' -->

<if:if var="modpanel" eq="1">
<!-- Moderator Controls -->
<div class="spacer">
	<div class="base2">
		<form action="mod.php?act=moderate_forum&amp;id={$forum_id}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="topics" id="topics" value="" />
			<div align="center">
				<strong>{$L_WITHTOPICS}:</strong>
				<select name="action" class="inputbox">
					<option value="lock">{$L_LOCKTOPICS}</option>
					<option value="stick">{$L_STICKTOPICS}</option>
					<option value="announce">{$L_ANNOUNCETOPICS}</option>
					<option value="feature">{$L_FEATURETOPICS}</option>
					<option value="normal">{$L_SETASNORMALTOPICS}</option>
					<option value="move">{$L_MOVECOPYTOPICS}</option>
					<option value="delete">{$L_DELETETOPICS}</option>
					<option value="queue">{$L_QUEUE}</option>
					<option value="subscribe">{$L_SUBSCRIBETOTOPICS}</option>
				</select>
				<input type="submit" value="{$L_PERFORMACTION} (0)" id="performact_button" class="button" />
			</div>
		</form>
	</div>
</div>
<!-- / Moderator Controls -->
</if:if>

<!-- Forum Display Options -->
<div class="supheader" id="f{$forum_id}do_maintitle">
	<div style="float:right;position:relative;"><a href="javascript:;" onclick="return collapse_tbody('collapsedo_{$forum_id}', 'do_{$forum_id}', 'f{$forum_id}do_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapsedo_{$forum_id}" src="Images/{$IMG_DIR}/Icons/collapse_thead_collapsed.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
	{$L_DISPLAYOPTIONS}
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" id="do_{$forum_id}" style="display:none;">
		<tr class="alt1">
			<td width="50%">
				<table width="" cellspacing="0">
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newfolder.gif" alt="{$L_OPENTOPICNEW}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_OPENTOPICNEW}&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/announce.gif" alt="{$L_ANNOUNCEMENT}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_ANNOUNCEMENT}&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/folder.gif" alt="{$L_OPENTOPIC}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_OPENTOPIC}&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/poll.gif" alt="{$L_POLL}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_POLL}&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newhotfolder.gif" alt="{$L_HOTTOPICNEW}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_HOTTOPICNEW}&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/folder_lock.gif" alt="{$L_LOCKEDTOPIC2}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_LOCKEDTOPIC2}&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/hotfolder.gif" alt="{$L_HOTTOPIC}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_HOTTOPIC}&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/sticky.gif" alt="{$L_STICKY}" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_STICKY}&nbsp;</td>
					</tr>
				</table>
			</td>
			<td width="50%" style="text-align:right;" align="right">
				<form action="viewforum.php" method="get" enctype="multipart/form-data">
					<input type="hidden" name="f" value="{$forum_id}" />
					<input type="hidden" name="start" value="{$pag_start}" />
					<table cellspacing="{$style_cellspacing}">
						<tr>
							<td class="smalltext">{$L_SORTEDBY}:</td>
							<td>
								<select name="sort" style="width:125px" class="inputbox">
									<option value="name">{$L_TOPICTITLE}</option>
									<option value="lastpost_created" selected="selected">{$L_LASTPOSTTIME}</option>
									<option value="num_replies" >{$L_NUMOFREPLIES}</option>
									<option value="views" >{$L_NUMOFVIEWS}</option>
									<option value="poster_name" >{$L_TOPICSTARTER}</option>
									<option value="rating" >{$L_TOPICRATING}</option>
								</select>
							</td>
							<td class="smalltext">{$L_SORTORDER}:</td>
							<td>
								<select name="order" style="width:100px" class="inputbox">
									<option value="ASC">{$L_ASC}</option>
									<option value="DESC" selected="selected">{$L_DESC}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="smalltext">{$L_FROMTHE}:</td>
							<td>
								<select name="daysprune" style="width:125px" class="inputbox"<if:if var="row_type" greater="16"> disabled="disabled"</if:if>>
									<option value="2">{$L_LAST_2_DAYS}</option>
									<option value="7">{$L_LAST_WEEK}</option>
									<option value="10">{$L_LAST_10_DAYS}</option>
									<option value="14">{$L_LAST_2_WEEKS}</option>
									<option value="30">{$L_LAST_MONTH}</option>
									<option value="45">{$L_LAST_45_DAYS}</option>
									<option value="60">{$L_LAST_2_MONTHS}</option>
									<option value="75">{$L_LAST_75_DAYS}</option>
									<option value="100">{$L_LAST_100_DAYS}</option>
									<option value="365">{$L_LAST_YEAR}</option>
									<option value="0" selected="selected">{$L_BEGINNING}</option>
								</select>
							</td>
							<td>
								<span class="smalltext">{$L_LIMIT}: </span>
								<select name="limit" class="inputbox">
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30" selected="selected">30</option>
									<option value="40">40</option>
									<option value="50">50</option>
								</select>
							</td>
							<td><input type="submit" class="button" value="{$L_SHOWTOPICS}" style="width:100px" /></td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
</div>
<!-- / Forum Display Options -->

<div class="footer_block"><div>&nbsp;</div></div>

<div class="spacer">
	<table width="100%" cellspacing="0">
		<tr>
			<page:navigator id="topics_pager">
			<td align="left" nowrap="nowrap" style="padding:0px;margin:0px;border:0px;">
				<span class="ddmenu_link" id="page_jump2"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></span>
				<page:first><page:link>{$L_FIRST} </page:link></page:first>
				<page:prev><page:link>{$L_PREV} </page:link></page:prev>
				<page:list id="topics_pager" before="3" after="3">
				<list:item list="topics_pager">
					<page:link class="pager_link">{$pagenum}</page:link>
					<list:separator list="topics_pager">, </list:separator>
				</list:item>
				</page:list>
				<page:next><page:link> {$L_NEXT}</page:link></page:next>
				<page:last><page:link> {$L_LAST}</page:link></page:last>
			</td>
			</page:navigator>
			
			<if:if var="can_post_in_forum" eq="1">
			<td width="100%" nowrap="nowrap" style="text-align:right;padding:0px;margin:0px;border:0px;">
				<maps:if var="topics" forum="forum_id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
			</td>
			</if:if>
		</tr>
	</table>
</div>
<!-- Forum User Posting Options -->
<div class="spacer">
	<div class="gen_box2_head"><div id="header">&nbsp;</div></div>
	<div align="right" class="alt1">
		<table cellspacing="0" class="minitext">
			<tr>
				<td valign="top">
					{$forum_user_reply_options}
				</td>
				<td>&nbsp;&nbsp;</td>
				<td valign="top">
					{$forum_user_topic_options}
				</td>
			</tr>
		</table>
	</div>
	<div class="gen_box2_foot"><div id="footer">&nbsp;</div></div>
</div>
<!-- / Forum User Posting Options -->
<if:if var="row_type" less="16">
<!-- Forum Options -->
<div id="forumoptions_menu" style="display: none;">
	<table width="190" cellspacing="{$style_cellspacing}" class="table">
		
		<is:logged>
		<tr>
			<td class="alt1">
				<if:if var="is_subscribed" eq="0">
				<a class="smalltext" href="viewforum.php?act=track&amp;id={$forum_id}" style="font-size: 11px;" title="{$L_SUBSCRIBEFORUM}">{$L_SUBSCRIBEFORUM}</a>
				<if:else />
				<a class="smalltext" href="viewforum.php?act=untrack&amp;id={$forum_id}" style="font-size: 11px;" title="{$L_UNSUBSCRIBEFORUM}">{$L_UNSUBSCRIBEFORUM}</a>
				</if:if>
			</td>
		</tr>
		</is:logged>
		<tr>
			<td class="alt1">
				<a href="viewforum.php?act=markforum&amp;id={$forum_forum_id}" title="{$L_MARKFORUMREAD}" class="smalltext">{$L_MARKFORUMREAD}</a>
			</td>
		</tr>
		<tr>
			<td class="supheader">{$L_SEARCHTHISFORUM}</td>
		</tr>
		<tr>
			<td class="alt1">
				<form action="search.php?act=find" method="post" enctype="multipart/form-data">
				<input type="text" name="keywords" value="" class="inputbox" />
				<input type="hidden" name="viewas" value="topics" />
				<input type="hidden" name="searchsubforums" value="0" />
				<input type="hidden" name="forums" value="f{$forum_forum_id}" />
				<input type="button" value="{$L_GO}" class="button" onclick="showSearchResults(this)" />
				</form>
			</td>
		</tr>
	</table>
</div>
<!-- / Forum Options -->
</if:if>

<if:if var="row_type" eq="256">
<!-- Forum Filters -->
<div id="forumfilters_menu" style="display: none;">
	<table cellspacing="{$style_cellspacing}" class="table">
		<list:list id="forum_filters"><list:item list="forum_filters"><list:switch list="forum_filters" var="row_class" a="base3" b="base4">
		<tr class="{$row_class}"><td nowrap="nowrap"><span class="smalltext">{$name}</span></td></tr>
		</list:switch></list:item></list:list>
	</table>
</div>
<!-- / Forum Filters -->
</if:if>

<core:import id="page_jumper" file="page_jumper.html" />
<script type="text/javascript">
	menu_init('forumoptions_link', 'forumoptions_menu');
	menu_init('forumfilters_link', 'forumfilters_menu');
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');
</script>