<if:if var="forum_subforums" geq="1"><core:import id="subforums" file="subforums.html" /></if:if>
<core:import id="forum_rules" file="forum_rules.html" />
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%" style="text-align: left;">
			<span class="title_link">{$forum_name}</span>
			<a href="rss.php?f={$forum_id}" title="{$L_RSSFEED}: {$forum_name}"><img src="Images/{$IMG_DIR}/Icons/rss_small.gif" alt="{$L_RSSFEED}: {$forum_name}" border="0" /></a>
		</td>
		<td width="50%" style="text-align: right;">
			<maps:if list="forums" var="topics" forum="forum_id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
		</td>
		<page:navigator id="topics_pager">
		<td nowrap="nowrap">
			<div align="right">
				<table cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="pagination">
					<tr>
						<td class="alt3" id="page_jump1" nowrap="nowrap"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="topics_pager" before="3" after="3">
						<list:item list="topics_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
		</td>
		</page:navigator>
	</tr>
</table>

<!-- Topics List of '{$current_location}' -->
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle" align="right" style="overflow: hidden;">
			<div style="float: left;text-align: left;">
				{$L_TOPICSINFORUM}: <span style="font-weight: normal;">{$name}</span><br />
				<if:if var="description" noteq=""><span class="minitext" style="font-weight: normal;">{$description}</span></if:if>
			</div>
			<!-- Drop Down Menus -->
			<div><span class="ddmenu_link_alt" id="forumoptions_link">{$L_FORUMOPTIONS}</span></div>
			<!-- / Drop Down Menus -->
		</div>

		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
			<list:list id="announcements">
			<tr>
				<td class="subtitle" colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">{$L_ANNOUNCEMENTS}</td>
			</tr>
			<list:item list="announcements"><list:switch list="announcements" var="row_class" a="alt1" b="alt2">
			<core:import id="topic_view" file="topic_view.html" />
			</list:switch></list:item>
			</list:list>
			<list:list id="importants">
			<tr>
				<td class="subtitle" colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">{$L_IMPORTANTTOPICS}</td>
			</tr>
			<list:item list="importants"><list:switch list="importants" var="row_class" a="alt1" b="alt2">
			<core:import id="topic_view" file="topic_view.html" />
			</list:switch></list:item>
			</list:list>
			<tr>
				<td class="subtitle" style="text-align: center;" width="70%" colspan="3"><a href="viewforum.php?f={$forum_forum_id}&amp;sort=name&amp;order={$order}" title="{$L_TOPICS}">{$L_TOPICS}{$name_sort}</a>/<a href="viewforum.php?f={$forum_forum_id}&amp;sort=poster_name&amp;order={$order}" title="{$L_AUTHOR}">{$L_AUTHOR}{$poster_name_sort}</a></td>
				<td class="subtitle" style="text-align: center;" width="20%">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=last_post&amp;order={$order}" title="{$L_LASTPOST}">{$L_LASTPOST}{$last_post_sort}</a>&nbsp;</td>
				<td class="subtitle" style="text-align: center;">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=num_replies&amp;order={$order}" title="{$L_REPLIES}">{$L_REPLIES}{$num_replies_sort}</a>&nbsp;</td>
				<td class="subtitle" style="text-align: center;">&nbsp;<a href="viewforum.php?f={$forum_forum_id}&amp;sort=views&amp;order={$order}" title="{$L_VIEWS}">{$L_VIEWS}{$views_sort}</a>&nbsp;</td>
				<if:if var="modpanel" eq="1"><td class="subtitle" style="text-align: center;">&nbsp;{$L_SELECT}&nbsp;</td></if:if>
			</tr>
			<core:block id="no_topics" hidden="yes">
			<tr>
				<td class="alt1" colspan="<if:if var="modpanel" eq="1">7<if:else />6</if:if>">
					<div align="center" class="outset_box">
						<br />
						{$topics_message}
						<br /><br />
					</div>
				</td>
			</tr>
			</core:block>
			<list:list id="topics">
			<list:item list="topics"><list:switch list="topics" var="row_class" a="alt1" b="alt2">
			<core:import id="topic_view" file="topic_view.html" />
			</list:switch></list:item>
			</list:list>
			<if:if var="modpanel" eq="1">
			<!-- Moderator Controls -->
			<tr>
				<td class="modmaintitle" colspan="7">
					<form action="mod.php?act=moderate_forum&amp;id={$forum_id}" method="post" enctype="multipart/form-data">
						<input type="hidden" name="topics" id="topics" value="" />
						<div align="center">
							<strong>{$L_WITHTOPICS}:</strong>
							<select name="action">
								<option value="lock">{$L_LOCKTOPICS}</option>
								<option value="stick">{$L_STICKTOPICS}</option>
								<option value="announce">{$L_ANNOUNCETOPICS}</option>
								<option value="feature">{$L_FEATURETOPICS}</option>
								<option value="normal">{$L_SETASNORMALTOPICS}</option>
								<option value="move">{$L_MOVECOPYTOPICS}</option>
								<option value="delete">{$L_DELETETOPICS}</option>
								<option value="queue">{$L_QUEUE}</option>
								<option value="subscribe">{$L_SUBSCRIBETOTOPICS}</option>
							</select>
							<input type="submit" value="{$L_PERFORMACTION} (0)" id="performact_button" class="button" />
						</div>
					</form>
				</td>
			</tr>
			<!-- / Moderator Controls -->
			</if:if>
		</table>
	</div>
</div>
<!-- / Topics List of '{$current_location}' -->

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<div align="left">
				<maps:if list="forums" var="topics" forum="forum_id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
			</div>
		</td>
		<td width="50%">
			<page:navigator id="topics_pager">
			<div align="right">
				<table cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="pagination">
					<tr>
						<td class="alt3" id="page_jump2" nowrap="nowrap"><div class="ddmenu_link"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></div></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="topics_pager" before="3" after="3">
						<list:item list="topics_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
			</page:navigator>
		</td>
	</tr>
</table>

<br />
<!-- Forum Display Options -->
<div class="shadow">
	<div class="borderwrap">
		<div class="maintitle" id="f{$forum_id}do_maintitle">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapsedo_{$forum_id}', 'do_{$forum_id}', 'f{$forum_id}do_maintitle')" title="{$L_EXPANDCOLLAPSE}"><img id="collapsedo_{$forum_id}" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
			{$L_DISPLAYOPTIONS}
		</div>
		<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table" id="do_{$forum_id}">
			<tr class="alt1">
				<td>
					<table width="" cellpadding="0" cellspacing="0" border="0">
						<tr> 
							<td><img src="Images/{$IMG_DIR}/Icons/Status/newfolder.gif" alt="{$L_OPENTOPICNEW}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_OPENTOPICNEW}&nbsp;</td>
							<td><img src="Images/{$IMG_DIR}/Icons/Status/announce.gif" alt="{$L_ANNOUNCEMENT}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_ANNOUNCEMENT}&nbsp;</td>
						</tr>
						<tr> 
							<td><img src="Images/{$IMG_DIR}/Icons/Status/folder.gif" alt="{$L_OPENTOPIC}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_OPENTOPIC}&nbsp;</td>
							<td><img src="Images/{$IMG_DIR}/Icons/Status/poll.gif" alt="{$L_POLL}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_POLL}&nbsp;</td>
						</tr>
						<tr> 
							<td><img src="Images/{$IMG_DIR}/Icons/Status/newhotfolder.gif" alt="{$L_HOTTOPICNEW}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_HOTTOPICNEW}&nbsp;</td>
							<td><img src="Images/{$IMG_DIR}/Icons/Status/folder_lock.gif" alt="{$L_LOCKEDTOPIC2}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_LOCKEDTOPIC2}&nbsp;</td>
						</tr>
						<tr> 
							<td><img src="Images/{$IMG_DIR}/Icons/Status/hotfolder.gif" alt="{$L_HOTTOPIC}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_HOTTOPIC}&nbsp;</td>
							<td><img src="Images/{$IMG_DIR}/Icons/Status/sticky.gif" alt="{$L_STICKY}" border="0" /></td>
							<td nowrap="nowrap" class="smalltext">{$L_STICKY}&nbsp;</td>
						</tr>
					</table>
				</td>
				<td width="80%">
					<div align="right">
						<form action="viewforum.php" method="get" enctype="multipart/form-data">
							<input type="hidden" name="f" value="{$forum_id}" />
							<input type="hidden" name="start" value="{$pag_start}" />
							<table cellpadding="0" cellspacing="{$style_cellspacing}" border="0">
								<tr>
									<td class="smalltext">{$L_SORTEDBY}:</td>
									<td>
										<select name="sort" style="width:125px" class="smalltext">
											<option value="name">{$L_TOPICTITLE}</option>
											<option value="reply_time" selected="selected">{$L_LASTPOSTTIME}</option>
											<option value="num_replies" >{$L_NUMOFREPLIES}</option>
											<option value="views" >{$L_NUMOFVIEWS}</option>
											<option value="poster_name" >{$L_TOPICSTARTER}</option>
											<option value="rating" >{$L_TOPICRATING}</option>
										</select>
									</td>
									<td class="smalltext">{$L_SORTORDER}:</td>
									<td>
										<select name="order" style="width:100px" class="smalltext">
											<option value="ASC">{$L_ASC}</option>
											<option value="DESC" selected="selected">{$L_DESC}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="smalltext">{$L_FROMTHE}:</td>
									<td>
										<select name="daysprune" style="width:125px" class="smalltext">
											<option value="1">{$L_LAST_DAY}</option>
											<option value="2">{$L_LAST_2_DAYS}</option>
											<option value="7">{$L_LAST_WEEK}</option>
											<option value="10">{$L_LAST_10_DAYS}</option>
											<option value="14">{$L_LAST_2_WEEKS}</option>
											<option value="30">{$L_LAST_MONTH}</option>
											<option value="45">{$L_LAST_45_DAYS}</option>
											<option value="60">{$L_LAST_2_MONTHS}</option>
											<option value="75">{$L_LAST_75_DAYS}</option>
											<option value="100">{$L_LAST_100_DAYS}</option>
											<option value="365">{$L_LAST_YEAR}</option>
											<option value="0" selected="selected">{$L_BEGINNING}</option>
										</select>
									</td>
									<td class="smalltext">
										{$L_LIMIT}: 
										<select name="limit" class="smalltext">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="30" selected="selected">30</option>
											<option value="40">40</option>
											<option value="50">50</option>
										</select>
									</td>
									<td><input type="submit" class="button" value="{$L_SHOWTOPICS}" style="width:100px" /></td>
								</tr>
							</table>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- / Forum Display Options -->

<!-- Forum User Posting Options -->
<br />
<div class="inset_box_small">
	<div class="minitext" align="right">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td valign="top">
					{$forum_user_reply_options}
				</td>
				<td>&nbsp;&nbsp;</td>
				<td valign="top">
					{$forum_user_topic_options}
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- / Forum User Posting Options -->

<!-- Forum Options -->
<div id="forumoptions_menu" class="borderwrap" style="display: none;">
	<table width="190" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<is:logged>
		<tr>
			<td class="alt1">
				<if:if var="is_subscribed" eq="0">
				<a class="smalltext" href="viewforum.php?act=track&amp;id={$forum_id}" style="font-size: 11px;" title="{$L_SUBSCRIBEFORUM}">{$L_SUBSCRIBEFORUM}</a>
				<if:else />
				<a class="smalltext" href="viewforum.php?act=untrack&amp;id={$forum_id}" style="font-size: 11px;" title="{$L_UNSUBSCRIBEFORUM}">{$L_UNSUBSCRIBEFORUM}</a>
				</if:if>
			</td>
		</tr>
		</is:logged>
		<tr>
			<td class="alt1">
				<a href="viewforum.php?act=markforum&amp;id={$forum_forum_id}" title="{$L_MARKFORUMREAD}" class="smalltext">{$L_MARKFORUMREAD}</a>
			</td>
		</tr>
		<tr>
			<td class="subtitle">{$L_SEARCHTHISFORUM}</td>
		</tr>
		<tr>
			<td class="alt1">
				<form action="search.php?act=find" method="post" enctype="multipart/form-data">
				<input type="text" name="keywords" value="" class="inputbox" />
				
				<input type="hidden" name="viewas" value="topics" />
				<input type="hidden" name="searchsubforums" value="0" />
				<input type="hidden" name="forums" value="f{$forum_forum_id}" />

				<input type="submit" value="{$L_GO}" class="button" />
				</form>
			</td>
		</tr>
	</table>
</div>
<!-- / Forum Options -->

<core:import id="page_jumper" file="page_jumper.html" />
<script type="text/javascript">
	menu_init('forumoptions_link', 'forumoptions_menu');
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');
</script>