<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<!-- Posting Buttons -->
			<div align="left">
				<maps:if var="topics" forum="topic_forum_id" method="can_add">
				<a href="newtopic.php?id={$topic_forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
				<maps:if var="replies" forum="topic_forum_id" method="can_add">
				<a href="newreply.php?id={$topic_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_reply.gif" alt="{$L_POSTREPLY}" /></a>
				</maps:if>
				</maps:if>
			</div>
			<!-- / Posting Buttons -->
		</td>
		<td width="50%">
			<page:navigator id="replies_pager">
			<div align="right">
				<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
					<tr>
						<td class="alt3"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="replies_pager" before="3" after="3">
						<list:item list="replies_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
			</page:navigator>
		</td>
	</tr>
</table>

<list:list id="topic">
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="tcat">
		<td colspan="2">
			<is:logged>
			<div style="float: left;">
				<a href="viewtopic.php?act=track&amp;id={$topic_id}" title="{$L_TRACKTOPIC}">{$L_TRACKTOPIC}</a>
			</div>
			</is:logged>
			<div style="float: right;">
				<a href="findpost.php?id={$next_oldest}&prev=1" title="{$L_NEXTOLDEST}">&lt; {$L_NEXTOLDEST}</a>
				| <a href="findpost.php?id={$next_newest}&next=1" title="{$L_NEXTNEWEST}">{$L_NEXTNEWEST} &gt;</a>
			</div>
		</td>
	</tr>
<list:item list="topic">

<!-- Topic: {$name} -->
<core:import id="topic" file="topic.html" />
<!-- / Topic: {$name} -->

<maps:if var="replies" forum="topic_forum_id" method="can_view">
<list:sublist list="topic" id="replies" column="replies">
<list:item list="replies">

<!-- Reply: {$name} -->
<core:import id="reply" file="reply.html" />
<!-- / Reply: {$name} -->

</list:item>
</list:sublist>
</maps:if>
</list:item>
</table>
</list:list>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<!-- Posting Buttons -->
			<div align="left">
				<maps:if var="topics" forum="topic_forum_id" method="can_add">
				<a href="newtopic.php?id={$topic_forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
				<maps:if var="replies" forum="topic_forum_id" method="can_add">
				<a href="newreply.php?id={$topic_id}" title="{$L_POSTREPLY}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_reply.gif" alt="{$L_POSTREPLY}" /></a>
				</maps:if>
				</maps:if>
			</div>
			<!-- / Posting Buttons -->
		</td>
		<td width="50%">
			<page:navigator id="replies_pager">
			<div align="right">
				<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
					<tr>
						<td class="alt3"><span class="smalltext">{$L_PAGES} ({$num_pages})</span></td>
						<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
						<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
						<page:list id="replies_pager" before="3" after="3">
						<list:item list="replies_pager">
							<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
						</list:item>
						</page:list>
						<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
						<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
					</tr>
				</table>
			</div>
			</page:navigator>
		</td>
	</tr>
</table>

<core:import id="similar_topics" />

<!-- Image Resizer -->
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr>
		<td width="80%" id="ruler"></td>
	</tr>
</table>
<script type="text/javascript">resize_bbimgs('ruler');</script>
<!-- / Image Resizer -->