<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<core:import id="head" file="head.html" />
<body>
<core:import id="header" file="header.html" />
<core:import id="menu_global" file="menu_global.html" />
<hr />
<core:import id="breadcrumbs" file="header_breadcrumbs.html" />
<hr />
<div align="center">
	<div align="left" class="forum_base">
		<br />
		<div class="forum_main" id="forum_main">
			<if:if var="can_see_board" method="can_view" geq="0">
			<core:import id="content" />
			<core:import id="content_extra" />
			<if:else />
			<!-- You don't have permission to view the forums -->
			<div>
				<div class="title">{$L_INFORMATION}</div>
				<div class="alt3">
					{$L_YOUNEEDPERMS}
				</div>
				</table>
			</div>
			<!-- / You don't have permission to view the forums -->
			</if:if>
		</div>
	</div>
</div>
<hr />
<a href="http://www.k4bb.org" title="k4 Bulletin Board" class="smalltext" target="_blank">Powered By: k4 {$VERSION}</a>
<if:if var="copyrighttext" noteq=""><br />{$copyrighttext}</if:if>
<a name="bottom" id="bottom"></a>

<!--
COPYRIGHT NOTICE

// Please keep this copyright notice in place

/**
* k4 Bulletin Board
*
* Copyright (c) 2005, Peter Goodman
*
* This library is free software; you can redistribute it and/orextension=php_gd2.dll
* modify it under the terms of the GNU Lesser General Public
* License as published by the Free Software Foundation; either
* version 2.1 of the License, or (at your option) any later version.
* 
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* Lesser General Public License for more details.
* 
* Licensed under the LGPL license
* http://www.gnu.org/copyleft/lesser.html
*
* @author Peter Goodman
* @author Geoffrey Goodman
*/
-->
</body>
</html>