<!-- Main Navigation -->
<ul class="menu_global">
	<li class="first"><a href="index.php" title="{$L_HOME}">{$L_HOME}</a></li>
	<!--<if:if var="enableblogs" eq="1"><li><a href="blogs.php" title="{$L_BLOGS}">{$L_BLOGS}</a></li></if:if>-->
	<if:if var="enablememberlist" eq="1"><li><a href="member.php?act=list&amp;start=0&amp;limit=30&amp;letter=*" title="{$L_MEMBERLIST}">{$L_MEMBERLIST}</a></li></if:if>
	<li><a href="faq.php" title="{$L_HELP}">{$L_HELP}</a></li>
</ul>
<!-- / Main Navigation -->