<core:import id="forum_rules" file="forum_rules.html" />
<h4>{$topic_name}</h4>
<a href="rss.php?t={$topic_post_id}" title="{$L_RSSFEED}: {$topic_name}">{$L_RSSFEED}</a>
<page:navigator id="replie_pager">
<hr />
<ul>
	<li>{$L_PAGES} ({$num_pages})</li>
	<page:first><li><page:link><span class="smalltext">{$L_FIRST}</span></page:link></li></page:first>
	<page:prev><li><page:link><span class="smalltext">{$L_PREV}</span></page:link></li></page:prev>
	<page:list id="replies_pager" before="3" after="3">
	<list:item list="replies_pager">
		<li><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
	</list:item>
	</page:list>
	<page:next><li><page:link><span class="smalltext">{$L_NEXT}</span></page:link></li></page:next>
	<page:last><li><page:link><span class="smalltext">{$L_LAST}</span></page:link></li></page:last>
</ul>
<hr />
</page:navigator>
<list:list id="topic">
<ul>
	<list:item list="topic">
	<li>
		<ul>
			<li><a name="t{$post_id}" id="t{$post_id}" title="{$name}">{$name}</a></li>
			<li>{$body_text}</li>
			<if:if var="poster_id" noteq="0"><li>{$L_BY}: <a href="member.php?id={$poster_id}" title="{$L_PROFILE}: {$poster_name}">{$poster_name}</a></li></if:if>
		</ul>
	</li>
	<maps:if var="replies" forum="topic_forum_id" method="can_view">
	<list:sublist list="topic" id="replies" column="replies">
	<list:item list="replies">
	<list:switch list="replies" var="list_type" a="square" b="circle">
	<li>
		<ul type="{$list_type}">
			<li><a name="p{$post_id}" id="p{$post_id}" title="{$name}">{$name}</a></li>
			<li>{$body_text}</li>
			<if:if var="poster_id" noteq="0"><li>{$L_BY}: <a href="member.php?id={$poster_id}" title="{$L_PROFILE}: {$poster_name}">{$poster_name}</a></li></if:if>
		</ul>
	</li>
	</list:switch>
	</list:item>
	</list:sublist>
	</maps:if>
	</list:item>
</ul>
</list:list>