<?php if ($scope->getVar("allowbbcode") == 1): ?>
<?php if ($scope->getVar("can_wysiwyg") == 1): ?>
<?php if ($scope->getVar("has_bbcode_perms") == 1): ?>
	
	<!-- Editor -->
	<div id="editorcodex">
		<textarea name="message" class="inputbox" id="messagecodex" style="width: 540px; height: 200px;"><?php echo $scope->getVar("editor_text"); ?></textarea>
		<div style="text-align: right;"><img onclick="switch_editor_type('bbcode', 'wysiwyg', 'messagecodex', 'wysiwygcodex')" src="js/editor/switch_format.gif" alt="" border="0" class="alt3" style="padding:0px;border: 1px solid #AAAAAA;" /></div>
	</div>
	<!-- / Editor -->

<?php endif; ?>
<?php endif; ?>
<?php endif; ?>