<div class="k4_borderwrap">
	<div class="k4_maintitle">
		<?php echo $scope->getVar("L_FAQLONG"); ?><?php if ($scope->getVar("add_catname") != ""): ?><span style="font-weight:normal;"><?php echo $scope->getVar("add_catname"); ?></spamn><?php endif; ?>
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		
<?php if ($scope->listBegin("faq_answers")): ?>
		<tr>
			<td class="alt3">
				<ul type="circle">
<?php if ($scope->listKey("faq_answers") == -1 && !$scope->listHasNext("faq_answers")): ?>
					<div align="center" class="smalltext"><em><?php echo $scope->getVar("L_NOFAQANSWERS"); ?></em></div>
<?php endif; ?>
<?php while($scope->listNext("faq_answers")): ?>
<?php if ($scope->getVar("has_top_level") == 1): ?><li><a href="faq.php?c=<?php echo $scope->getVar("category_id"); ?>#faq<?php echo $scope->getVar("answer_id"); ?>" title="<?php echo $scope->getVar("question"); ?>"><strong><?php echo $scope->getVar("question"); ?></strong></a></li><?php endif; ?>
<?php $scope->pop(); endwhile; ?>
				</ul>
			</td>
		</tr>
<?php endif; ?>
	</table>
</div>
<?php if ($scope->listBegin("faq_categories")): ?>
<?php while($scope->listNext("faq_categories")): ?>
<?php switch($scope->listKey("faq_categories") % 2): ?><?php case 0: $scope->push(array('row_class' => 'alt1')); break; ?><?php case 1: $scope->push(array('row_class' => 'alt3')); break; ?><?php default: $scope->push(array()); endswitch; ?>
<br />
<div class="k4_borderwrap">
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle">
				<a href="faq.php?c=<?php echo $scope->getVar("category_id"); ?>" title="<?php echo $scope->getVar("name"); ?>"><strong><?php echo $scope->getVar("name"); ?></strong></a>
			</td>
		</tr>
		<tr>
			<td class="<?php echo $scope->getVar("row_class"); ?>">
				
<?php if ($scope->getVar("num_answers") > 0): ?>
<?php if ($scope->listBeginNew("sub_answers", $scope->getVar("sub_answers"))): ?>
				<!-- Answers -->
				<ul type="circle">
<?php while($scope->listNext("sub_answers")): ?>
					<li><a href="faq.php?c=<?php echo $scope->getVar("category_id"); ?>#faq<?php echo $scope->getVar("answer_id"); ?>" title="<?php echo $scope->getVar("question"); ?>"><strong><?php echo $scope->getVar("question"); ?></strong></a></li>
<?php $scope->pop(); endwhile; ?>
				</ul>
				<!-- / Answers -->
<?php endif; ?>
<?php endif; ?>
				
<?php if ($scope->getVar("num_categories") > 0): ?>
<?php if ($scope->listBeginNew("sub_categories", $scope->getVar("sub_categories"))): ?>
				<!-- Sub-Categories -->
				<ul type="disc">
<?php while($scope->listNext("sub_categories")): ?>
					<li>
						<a href="faq.php?c=<?php echo $scope->getVar("category_id"); ?>" title="<?php echo $scope->getVar("name"); ?>"><strong><?php echo $scope->getVar("name"); ?></strong></a>
						<span class="minitext"><em>(<?php echo $scope->getVar("num_answers"); ?> <?php echo $scope->getVar("L_ANSWERS"); ?>)</em></span>
					</li>
<?php $scope->pop(); endwhile; ?>
				</ul>
				<!--/ Sub-Categories -->
<?php endif; ?>
<?php endif; ?>

			</td>
		</tr>
	</table>
</div>
<?php $scope->pop(); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php if ($scope->getVar("has_top_level") == 1): ?>
<br />
<?php if ($scope->listBegin("faq_answers")): ?>
<?php while($scope->listNext("faq_answers")): ?>
<div class="k4_borderwrap">
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="k4_maintitle">
				<a name="faq<?php echo $scope->getVar("answer_id"); ?>" id="faq<?php echo $scope->getVar("answer_id"); ?>"><?php echo $scope->getVar("question"); ?></a>
			</td>
		</tr>
		<tr>
			<td class="alt1">
				<?php echo $scope->getVar("answer"); ?>
			</td>
		</tr>
	</table>
</div>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php endif; ?>