<!-- Footer -->
<div class="header_breadcrumbs" align="right">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="left" width="70%">
				<!-- Benchmarking -->
				<ul class="menu_global">
					<li class="first"><a href="http://www.k4bb.org" title="k4 Bulletin Board" class="smalltext" target="_blank">Powered By: k4 <?php echo $scope->getVar("VERSION"); ?></a></li>
					<li><span class="smalltext">Load time: <?php echo $scope->getVar("load_time"); ?></span></li>
					<li><span class="smalltext">Num Queries: <?php echo $scope->getVar("num_queries"); ?></span></li>
					<li><a href="<?php echo $scope->getVar("debug_url"); ?>" title="Debug" class="smalltext">Debug</a></li>
				</ul>
				<!-- / Benchmarking -->
			</td>
			<td align="right" width="30%" nowrap="nowrap">
				<ul class="menu_global">
					<li class="first"><a href="<?php echo $scope->getVar("contactuslink"); ?>" title="<?php echo $scope->getVar("L_CONTACTUS"); ?>" class="smalltext"><?php echo $scope->getVar("L_CONTACTUS"); ?></a></li>
					<li><a href="faq.php" title="<?php echo $scope->getVar("L_HELP"); ?>" class="smalltext"><?php echo $scope->getVar("L_HELP"); ?></a></li>
					<li><a href="#top" title="<?php echo $scope->getVar("L_TOP"); ?>" class="smalltext"><?php echo $scope->getVar("L_TOP"); ?></a></li>
<?php if ($scope->getVar("enablegzip") == 1): ?><li><span class="smalltext"><?php echo $scope->getVar("L_GZIPENABLED"); ?></span></li><?php endif; ?>
				</ul>
			</td>
		</tr>
	</table>
</div>
<!-- / Footer -->