<!-- Footer Breadcrumbs Bit -->
<div class="menu_global">
	<div style="text-align: left;">
		<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/navbits_start<?php echo $scope->getVar("breadcrumb_new"); ?>.gif" alt="<?php echo $scope->getVar("bbtitle"); ?>" />&nbsp;<a href="index.php" title="<?php echo $scope->getVar("bbtitle"); ?>"><strong><?php echo $scope->getVar("bbtitle"); ?></strong></a>
<?php if ($scope->listBegin("breadcrumbs")): ?>
<?php while($scope->listNext("breadcrumbs")): ?>
		&gt; <a href="<?php echo $scope->getVar("location"); ?>" title="<?php echo $scope->getVar("name"); ?>"><strong><?php ob_start(); $length = "40"; $append = "..."; ?><?php echo $scope->getVar("name"); ?><?php $string = ob_get_contents(); ob_end_clean(); echo ((strlen($string) > $length) ? substr($string, 0, $length - strlen($append)) . $append : $string); ?></strong></a>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
		&gt;&nbsp;<strong><?php ob_start(); $length = "55"; $append = "..."; ?><?php echo $scope->getVar("current_location"); ?><?php $string = ob_get_contents(); ob_end_clean(); echo ((strlen($string) > $length) ? substr($string, 0, $length - strlen($append)) . $append : $string); ?></strong>
	</div>
</div>
<!-- / Footer Breadcrumbs Bit -->