<!-- Forums List -->
<?php if ($scope->listBegin("categories")): ?>
<?php if ($scope->listKey("categories") == -1 && !$scope->listHasNext("categories")): ?>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">	
		<tr>
			<td class="alt3" colspan="5" width="100%">
				<div class="outset_box" align="center">
					<br />
					<?php echo $scope->getVar("L_NOFORUMSEXIST"); ?>
					<br /><br />
				</div>
			</td>
		</tr>
	</table>
<?php endif; ?>
<?php while($scope->listNext("categories")): ?>

<?php if ($scope->getVar("row_type") == 2): ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_id")]['can_view']) && $_MAPS['forums'][$scope->getVar("forum_id")]['can_view'] <= $_SESSION['user']->get('perms'))): ?>
		<div class="k4_borderwrap">
			<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
<?php if ($file = $runtime->getFile("forum_view", "forum_view.html")) $template->render($file, $scope, $runtime); ?>
			</table>
		</div>
		<br />
<?php endif; ?>
<?php elseif ($scope->getVar("row_type") == 1): ?>
	
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['categories'][$scope->getVar("category_id")]['can_view']) && $_MAPS['categories'][$scope->getVar("category_id")]['can_view'] <= $_SESSION['user']->get('perms'))): ?>
			<a href="viewforum.php?c=<?php echo $scope->getVar("category_id"); ?>" title="<?php echo $scope->getVar("safe_description"); ?>" class="title_link"><?php echo $scope->getVar("name"); ?></a>
			<div class="k4_borderwrap">	
				<div class="k4_maintitle" id="c<?php echo $scope->getVar("category_id"); ?>_maintitle">
					<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_<?php echo $scope->getVar("category_id"); ?>', 'forums_<?php echo $scope->getVar("category_id"); ?>', 'c<?php echo $scope->getVar("category_id"); ?>_maintitle')" title="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_<?php echo $scope->getVar("category_id"); ?>" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/collapse_thead.gif" alt="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div>
					<span class="minitext" style="font-weight: normal;"><?php echo $scope->getVar("description"); ?></span>
				</div>
				<!-- Forums -->
<?php if ($scope->listBeginNew("forums", $scope->getVar("forums"))): ?>
				
				<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table" id="forums_<?php echo $scope->getVar("category_id"); ?>">
					<tr>
						<td colspan="2" class="k4_subtitle" width="60%" align="left">&nbsp;<?php echo $scope->getVar("L_FORUM"); ?></td>
						<td class="k4_subtitle" width="5%" align="center">&nbsp;<?php echo $scope->getVar("L_POSTS"); ?>&nbsp;</td>
						<td class="k4_subtitle" width="5%" align="center">&nbsp;<?php echo $scope->getVar("L_TOPICS"); ?>&nbsp;</td>
						<td class="k4_subtitle" width="30%" align="center"><?php echo $scope->getVar("L_LASTPOST"); ?></td>
					</tr>
<?php while($scope->listNext("forums")): ?>
<?php if ($file = $runtime->getFile("forum_view", "forum_view.html")) $template->render($file, $scope, $runtime); ?>
<?php $scope->pop(); endwhile; ?>
				</table>
<?php endif; ?>
			<!-- / Forums -->
			</div>
			<br />
<?php endif; ?>
<?php endif; ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>

<div class="outset_box_small" style="text-align: center;">
	<a href="index.php?act=markforums" title="<?php echo $scope->getVar("L_MARKFORUMSREAD"); ?>" class="minitext"><?php echo $scope->getVar("L_MARKFORUMSREAD"); ?></a>
<?php if ($runtime->isVisible('mark_these_forums', FALSE)): ?>| <a href="viewforum.php?act=markforums&amp;c=<?php echo $scope->getVar("id"); ?>" title="<?php echo $scope->getVar("L_MARKTHESEFORUMREAD"); ?>" class="minitext"><?php echo $scope->getVar("L_MARKTHESEFORUMREAD"); ?></a><?php endif; ?>
</div>
<!-- / Forums List -->