<!-- Login Form -->
<?php if ($runtime->isVisible('no_perms', FALSE)): ?>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_INFORMATION"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3" colspan="2">
				<span class="smalltext"><?php echo $scope->getVar("L_YOUNEEDPERMS"); ?></span>
			</td>
		</tr>
	</table>
</div>
<br />
<?php endif; ?>
<?php if (!$_SESSION['user']->isMember()): ?>
<form id="login_form" name="login_form" action="<?php echo $scope->getVar("referer"); ?>" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_LOGIN"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">	
		<tr>
			<td colspan="2" class="alt1">
				<?php echo $scope->getVar("L_LOGINREGISTERMESSAGE"); ?>
			</td>
		</tr>
		<tr>
			<td width="50%" class="alt3" align="center">
				<table cellpadding="0" cellspacing="1" border="0" class="alt2">
					<tr>
						<td width="50%"><label for="username"><strong><?php echo $scope->getVar("L_USERNAME"); ?></strong></label></td>
						<td width="50%"><input type="text" name="username" id="username" class="inputbox" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" value="" tabindex="1" /></td>
					</tr>
					<tr>
						<td width="50%"><label for="password"><strong><?php echo $scope->getVar("L_PASSWORD"); ?></strong></label></td>
						<td width="50%"><input type="password" name="password" id="password" class="inputbox" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" value="" tabindex="2" /></td>
					</tr>
					<tr>
						<td width="50%"><input type="submit" class="button" value="<?php echo $scope->getVar("L_LOGIN"); ?>" tabindex="3" />&nbsp;<input type="reset" class="button" value="<?php echo $scope->getVar("L_RESET"); ?>" /></td>
						<td width="50%"><input type="checkbox" class="checkbox" name="rememberme" id="rememberme" checked="checked" value="on" /><label for="rememberme">&nbsp;<?php echo $scope->getVar("L_REMEMBERME"); ?></label></td>
					</tr>
				</table>
			</td>
			<td width="50%" class="alt3" style="text-align: center;">
				<br />
				<a href="member.php?act=forgotpw" title="<?php echo $scope->getVar("L_FORGOTPW"); ?>"><?php echo $scope->getVar("L_FORGOTPW"); ?></a>
				<br />
				<a href="member.php?act=resendemail" title="<?php echo $scope->getVar("L_RESENDVALIDATIONEMAIL"); ?>"><?php echo $scope->getVar("L_RESENDVALIDATIONEMAIL"); ?></a>
				<br /><br />
				<a href="member.php?act=register" title="<?php echo $scope->getVar("L_REGISTER"); ?>" style="font-size:13px;font-weight:bold;" class=""><?php echo $scope->getVar("L_REGISTERNOW"); ?></a>
				<br /><br />
			</td>
		</tr>
	</table>
</div>
</form>
<?php endif; ?>
<!-- / Login Form -->