<?php if ($file = $runtime->getFile("forum_rules", "forum_rules.html")) $template->render($file, $scope, $runtime); ?>
<?php if ($file = $runtime->getFile("preview", "")) $template->render($file, $scope, $runtime); ?>
<form name="savepost_form" id="savepost_form" action="<?php echo $scope->getVar("newreply_act"); ?>" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<input type="hidden" name="forum_id" id="forum_id" value="<?php echo $scope->getVar("reply_forum_id"); ?>" />
<input type="hidden" name="topic_id" id="topic_id" value="<?php echo $scope->getVar("reply_topic_id"); ?>" />
<?php if ($runtime->isVisible('parent_id', FALSE)): ?><input type="hidden" name="parent_id" id="parent_id" value="<?php echo $scope->getVar("parent_id"); ?>" /><?php endif; ?>
<?php if ($runtime->isVisible('reply_id', FALSE)): ?><input type="hidden" name="reply_id" id="reply_id" value="<?php echo $scope->getVar("reply_reply_id"); ?>" /><?php endif; ?>

<!-- AJAX Reply Preview -->
<div id="ajax_post_preview" style="display: none;"></div>
<!-- / AJAX Reply Preview -->

<div class="k4_borderwrap">
	<div class="k4_maintitle">
<?php if ($runtime->isVisible('post_reply', TRUE)): ?>
		<div style="float:right;" class="smalltext">
			<strong><?php echo $scope->getVar("L_REPLY"); ?>:</strong>
			<a href="findpost.php?id=<?php echo $scope->getVar("parent_id"); ?>" class="smalltext" style="font-weight: normal;" title="<?php echo $scope->getVar("parent_name"); ?>"><?php echo $scope->getVar("parent_name"); ?></a>
		</div>
		<?php echo $scope->getVar("L_POSTREPLY"); ?>
<?php endif; ?>
<?php if ($runtime->isVisible('edit_post', FALSE)): ?>
		<div style="float:right;" class="smalltext">
			<strong><?php echo $scope->getVar("L_REPLY"); ?>:</strong>
			<a href="findpost.php?id=<?php echo $scope->getVar("reply_reply_id"); ?>" class="smalltext" style="font-weight: normal;" title="<?php echo $scope->getVar("reply_name"); ?>"><?php echo $scope->getVar("reply_name"); ?></a>
		</div>
		<?php echo $scope->getVar("L_EDITPOST"); ?>: <span style="font-weight: normal;"><?php echo $scope->getVar("reply_name"); ?></span>
<?php endif; ?>
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3" colspan="2" align="center">
				
				<!-- Main Posting Inputs -->
				<div class="outset_box" align="left">
					<span class="smalltext" style="float: right;">
						<?php echo $scope->getVar("L_LOGGEDAS"); ?>
<?php if ($_SESSION['user']->isMember()): ?>
						<a href="member.php?id=<?php echo $scope->getVar("user_id"); ?>" style="text-decoration: underline;"><?php echo $scope->getVar("user_name"); ?></a>
<?php else: ?>
						<strong><?php echo $scope->getVar("L_GUEST"); ?></strong>
<?php endif; ?>
					</span>
					<table border="0" cellpadding="0" cellspacing="0">
<?php if (!$_SESSION['user']->isMember()): ?>
						<tr>
							<td>
								<!-- Poster Name -->
								<label for="poster_name" class="smalltext"><?php echo $scope->getVar("L_YOURNAME"); ?></label><br />
								<input type="text" name="poster_name" id="poster_name" tabindex="1" value="<?php echo $scope->getVar("poster_name"); ?>" size="<?php echo $scope->getVar("maxuserlength"); ?>" class="inputbox" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" />
								<!-- / Poster Name -->
							</td>
						</tr>
<?php endif; ?>
						<tr>
							<td>
								<!-- Post Title -->
								<label for="name" class="smalltext"><?php echo $scope->getVar("L_POSTTITLE"); ?></label><br />
								<input type="text" name="name" id="name" value="<?php echo $scope->getVar("reply_name"); ?>" tabindex="2" style="width: 500px;" class="inputbox" maxlength="255" />
<script type="text/javascript">addVerification('name', '.{<?php echo $scope->getVar("topicminchars"); ?>,<?php echo $scope->getVar("topicmaxchars"); ?>}', 'name_error', 'inputfailed');</script><div id="name_error" style="display: none;"><?php echo $scope->getVar("L_TITLETOOSHORT"); ?></div>
								<!-- / Post Title -->
							</td>
							<td valign="bottom">
								<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
							</td>
						</tr>
						<tr>
							<td>
								<br />
								<!-- Post Message -->
								<label for="messagecodex" class="smalltext"><?php echo $scope->getVar("L_POST"); ?></label><br />
								
<?php if ($file = $runtime->getFile("editor", "editor.html")) $template->render($file, $scope, $runtime); ?>
<script type="text/javascript">addVerification('messagecodex', '(\\\n|\\\r\\\n|\\\r|.)+', 'messagecodex_error', 'inputfailed');</script><div id="messagecodex_error" style="display: none;"><?php echo $scope->getVar("L_INSERTREPLYMESSAGE"); ?></div>
								
								<!-- / Post Message -->

							</td>
							<td valign="bottom">
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['emoticons']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['emoticons']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
<?php if ($scope->listBegin("emoticons")): ?>
								
								<!-- Emoticons -->
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<fieldset>
												<legend><?php echo $scope->getVar("L_EMOTICONS"); ?></legend>
												<table cellpadding="3" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" id="posticons">
													<tr>
<?php while($scope->listNext("emoticons")): ?>
														<td align="center">
															<a href="javascript:emoticon('<?php echo $scope->getVar("typed"); ?>')" title="<?php echo $scope->getVar("description"); ?>"><img src="tmp/upload/emoticons/<?php echo $scope->getVar("image"); ?>" alt="<?php echo $scope->getVar("description"); ?>" border="0" /></a>
														</td>
<?php if ($scope->listHasNext("emoticons")): ?>
<?php if ($scope->listKey("emoticons") % $scope->getVar("emoticons_per_row") == $scope->getVar("emoticons_per_row_remainder")): ?>
																</tr><tr>
<?php endif; ?>
<?php endif; ?>
<?php $scope->pop(); endwhile; ?>
													</tr>	
												</table>
											</fieldset>
										</td>
									</tr>
								</table>
								<!-- / Emoticons -->

<?php endif; ?>
<?php endif; ?>
							</td>
						</tr>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['posticons']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['posticons']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
						<tr>
							<td colspan="2">
<?php if ($scope->listBegin("posticons")): ?>
								
								<!-- Post Icons -->
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td>
											<fieldset>
												<legend><?php echo $scope->getVar("L_POSTICONS"); ?></legend>
												<span class="smalltext"><?php echo $scope->getVar("L_POSTICONSPOSTCHOOSE"); ?></span>
												<label for="noicon" style="float: left;margin-top: 10px;"><input type="radio" name="posticon" id="noicon" value="clear.gif" checked="checked" onclick="swap_posticon(null)" />&nbsp;<?php echo $scope->getVar("L_NOICON"); ?></label>
												<table cellpadding="3" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" id="posticons">
													<tr>
<?php while($scope->listNext("posticons")): ?>
														<td align="center">
															<label for="pi<?php echo $scope->getVar("id"); ?>">
																<input type="radio" name="posticon" id="pi<?php echo $scope->getVar("id"); ?>" value="<?php echo $scope->getVar("image"); ?>" style="float: left;padding-right: 5px;" onclick="swap_posticon('pi_<?php echo $scope->getVar("id"); ?>')" />&nbsp;&nbsp;<img src="tmp/upload/posticons/<?php echo $scope->getVar("image"); ?>" alt="<?php echo $scope->getVar("description"); ?>" id="pi_<?php echo $scope->getVar("id"); ?>" style="margin-right:15px;" />
															</label>
														</td>
<?php if ($scope->listHasNext("posticons")): ?>
<?php if ($scope->listKey("posticons") % 7 == 6): ?>
																</tr><tr>
<?php endif; ?>
<?php endif; ?>
<?php $scope->pop(); endwhile; ?>
													</tr>	
												</table>
											</fieldset>
										</td>
									</tr>
								</table>
								<!-- / Post Icons -->

<?php endif; ?>
							</td>
						</tr>
<?php endif; ?>
					</table>
				</div>
				<!-- / Main Posting Inputs -->

			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" align="center" colspan="2">
				<input type="hidden" name="submit_type" id="submit_type" value="" />
				<input <?php if ($scope->getVar("nojs") == 1): ?>name="post"<?php endif; ?> type="submit" class="button" value="<?php echo $scope->getVar("L_SUBMIT"); ?>" accesskey="s" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'post'); }" />
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['post_preview']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['post_preview']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
					<input type="<?php if ($scope->getVar("nojs") == 0): ?>button<?php else: ?>submit<?php endif; ?>" <?php if ($scope->getVar("nojs") == 1): ?>name="preview"<?php endif; ?>class="button" value="<?php echo $scope->getVar("L_PREVIEW"); ?>" onclick="try{set_message_text();}catch(e){}if(checkForm(d.getElementById('savepost_form'))) { change_submit_type('submit_type', 'preview');setSendPostPreview('<?php echo $scope->getVar("newreply_act"); ?>'); }" />
<?php endif; ?>
				<input type="reset" class="button" value="<?php echo $scope->getVar("L_RESET"); ?>" />
			</td>
		</tr>
	</table>
</div>
<br />

<!-- Additional Post Options -->
<div class="k4_borderwrap">
	<div class="k4_maintitle" id="po_maintitle">
<?php if ($scope->getVar("nojs") == 0): ?><div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_po', 'postoptions', 'po_maintitle')" title="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_po" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/collapse_thead_collapsed.gif" alt="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div><?php endif; ?>
		<?php echo $scope->getVar("L_ADDITIONALOPTIONS"); ?>
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table" id="postoptions" <?php if ($scope->getVar("nojs") == 0): ?>style="display: none;"<?php endif; ?>>
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<fieldset>
						<legend><?php echo $scope->getVar("L_MISCOPTIONS"); ?></legend>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add'] <= $_SESSION['user']->get('perms'))): ?><input type="checkbox" name="disable_html" id="disable_html" checked="checked" />&nbsp;<label for="disable_html"><?php echo $scope->getVar("L_DISABLEHTML"); ?></label><br /><?php endif; ?>
						<input type="checkbox" name="disable_bbcode" id="disable_bbcode" />&nbsp;<label for="disable_bbcode"><?php echo $scope->getVar("L_DISABLEBBCODE"); ?></label><br />
						<input type="checkbox" name="disable_emoticons" id="disable_emoticons" />&nbsp;<label for="disable_emoticons"><?php echo $scope->getVar("L_DISABLEEMOTICONS"); ?></label><br />
						<input type="checkbox" name="disable_aurls" id="disable_aurls" />&nbsp;<label for="disable_aurls"><?php echo $scope->getVar("L_PARSEURLS"); ?></label><br />
<?php if ($_SESSION['user']->isMember()): ?><input type="checkbox" name="enable_sig" id="enable_sig" checked="checked" />&nbsp;<label for="enable_sig"><?php echo $scope->getVar("L_ATTACHSIGNATURE"); ?></label><br />
						<input type="checkbox" name="disable_areply" id="disable_areply" />&nbsp;<label for="disable_areply"><?php echo $scope->getVar("L_NOTIFYONREPLY"); ?></label><?php endif; ?>
					</fieldset>
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- / Additional Post Options -->

<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['attachments']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['attachments']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
<br />
<!-- Attachments Manager -->
<div class="k4_borderwrap">
	<div class="k4_maintitle" id="am_maintitle">
<?php if ($scope->getVar("nojs") == 0): ?><div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_am', 'attachmanage', 'am_maintitle')" title="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_am" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/collapse_thead_collapsed.gif" alt="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div><?php endif; ?>
		<?php echo $scope->getVar("L_ATTACHMENTSMANAGER"); ?>
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table" id="attachmanage" <?php if ($scope->getVar("nojs") == 0): ?>style="display: none;"<?php endif; ?>>
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<fieldset>
						<legend><?php echo $scope->getVar("L_SELECTFILES"); ?></legend>
						<div class="smalltext"><?php echo $scope->getVar("L_VALIDEXTENSIONS"); ?>: <?php echo $scope->getVar("attachextensions"); ?></div>
						<input type="hidden" name="MAX_FILE_SIZE" value="<?php echo $scope->getVar("maxattachsize"); ?>" />
						<?php echo $scope->getVar("attach_inputs"); ?>
					</fieldset>
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- / Attachments Manager -->
<?php endif; ?>

</form>
<br />

<!-- Topic Review -->
<div class="k4_borderwrap">
	<div class="k4_maintitle" id="tr_maintitle">
<?php if ($scope->getVar("nojs") == 0): ?><div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('topicreview_link', 'topicreview', 'tr_maintitle')" title="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="topicreview_link" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/collapse_thead.gif" alt="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div><?php endif; ?>
		<?php echo $scope->getVar("L_TOPICREVIEW"); ?> - <?php echo $scope->getVar("reply_name"); ?>
	</div>
	<div class="alt3" style="padding: 0px;">
		<div style="height: 300px; overflow: auto;" id="topicreview">
<?php if ($scope->listBegin("topic_review")): ?>
			<table width="99%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
			<tr>
				<td class="k4_subtitle" width="20%"><div align="center"><?php echo $scope->getVar("L_AUTHOR"); ?></div></td>
				<td class="k4_subtitle" width="80%"><div align="center"><?php echo $scope->getVar("L_MESSAGE"); ?></div></td>
			</tr>
<?php while($scope->listNext("topic_review")): ?>

<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['replies']['can_view']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['replies']['can_view'] <= $_SESSION['user']->get('perms'))): ?>
<?php if ($scope->listBeginNew("replies", $scope->getVar("replies"))): ?>
<?php while($scope->listNext("replies")): ?>

			<!-- Reply: <?php echo $scope->getVar("name"); ?> -->
<?php if ($file = $runtime->getFile("reply", "post_review.html")) $template->render($file, $scope, $runtime); ?>
			<!-- / Reply: <?php echo $scope->getVar("name"); ?> -->

<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php endif; ?>
			
			<!-- Topic: <?php echo $scope->getVar("name"); ?> -->
<?php if ($file = $runtime->getFile("topic", "post_review.html")) $template->render($file, $scope, $runtime); ?>
			<!-- / Topic: <?php echo $scope->getVar("name"); ?> -->

<?php $scope->pop(); endwhile; ?>
			</table>
<?php endif; ?>
		</div>
	</div>
</div>
<!-- / Topic Review -->

<br />
<!-- Posting Code Allowances -->
<div class="k4_borderwrap">
	<div class="k4_maintitle" id="pr_maintitle">
		<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_pr', 'postingrules', 'pr_maintitle')" title="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_pr" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/collapse_thead.gif" alt="<?php echo $scope->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div>
		<?php echo $scope->getVar("L_POSTINGRULES"); ?>
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table" id="postingrules">
		<tr>
			<td class="alt3" valign="top">
				<div align="left" class="minitext">
					<?php echo $scope->getVar("posting_code_options"); ?>
				</div>
			</td>
			<td class="alt3" valign="top">
				<div align="right" class="minitext">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td valign="top">
								<?php echo $scope->getVar("forum_user_reply_options"); ?>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- / Posting Code Allowances -->

<?php if ($runtime->isVisible('edit_reply', FALSE)): ?>
<!-- Edit Reply Javascript -->
<script type="text/javascript">
//<![CDATA[

	/**
	 * Get the main posting options
	 */
	
	try {
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add'] <= $_SESSION['user']->get('perms'))): ?>var disable_html			= document.getElementById('disable_html');<?php endif; ?>
		var disable_bbcode			= d.getElementById('disable_bbcode');
		var disable_emoticons		= d.getElementById('disable_emoticons');
		var disable_aurls			= d.getElementById('disable_aurls');
		var enable_sig				= d.getElementById('enable_sig');
		var disable_areply			= d.getElementById('disable_areply');
		
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['html']['can_add'] <= $_SESSION['user']->get('perms'))): ?>disable_html.checked		= (<?php echo $scope->getVar("reply_disable_html"); ?> == 1) ? true : false;<?php endif; ?>
		disable_bbcode.checked		= (<?php echo $scope->getVar("reply_disable_bbcode"); ?> == 1) ? true : false;
		disable_emoticons.checked	= (<?php echo $scope->getVar("reply_disable_emoticons"); ?> == 1) ? true : false;
		disable_aurls.checked		= (<?php echo $scope->getVar("reply_disable_aurls"); ?> == 1) ? true : false;
		enable_sig.checked			= (<?php echo $scope->getVar("reply_disable_sig"); ?> == 1) ? false : true;
		disable_areply.checked		= (<?php echo $scope->getVar("reply_disable_areply"); ?> == 1) ? true : false;
	
	} catch(e) {
		alert(e.message);
	}


	/**
	 * Get the post icons
	 */
	d.setRadio('<?php echo $scope->getVar("reply_posticon"); ?>', 'posticon');

	var pi_image	= d.getElementById('display_posticon');
	pi_image.src	= 'tmp/upload/posticons/<?php echo $scope->getVar("reply_posticon"); ?>';

//]]>
</script>
<!-- / Edit Reply Javascript -->
<?php endif; ?>