<!-- Pager Jump To Drop Down Menu -->
<script type="text/javascript">
//<![CDATA[
function jump_pages(input_id) {
	var jumpto				= d.getElementById(input_id);
	if(jumpto) {
		page				= parseInt(jumpto.value);
		document.location	= '<?php echo $scope->getVar("pagejumper_url"); ?>&page=' + page;
	}
}
//]]>
</script>
<div id="page_jump_menu" class="k4_borderwrap" style="display: none;width: auto;">
	<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle"><?php echo $scope->getVar("L_JUMPTOPAGE"); ?></td>
		</tr>
		<tr>
			<td class="alt3">
				<input type="text" name="jumpto" id="jumpto" size="2" class="inputbox" />
				<input type="button" class="button" value="<?php echo $scope->getVar("L_GO"); ?>" onclick="jump_pages('jumpto')" />
			</td>
		</tr>
	</table>
</div>
<!-- / Page Jump To Drop Down Menu -->