<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_LISTMESSAGES"); ?>: <span style="font-weight: normal;"><?php echo $scope->getVar("folder_name"); ?></span></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<fieldset>
						<legend><?php echo $scope->getVar("L_FOLDEROPTIONS"); ?></legend>
						<span class="smalltext"><?php echo $scope->getVar("L_PMSGSTATS"); ?> (<?php echo $scope->getVar("pm_usedpercent"); ?>%)</span><br />
						<div style="border:1px solid #000000;padding:1px;width:99%;">
							<div style="width:100%;height:20px;background-color:green;" align="left">
								<div style="width:<?php echo $scope->getVar("pm_usedpercent"); ?>%;height:20px;background-color:#FF0000;"></div>
							</div>
						</div>
						
						<hr />

						<div style="text-align: right;">
							<form action="member.php" method="get" enctype="multipart/form-data">
								<input type="hidden" name="act" value="usercp" />
								<input type="hidden" name="view" value="pmfolder" />
								<?php echo $scope->getVar("L_FOLDERJUMP"); ?>:&nbsp;
								<select name="folder" id="folder" class="smalltext">
<?php if ($scope->listBegin("pmfolders")): ?>
<?php while($scope->listNext("pmfolders")): ?>
<?php if ($scope->getVar("id") != (!$scope->getVar("folder_id") ? "folder_id" : $scope->getVar("folder_id"))): ?><option value="<?php echo $scope->getVar("id"); ?>">&nbsp;&middot; <?php echo $scope->getVar("name"); ?></option><?php else: ?><option style="font-weight: bold;" value="<?php echo $scope->getVar("id"); ?>"><?php echo $scope->getVar("name"); ?></option><?php endif; ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
								</select>
								<input type="submit" value="<?php echo $scope->getVar("L_GO"); ?>" class="button" />
							</form>
						</div>
					</fieldset>
				</div>
			</td>
		</tr>
	</table>
</div>
<br />
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%" align="left"><span class="title_link"><?php echo $scope->getVar("folder_name"); ?></span></td>
		<td width="50%" align="right">
<?php if ($pager = &$runtime->getPager("pms_pager")): ?><?php if($scope->getVar("num_pages") == "") { $scope->setVar("num_pages", ceil($pager->count / $pager->page_size)); } ?>
			<div>
				<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="pagination">
					<tr>
						<td class="alt3" id="page_jump1"><div class="nav_top"><span class="smalltext"><?php echo $scope->getVar("L_PAGES"); ?> (<?php echo $scope->getVar("num_pages"); ?>)</span></div></td>
<?php if ($scope->push($pager->getFirst())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_FIRST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getPrev())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_PREV"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($pager->hasPage('2') && $scope->listBeginNew("pms_pager", $pager->getIterator("3", "3"))): ?>
<?php while($scope->listNext("pms_pager")): ?>
							<td class="alt1"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a class="pager_link" href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong class="pager_link"><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("pagenum"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php if ($scope->push($pager->getNext())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_NEXT"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getLast())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_LAST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
					</tr>
				</table>
			</div>
<?php endif; ?>
		</td>
	</tr>
</table>
<form action="member.php?act=usercp&amp;view=pmperformact" method="post" enctype="multipart/form-data">
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_MESSAGES"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle">&nbsp;</td>
			<td class="k4_subtitle" width="60%"><?php echo $scope->getVar("L_SUBJECT"); ?>/<?php echo $scope->getVar("L_FROM"); ?></td>
			<td class="k4_subtitle" width="3%" align="center">&nbsp;<?php echo $scope->getVar("L_REPLIES"); ?>&nbsp;</td>
			<td class="k4_subtitle" width="30%" align="center">&nbsp;<?php echo $scope->getVar("L_SENTON"); ?>&nbsp;</td>
			<td class="k4_subtitle" width="3%" align="center">&nbsp;<?php echo $scope->getVar("L_SELECT"); ?>&nbsp;</td>
		</tr>
<?php if ($scope->listBegin("pmessages")): ?>
<?php if ($scope->listKey("pmessages") == -1 && !$scope->listHasNext("pmessages")): ?>
		<tr>
			<td class="alt3" colspan="5">
				<div class="outset_box" style="text-align: center;">
					<br />
					<strong><?php echo $scope->getVar("L_NOPRIVATEMESSAGES"); ?></strong>
					<br /><br />
				</div>
			</td>
		</tr>
<?php endif; ?>
<?php while($scope->listNext("pmessages")): ?>
<?php switch($scope->listKey("pmessages") % 2): ?><?php case 0: $scope->push(array('row_class' => 'alt1')); break; ?><?php case 1: $scope->push(array('row_class' => 'alt3')); break; ?><?php default: $scope->push(array()); endswitch; ?>
		<tr>
			<td class="alt3" style="text-align: center;"><img src="tmp/upload/posticons/<?php echo $scope->getVar("posticon"); ?>" alt="" border="" /></td>
			<td class="<?php echo $scope->getVar("row_class"); ?>">
				<a href="<?php echo $scope->getVar("url"); ?>"><?php if ($scope->getVar("member_has_read") == 0): ?><strong><?php endif; ?><?php ob_start(); $length = "40"; $append = "..."; ?><?php echo $scope->getVar("name"); ?><?php $string = ob_get_contents(); ob_end_clean(); echo ((strlen($string) > $length) ? substr($string, 0, $length - strlen($append)) . $append : $string); ?></a><?php if ($scope->getVar("member_has_read") == 0): ?></strong><?php endif; ?></a><br />
				<span class="smalltext"><?php echo $scope->getVar("L_FROM"); ?> <a href="member.php?id=<?php echo $scope->getVar("poster_id"); ?>" title="<?php echo $scope->getVar("poster_name"); ?>"><?php echo $scope->getVar("poster_name"); ?></a></span>
			</td>
			<td class="alt2" style="text-align: center;"><a href="member.php?id=<?php echo $scope->getVar("poster_id"); ?>"><?php echo $scope->getVar("num_replies"); ?></a></td>
			<td class="<?php echo $scope->getVar("row_class"); ?>" style="text-align: center;" nowrap="nowrap">
				<span class="smalltext"><?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span></span>
			</td>
			<td class="alt2" style="text-align: center;">
				<span class="cbStyled" id="style_checkbox<?php echo $scope->getVar("id"); ?>"><input type="checkbox" name="pmessage[]" id="pm<?php echo $scope->getVar("pm_id"); ?>" value="<?php echo $scope->getVar("pm_id"); ?>" /></span>
			</td>
		</tr>
<?php $scope->pop(); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
		<tr>
			<td class="k4_subtitle" colspan="5" style="text-align: right;">
				<input type="hidden" name="original_folder" value="<?php echo $scope->getVar("folder_id"); ?>" />
				<select name="action" id="action" class="smalltext">
					<option value="delete"><?php echo $scope->getVar("L_DELETEPMESSAGES"); ?></option>
					<option value="move"><?php echo $scope->getVar("L_MOVEPMESSAGES"); ?></option>
				</select>
				<input type="submit" value="<?php echo $scope->getVar("L_GO"); ?>" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>
<?php if ($pager = &$runtime->getPager("pms_pager")): ?><?php if($scope->getVar("num_pages") == "") { $scope->setVar("num_pages", ceil($pager->count / $pager->page_size)); } ?>
<div align="right">
	<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="pagination">
		<tr>
			<td class="alt3" id="page_jump1"><div class="nav_top"><span class="smalltext"><?php echo $scope->getVar("L_PAGES"); ?> (<?php echo $scope->getVar("num_pages"); ?>)</span></div></td>
<?php if ($scope->push($pager->getFirst())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_FIRST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getPrev())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_PREV"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($pager->hasPage('2') && $scope->listBeginNew("pms_pager", $pager->getIterator("3", "3"))): ?>
<?php while($scope->listNext("pms_pager")): ?>
				<td class="alt1"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a class="pager_link" href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong class="pager_link"><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("pagenum"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php if ($scope->push($pager->getNext())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_NEXT"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getLast())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_LAST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
		</tr>
	</table>
</div>
<?php endif; ?>
<?php if ($file = $runtime->getFile("page_jumper", "page_jumper.html")) $template->render($file, $scope, $runtime); ?>
<script type="text/javascript">
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');
</script>