<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['users']) && $_MAPS['users']['can_view'] <= $_SESSION['user']->get('perms'))): ?>
<?php if ($scope->getVar("post_user_id") != 0): ?>
<div>
<?php if ($_SESSION['user']->isMember()): ?><?php if ($scope->getVar("poster_id") > 0): ?><a href="member.php?act=usercp&amp;view=pmnewmessage&amp;user=<?php echo $scope->getVar("poster_name"); ?>" title="<?php echo $scope->getVar("L_PRIVMSG"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/pm.gif" alt="<?php echo $scope->getVar("L_PRIVMSG"); ?>" border="0" /></a><?php endif; ?><?php endif; ?>
<?php if ($scope->getVar("post_user_aim") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/aim_small.gif" border="0" /><?php endif; ?>
<?php if ($scope->getVar("post_user_icq") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/icq_small.gif" border="0" /><?php endif; ?>
<?php if ($scope->getVar("post_user_jabber") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/jabber_small.gif" border="0" /><?php endif; ?>
<?php if ($scope->getVar("post_user_msn") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/msn_small.gif" border="0" /><?php endif; ?>
<?php if ($scope->getVar("post_user_yahoo") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/yahoo_small.gif" border="0" /><?php endif; ?>
<?php if ($scope->getVar("post_user_googletalk") != ""): ?>&nbsp;<img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/googletalk_small.gif" border="0" /><?php endif; ?>
</div>
<?php endif; ?>
<?php endif; ?>