	<!-- Post Review -->
	<tr>
		<td class="alt3" width="20%">
			<div align="center">
<?php if ($scope->getVar("poster_id") > 0): ?>
				<a href="member.php?id=<?php echo $scope->getVar("post_user_id"); ?>" title="<?php echo $scope->getVar("L_PROFILE"); ?>"><strong style="color: #<?php echo $scope->getVar("post_user_group_color"); ?>"><?php echo $scope->getVar("poster_name"); ?></strong></a>
<?php else: ?>
				<strong><?php if ($scope->getVar("poster_name") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php echo $scope->getVar("poster_name"); ?><?php endif; ?></strong>
<?php endif; ?>
			</div>
		</td>
		<td class="alt3" width="80%">
			<div style="float: right" class="smalltext">
<?php ob_start(); $format = "%b %d %y"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span>
			</div>
			<div class="smalltext">
				<strong><?php echo $scope->getVar("L_POSTSUBJECT"); ?>:</strong> <?php echo $scope->getVar("name"); ?>&nbsp;<img src="tmp/upload/posticons/<?php echo $scope->getVar("posticon"); ?>" alt="" border="0" />
			</div>
		</td>
	</tr>
	<tr>
		<td class="alt3" width="20%" valign="top" rowspan="2">
			<div class="smalltext">
<?php if ($scope->getVar("poster_id") > 0): ?>
				<strong><?php echo $scope->getVar("L_JOINED"); ?>:</strong> <?php ob_start(); $format = "%b %d %y"; ?><?php echo $scope->getVar("post_user_created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?><br />
				<strong><?php echo $scope->getVar("L_POSTS"); ?>:</strong> <?php echo $scope->getVar("post_user_num_posts"); ?>
<?php endif; ?>
			</div>
		</td>
		<td class="alt1" width="80%" id="topic<?php echo $scope->getVar("id"); ?>" valign="top" style="height: 100px;">
			<?php echo $scope->getVar("body_text"); ?>
			<textarea name="reverted_body_text" id="body_text_<?php if ($scope->getVar("row_type") == 8): ?>r<?php echo $scope->getVar("reply_id"); ?><?php else: ?>t<?php echo $scope->getVar("topic_id"); ?><?php endif; ?>" style="display: none;"><?php echo $scope->getVar("reverted_body_text"); ?></textarea>
<?php if ($scope->getVar("disable_sig") == 0): ?>
<?php if ($scope->getVar("post_user_signature") != ""): ?>
			<br /><br />
<?php if ($scope->getVar("user_viewsigs") == 1): ?><?php echo $scope->getVar("signatureseparator"); ?><?php echo $scope->getVar("post_user_signature"); ?><?php endif; ?>
<?php endif; ?>
<?php endif; ?>
		</td>
	</tr>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_forum_id")]['bbcode']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_forum_id")]['bbcode']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
	<tr>
		<td class="alt3" height="20">
			<div align="right"><a href="javascript:;" onclick="add_review_quote('<?php if ($scope->getVar("poster_name") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php echo $scope->getVar("poster_name"); ?><?php endif; ?>', 'body_text_<?php if ($scope->getVar("row_type") == 8): ?>r<?php echo $scope->getVar("reply_id"); ?><?php else: ?>t<?php echo $scope->getVar("topic_id"); ?><?php endif; ?>', 'messagecodex')" title="<?php echo $scope->getVar("L_QUOTE"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/quote.gif" border="0" alt="<?php echo $scope->getVar("L_QUOTE"); ?>" /></a></div>
		</td>
	</tr>
<?php endif; ?>
	<tr>
		<td colspan="2" class="k4_subtitle"></td>
	</tr>
	<!-- / Post Review -->