<!-- Quick Links Drop Down Menu -->
<?php if ($scope->getVar("nojs") == 0): ?>
<div id="quicklinks_menu" class="k4_borderwrap" style="display: none;">
	<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle" nowrap="nowrap"><?php echo $scope->getVar("L_QUICKLINKS"); ?></td>
		</tr>
<?php if ($scope->getVar("calendarenabled") == 1): ?>
		<tr>
			<td class="alt1"><a href="calendar.php" title="<?php echo $scope->getVar("L_CALENDER"); ?>" class="smalltext"><?php echo $scope->getVar("L_CALENDAR"); ?></a></td>
		</tr>
<?php endif; ?>
		<tr>
			<td class="alt1"><a href="usergroups.php" title="<?php echo $scope->getVar("L_USERGROUPS"); ?>" class="smalltext"><?php echo $scope->getVar("L_USERGROUPS"); ?></a></td>
		</tr>
		<tr>
			<td class="alt1"><a href="search.php?act=find&amp;newposts=1&amp;daysprune=<?php echo $scope->getVar("user_last_seen_days"); ?>" title="<?php echo $scope->getVar("L_NEWPOSTS"); ?>" class="smalltext"><?php echo $scope->getVar("L_NEWPOSTS"); ?></a></td>
		</tr>
<?php if ($_SESSION['user']->isMember()): ?>
		<tr>
			<td class="alt1"><a href="search.php?act=find&amp;author=<?php echo $scope->getVar("user_name"); ?>&amp;exact=1" title="<?php echo $scope->getVar("L_MYPOSTS"); ?>" class="smalltext"><?php echo $scope->getVar("L_MYPOSTS"); ?></a></td>
		</tr>
		<tr>
			<td class="k4_subtitle" nowrap="nowrap"><?php echo $scope->getVar("L_USERCONTROLPANEL"); ?></td>
		</tr>
		<tr>
			<td class="alt1"><a href="member.php?act=usercp" title="<?php echo $scope->getVar("L_USERCONTROLPANEL"); ?>" class="smalltext"><?php echo $scope->getVar("L_USERCONTROLPANEL"); ?></a></td>
		</tr>
		<tr>
			<td class="alt1"><a href="member.php?act=profile" title="<?php echo $scope->getVar("L_PROFILE"); ?>" class="smalltext"><?php echo $scope->getVar("L_PROFILE"); ?></a></td>
		</tr>
<?php endif; ?>
		<tr>
			<td class="k4_subtitle"><?php echo $scope->getVar("L_MISCELLANEOUS"); ?></td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap"><a href="member.php?act=usercp&amp;view=pmfolder&amp;folder=1" title="<?php echo $scope->getVar("L_GOTOINBOX"); ?>" class="smalltext"><?php echo $scope->getVar("L_GOTOINBOX"); ?></a></td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap"><a href="index.php?act=markforums" title="<?php echo $scope->getVar("L_MARKFORUMSREAD"); ?>" class="smalltext"><?php echo $scope->getVar("L_MARKFORUMSREAD"); ?></a></td>
		</tr>
	</table>
</div>
<script type="text/javascript">menu_init('quicklinks_link', 'quicklinks_menu');</script>
<?php else: ?>
<div class="alt2" style="text-align: left;border-top: 1px solid #FFFFFF;">
	<ul class="menu_global">
		<li class="first"><strong class="smalltext"><?php echo $scope->getVar("L_QUICKLINKS"); ?></strong></li>
<?php if ($scope->getVar("calendarenabled") == 1): ?>
		<li><a href="calendar.php" title="<?php echo $scope->getVar("L_CALENDER"); ?>" class="smalltext"><?php echo $scope->getVar("L_CALENDAR"); ?></a></li>
<?php endif; ?>
		<li><a href="usergroups.php" title="<?php echo $scope->getVar("L_USERGROUPS"); ?>" class="smalltext"><?php echo $scope->getVar("L_USERGROUPS"); ?></a></li>
		<li><a href="search.php?act=find&amp;newposts=1&amp;daysprune=<?php echo $scope->getVar("user_last_seen_days"); ?>" title="<?php echo $scope->getVar("L_NEWPOSTS"); ?>" class="smalltext"><?php echo $scope->getVar("L_NEWPOSTS"); ?></a></li>
<?php if ($_SESSION['user']->isMember()): ?>
		<li><a href="search.php?act=find&amp;author=<?php echo $scope->getVar("user_name"); ?>" title="<?php echo $scope->getVar("L_MYPOSTS"); ?>" class="smalltext"><?php echo $scope->getVar("L_MYPOSTS"); ?></a></li>
		<li><a href="member.php?act=usercp" title="<?php echo $scope->getVar("L_USERCONTROLPANEL"); ?>" class="smalltext"><?php echo $scope->getVar("L_USERCONTROLPANEL"); ?></a></li>
		<li><a href="member.php?act=profile" title="<?php echo $scope->getVar("L_PROFILE"); ?>" class="smalltext"><?php echo $scope->getVar("L_PROFILE"); ?></a></li>
<?php endif; ?>
		<li><a href="index.php?act=markforums" title="<?php echo $scope->getVar("L_MARKFORUMSREAD"); ?>" class="smalltext"><?php echo $scope->getVar("L_MARKFORUMSREAD"); ?></a></li>
	</ul>
</div>
<?php endif; ?>
<!-- / Quick Links Drop Down Menu -->