<?php if (!$_SESSION['user']->isMember()): ?>
<form name="register_form" id="register_form" action="member.php?act=register_user" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<div id="form_error" style="display:none;text-align: center;">
	<div class="special_panel" id="message_holder" style="text-align: center;"></div>
	<br />
</div>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_REGISTER"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<span class="smalltext"><?php echo $scope->getVar("regmessage"); ?></span>
					<br /><br />
					<label for="username"><strong><?php echo $scope->getVar("L_USERNAME"); ?>:</strong></label><br />
					<input type="text" name="username" id="username" class="inputbox" value="" size="<?php echo $scope->getVar("maxuserlength"); ?>" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" tabindex="1" />
<script type="text/javascript">addVerification('username', '^[a-zA-Z]([a-zA-Z0-9]*[-_ ]?)*[a-zA-Z0-9]*$', 'username_error', 'inputfailed');</script><div id="username_error" style="display: none;"><?php echo $scope->getVar("L_SUPPLYUSERNAME"); ?></div>
					<hr noshade="noshade" size="1" />
					<span class="smalltext"><?php echo $scope->getVar("L_FILLINPASSWORD"); ?></span><br /><br />
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="50%">
								<label for="password"><strong><?php echo $scope->getVar("L_PASSWORD"); ?>:</strong></label><br />
								<input type="password" name="password" id="password" class="inputbox" value="" size="<?php echo $scope->getVar("maxuserlength"); ?>" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" tabindex="2" />
							</td>
							<td width="50%">
								<label for="password2"><strong><?php echo $scope->getVar("L_VALIDATEPW"); ?>:</strong></label><br />
								<input type="password" name="password2" id="password2" class="inputbox" value="" size="<?php echo $scope->getVar("maxuserlength"); ?>" maxlength="<?php echo $scope->getVar("maxuserlength"); ?>" tabindex="3" />
							</td>
						</tr>
					</table>
<script type="text/javascript">addVerification('password', '.+', 'password_error', 'inputfailed');</script><div id="password_error" style="display: none;"><?php echo $scope->getVar("L_SUPPLYPASS"); ?></div>
<script type="text/javascript">addCompare('password', 'password2', 'password_match_error', 'inputfailed');</script><div id="password_match_error" style="display: none;"><?php echo $scope->getVar("L_PASSESDONTMATCH"); ?></div>
					<hr noshade="noshade" size="1" />
					<span class="smalltext"><?php echo $scope->getVar("L_FILLINEMAIL"); ?></span><br /><br />
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="50%">
								<label for="email"><strong><?php echo $scope->getVar("L_EMAILADDRESS"); ?>:</strong></label><br />
								<input type="text" name="email" id="email" class="inputbox" value="" maxlength="100" tabindex="4" />
							</td>
							<td width="50%">
								<label for="email2"><strong><?php echo $scope->getVar("L_VALIDATEEMAILADDR"); ?>:</strong></label><br />
								<input type="text" name="email2" id="email2" class="inputbox" value="" maxlength="100" tabindex="5" />
							</td>
						</tr>
					</table>
<script type="text/javascript">addVerification('email', '.+', 'email_error', 'inputfailed');</script><div id="email_error" style="display: none;"><?php echo $scope->getVar("L_SUPPLYEMAIL"); ?></div>
<script type="text/javascript">addCompare('email', 'email2', 'email_match_error', 'inputfailed');</script><div id="email_match_error" style="display: none;"><?php echo $scope->getVar("L_EMAILSDONTMATCH"); ?></div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" align="center">
				<input type="<?php if ($scope->getVar("nojs") == 0): ?>button<?php else: ?>submit<?php endif; ?>" value="<?php echo $scope->getVar("L_REGISTER"); ?>" class="button" onclick="if(checkForm(d.getElementById('register_form'))) { register(this); }" />
				<input type="reset" value="<?php echo $scope->getVar("L_RESET"); ?>" class="button" />
			</td>
		</tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_ADDITIONALINFO"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3">
				<div class="outset_box">
					<label for="timezone"><strong><?php echo $scope->getVar("L_TIMEZONE"); ?>:</strong></label><br />
					<span class="smalltext"><?php echo $scope->getVar("L_TIMEZONEEXPLAIN"); ?></span><br /><br />
					<select name="timezone" id="timezone" class="smalltext">
						<option value="-12"><?php echo $scope->getVar("L_TIMEZONE1"); ?></option>
						<option value="-11"><?php echo $scope->getVar("L_TIMEZONE2"); ?></option>
						<option value="-10"><?php echo $scope->getVar("L_TIMEZONE3"); ?></option>
						<option value="-9"><?php echo $scope->getVar("L_TIMEZONE4"); ?></option>
						<option value="-8"><?php echo $scope->getVar("L_TIMEZONE5"); ?></option>
						<option value="-7"><?php echo $scope->getVar("L_TIMEZONE6"); ?></option>
						<option value="-6"><?php echo $scope->getVar("L_TIMEZONE7"); ?></option>
						<option value="-5"><?php echo $scope->getVar("L_TIMEZONE8"); ?></option>
						<option value="-4"><?php echo $scope->getVar("L_TIMEZONE9"); ?></option>
						<option value="-3.5"><?php echo $scope->getVar("L_TIMEZONE10"); ?></option>
						<option value="-3"><?php echo $scope->getVar("L_TIMEZONE11"); ?></option>
						<option value="-2"><?php echo $scope->getVar("L_TIMEZONE12"); ?></option>
						<option value="-1"><?php echo $scope->getVar("L_TIMEZONE13"); ?></option>
						<option value="0" selected="selected"><?php echo $scope->getVar("L_TIMEZONE14"); ?></option>
						<option value="1"><?php echo $scope->getVar("L_TIMEZONE15"); ?></option>
						<option value="2"><?php echo $scope->getVar("L_TIMEZONE16"); ?></option>
						<option value="3"><?php echo $scope->getVar("L_TIMEZONE17"); ?></option>
						<option value="3.5"><?php echo $scope->getVar("L_TIMEZONE18"); ?></option>
						<option value="4"><?php echo $scope->getVar("L_TIMEZONE19"); ?></option>
						<option value="4.5"><?php echo $scope->getVar("L_TIMEZONE20"); ?></option>
						<option value="5"><?php echo $scope->getVar("L_TIMEZONE21"); ?></option>
						<option value="5.5"><?php echo $scope->getVar("L_TIMEZONE22"); ?></option>
						<option value="6"><?php echo $scope->getVar("L_TIMEZONE23"); ?></option>
						<option value="7"><?php echo $scope->getVar("L_TIMEZONE24"); ?></option>
						<option value="8"><?php echo $scope->getVar("L_TIMEZONE25"); ?></option>
						<option value="9"><?php echo $scope->getVar("L_TIMEZONE26"); ?></option>
						<option value="9.5"><?php echo $scope->getVar("L_TIMEZONE27"); ?></option>
						<option value="10"><?php echo $scope->getVar("L_TIMEZONE28"); ?></option>
						<option value="11"><?php echo $scope->getVar("L_TIMEZONE29"); ?></option>
						<option value="12"><?php echo $scope->getVar("L_TIMEZONE30"); ?></option>
					</select>
<?php if ($scope->listBegin("profilefields")): ?>
<?php while($scope->listNext("profilefields")): ?>
					<hr noshade="noshade" size="1" />
					<label for="<?php echo $scope->getVar("name"); ?>"><strong><?php echo $scope->getVar("title"); ?>:</strong></label><br />
					<span class="smalltext"><?php echo $scope->getVar("description"); ?></span><br /><br />
					<?php echo $scope->getVar("html"); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
				</div>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" align="center">
				<input type="<?php if ($scope->getVar("nojs") == 0): ?>button<?php else: ?>submit<?php endif; ?>" value="<?php echo $scope->getVar("L_REGISTER"); ?>" class="button" onclick="if(checkForm(d.getElementById('register_form'))) { register(this); }" />
				<input type="reset" value="<?php echo $scope->getVar("L_RESET"); ?>" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>
<script type="text/javascript">
	function register(button) {
		try {
			d.disableButton(button);
			if(r) { 
				errorCheckRegistration(button);
			} else { 
				return true;
			}
		} catch(e) { alert(e.messgae); }
	}
</script>
<?php endif; ?>