<?php if (!$_SESSION['user']->isMember()): ?>
<form name="forgotpw" id="forgotpw" action="member.php?act=sendpassword" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_SENDPASSWORD"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt1" width="50%"><label for="name"><strong><?php echo $scope->getVar("L_USERNAME"); ?>:</strong></label></td>
			<td class="alt3" width="50%">
				<input type="text" name="name" id="name" value="" class="inputbox" />
<script type="text/javascript">addVerification('username', '^[a-zA-Z]([a-zA-Z0-9]*[-_ ]?)*[a-zA-Z0-9]*$', 'username_error', 'inputfailed');</script><div id="username_error" style="display: none;"><?php echo $scope->getVar("L_SUPPLYUSERNAME"); ?></div>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="email">
				<strong><?php echo $scope->getVar("L_EMAIL"); ?>:</strong></label><br />
				<span class="smalltext"><?php echo $scope->getVar("L_YOURCURRENTEMAIL"); ?></span>
			</td>
			<td class="alt3" width="50%">
				<input type="text" name="email" id="email" value="" class="inputbox" />
<script type="text/javascript">addVerification('email', '.+', 'email_error', 'inputfailed');</script><div id="email_error" style="display: none;"><?php echo $scope->getVar("L_SUPPLYEMAIL"); ?></div>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" colspan="2" style="text-align: center;">
				<input type="submit" value="<?php echo $scope->getVar("L_SEND"); ?>" class="button" />
				<input type="reset" value="<?php echo $scope->getVar("L_RESET"); ?>" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>
<?php endif; ?>