	<tr>
		<td class="alt1" colspan="2" valign="top">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
<?php if ($scope->getVar("poster_id") != 0): ?>
					<td>
<?php if ($scope->getVar("avatarenabled") == 1): ?><?php if ($scope->getVar("post_user_avatar") == 1): ?><?php if ($scope->getVar("user_viewavatars") == 1): ?>
						<img src="viewfile.php?act=avatar&amp;id=<?php echo $scope->getVar("poster_id"); ?>" alt="" border="" />
<?php endif; ?><?php endif; ?><?php endif; ?>
					</td>
<?php endif; ?>
					<td class="smalltext" width="20%">
<?php if ($scope->getVar("poster_id") > 0): ?>
						<a href="member.php?id=<?php echo $scope->getVar("post_user_id"); ?>" title="<?php echo $scope->getVar("L_PROFILE"); ?>"><strong style="color: #<?php echo $scope->getVar("post_user_group_color"); ?>;font-size:14px;<?php echo $scope->getVar("post_user_background"); ?>"><?php echo $scope->getVar("poster_name"); ?></strong></a> <img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/<?php echo $scope->getVar("post_user_online"); ?>_small.gif" alt="<?php if ($scope->getVar("post_user_online") == (!$scope->getVar("online") ? "online" : $scope->getVar("online"))): ?><?php echo $scope->getVar("L_ONLINE"); ?><?php else: ?><?php echo $scope->getVar("L_OFFLINE"); ?><?php endif; ?>" border="0" />
						<br />
<?php if ($scope->getVar("post_user_group_nicename") != ""): ?><?php echo $scope->getVar("post_user_group_nicename"); ?><?php endif; ?>
<?php if ($scope->getVar("post_user_group_avatar") != ""): ?>
						<br />
						<img src="tmp/upload/group_avatars/<?php echo $scope->getVar("post_user_group_avatar"); ?>" border="0" alt="<?php echo $scope->getVar("post_user_group_nicename"); ?>" />
<?php endif; ?>
<?php else: ?>
						<strong><?php if ($scope->getVar("poster_name") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php echo $scope->getVar("poster_name"); ?><?php endif; ?></strong>
						<br /><span class="smalltext"><?php echo $scope->getVar("L_GUEST"); ?></span>
<?php endif; ?>
					</td>
<?php if ($scope->getVar("poster_id") != 0): ?>
					<td class="smalltext" width="80%">
						<div align="right">
<?php if ($file = $runtime->getFile("post_user_ims", "post_user_ims.html")) $template->render($file, $scope, $runtime); ?>
							<strong><?php echo $scope->getVar("L_JOINED"); ?>:</strong> <?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("post_user_created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?><br />
							<strong><?php echo $scope->getVar("L_POSTS"); ?>:</strong> <a href="search.php?act=find&author=<?php echo $scope->getVar("post_user_name"); ?>" title="<?php echo $scope->getVar("L_FINDPOSTSBYUSER"); ?>"><?php echo $scope->getVar("post_user_num_posts"); ?></a>
<?php if ($scope->getVar("user_location") != ""): ?>
							<br /><strong><?php echo $scope->getVar("L_LOCATION"); ?>:</strong> <?php echo $scope->getVar("post_user_location"); ?>
<?php endif; ?>
<?php if ($scope->listBeginNew("profilefields", $scope->getVar("profilefields"))): ?>
<?php while($scope->listNext("profilefields")): ?>
							<br /><strong><?php echo $scope->getVar("title"); ?>:</strong></label>
							<?php echo $scope->getVar("value"); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
						</div>
					</td>
<?php endif; ?>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="alt3" colspan="2" id="topic<?php echo $scope->getVar("topic_id"); ?>" valign="top">
			<div style="float: right" class="smalltext">
<?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span>
<?php if ($scope->getVar("modpanel") == 1): ?><a href="mod.php?act=baniprange&amp;ip=<?php echo $scope->getVar("poster_ip"); ?>" title="<?php echo $scope->getVar("L_BANIP"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/ban_ip.gif" alt="<?php echo $scope->getVar("L_BANIP"); ?>" border="0" /></a><?php endif; ?>
				<a href="viewtopic.php?act=report_post&amp;t=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_REPORTPOST"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/report_post.gif" alt="<?php echo $scope->getVar("L_REPORTPOST"); ?>" border="0" /></a>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['closed']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['closed']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
<?php if ($scope->getVar("topic_locked") == 0): ?><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/iconlock.gif" alt="<?php echo $scope->getVar("L_LOCK"); ?>" onclick="updateTopicLocked(this, <?php echo $scope->getVar("topic_id"); ?>)" /><?php else: ?><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/iconlock_lock.gif" alt="<?php echo $scope->getVar("L_UNLOCK"); ?>" onclick="updateTopicLocked(this, <?php echo $scope->getVar("topic_id"); ?>)" /><?php endif; ?>
<?php endif; ?>
			</div>
			<div class="smalltext">
				<strong><?php echo $scope->getVar("L_POSTSUBJECT"); ?>:</strong>
				<span class="smalltext">
<?php if ($scope->getVar("topic_type") == 2): ?><?php echo $scope->getVar("stickytopicprefix"); ?><?php elseif ($scope->getVar("topic_type") >= 3): ?><?php echo $scope->getVar("announcementtopicprefix"); ?><?php endif; ?>
<?php if ($scope->getVar("is_feature") == 1): ?><?php echo $scope->getVar("featuretopicprefix"); ?><?php endif; ?>
<?php if ($scope->getVar("poll") == 1): ?><?php echo $scope->getVar("polltopicprefix"); ?><?php endif; ?>
				</span>
				<?php echo $scope->getVar("name"); ?>&nbsp;<img src="tmp/upload/posticons/<?php echo $scope->getVar("posticon"); ?>" alt="" border="0" />
			</div>
			<hr noshade="noshade" size="1" />
			
			<!-- Body Text -->
			<div id="topic<?php echo $scope->getVar("topic_id"); ?>_body"><?php echo $scope->getVar("body_text"); ?></div>
			<div style="text-align: right;display: none;" id="topic<?php echo $scope->getVar("topic_id"); ?>_qebuttons"><input type="button" value="<?php echo $scope->getVar("L_SAVE"); ?>" class="button" style="font-weight: bold;" onclick="saveQuickEdit('topic', <?php echo $scope->getVar("topic_id"); ?>, 'topic<?php echo $scope->getVar("topic_id"); ?>_body')" />&nbsp;<input type="button" value="X" class="button" style="font-weight: bold;color: #FF0000;" onclick="cancelQuickEdit('topic', <?php echo $scope->getVar("topic_id"); ?>, 'topic<?php echo $scope->getVar("topic_id"); ?>_body')" /></div>
			<!-- / Body Text -->
			
<?php if ($scope->getVar("attachments") >= 1): ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['attachments']['can_view']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['attachments']['can_view'] <= $_SESSION['user']->get('perms'))): ?>
					<!-- Attached Images -->
<?php if ($scope->listBeginNew("attachment_files", $scope->getVar("attachment_files"))): ?>
<?php while($scope->listNext("attachment_files")): ?>
<?php if ($scope->getVar("is_image") == 1): ?>
							<div>
								<span class="smalltext" style="font-weight: bold;"><?php echo $scope->getVar("L_ATTACHEDIMAGE"); ?>: <?php echo $scope->getVar("file_name"); ?></span>
								<hr />
								<img class="bbcode_img" src="viewfile.php?act=attachment&amp;id=<?php echo $scope->getVar("id"); ?>&amp;t=<?php echo $scope->getVar("topic_id"); ?>" alt="<?php echo $scope->getVar("L_ATTACHMENT"); ?>: <?php echo $scope->getVar("file_name"); ?>" border="0" />
							</div>
<?php endif; ?>
<?php if ($scope->listHasNext("attachment_files")): ?><br /><br /><?php endif; ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
					<!-- / Attached Images -->
<?php endif; ?>
<?php endif; ?>

<?php if ($scope->getVar("showeditedby") == 1): ?>
<?php if ($scope->getVar("edited_time") > 0): ?>
					<!-- Edited Information -->
						<br /><br />
						<div class="smalltext" style="font-style: italic;">
							<?php echo $scope->getVar("L_EDITEDON"); ?> <?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("edited_time"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("edited_time"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span>
							<?php echo $scope->getVar("L_BY"); ?> <a href="member.php?id=<?php echo $scope->getVar("edited_userid"); ?>" title="<?php echo $scope->getVar("edited_username"); ?>"><?php echo $scope->getVar("edited_username"); ?></a>
						</div>
						<br />
					<!-- / Edited Information -->
<?php endif; ?>
<?php endif; ?>

<?php if ($scope->getVar("attachments") >= 1): ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['attachments']['can_view']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['attachments']['can_view'] <= $_SESSION['user']->get('perms'))): ?>
					<!-- Attached Files -->
					<br /><br />
					<fieldset>
						<legend><?php echo $scope->getVar("L_ATTACHMENTS"); ?></legend>
<?php if ($scope->listBeginNew("attachment_files", $scope->getVar("attachment_files"))): ?>
<?php while($scope->listNext("attachment_files")): ?>
						<div style="float: right;" class="minitext">md5: <?php echo $scope->getVar("mdfive"); ?></div>
						<img src="<?php echo $scope->getVar("file_icon"); ?>" alt="<?php echo $scope->getVar("L_ATTACHMENT"); ?>: <?php echo $scope->getVar("file_name"); ?>" border="0" />&nbsp;<a href="viewfile.php?act=attachment&amp;id=<?php echo $scope->getVar("id"); ?>&amp;t=<?php echo $scope->getVar("topic_id"); ?>" target="_blank" title="<?php echo $scope->getVar("L_ATTACHMENT"); ?>: <?php echo $scope->getVar("file_name"); ?>" class="smalltext"><?php echo $scope->getVar("file_name"); ?></a>
<?php if ($scope->getVar("modpanel") == 1): ?><?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_id")]['attachments']['can_del']) && $_MAPS['forums'][$scope->getVar("forum_id")]['attachments']['can_del'] <= $_SESSION['user']->get('perms'))): ?> - <a href="viewfile.php?act=remove_attach&amp;id=<?php echo $scope->getVar("id"); ?>&amp;t=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_REMOVEATTACHMENT"); ?>" class="minitext"><?php echo $scope->getVar("L_REMOVEATTACHMENT"); ?></a><?php endif; ?><?php endif; ?>
<?php if ($scope->listHasNext("attachment_files")): ?><br /><?php endif; ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
					</fieldset>
					<!-- / Attached Files -->
<?php endif; ?>
<?php endif; ?>

<?php if ($scope->getVar("disable_sig") == 0): ?>
<?php if ($scope->getVar("post_user_signature") != ""): ?>
			<br /><br />
<?php if ($scope->getVar("user_viewsigs") == 1): ?><?php echo $scope->getVar("signatureseparator"); ?><?php echo $scope->getVar("post_user_signature"); ?><?php endif; ?>
<?php endif; ?>
<?php endif; ?>
		</td>
	</tr>
<?php if ($scope->getVar("topic_row") == 1): ?>
	<tr>
		<td class="alt3" colspan="2" height="20">
			<div style="float: right">
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
					<a href="newreply.php?id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_POSTREPLY"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/reply.gif" alt="<?php echo $scope->getVar("L_POSTREPLY"); ?>" /></a>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("forum_id")]['bbcode']['can_add']) && $_MAPS['forums'][$scope->getVar("forum_id")]['bbcode']['can_add'] <= $_SESSION['user']->get('perms'))): ?><a href="newreply.php?id=<?php echo $scope->getVar("topic_id"); ?>&amp;quote=1" title="<?php echo $scope->getVar("L_QUOTE"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/quote.gif" alt="<?php echo $scope->getVar("L_QUOTE"); ?>" /></a><?php endif; ?>
<?php endif; ?>
<?php if ($scope->getVar("post_user_id") == (!$scope->getVar("user_id") ? "user_id" : $scope->getVar("user_id"))): ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_edit']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_edit'] <= $_SESSION['user']->get('perms'))): ?><a href="<?php if ($scope->getVar("nojs") == 1): ?>newtopic.php?act=edittopic&amp;id=<?php echo $scope->getVar("topic_id"); ?><?php else: ?>#<?php endif; ?>" title="<?php echo $scope->getVar("L_EDIT"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/edit.gif" alt="<?php echo $scope->getVar("L_EDIT"); ?>" id="edit_button_t<?php echo $scope->getVar("topic_id"); ?>" /></a><?php endif; ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_del']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_del'] <= $_SESSION['user']->get('perms'))): ?><a href="mod.php?act=deletetopic&amp;id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_DELETE"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/delete.gif" alt="<?php echo $scope->getVar("L_DELETE"); ?>" /></a><?php endif; ?>
<?php else: ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['other_topics']['can_edit']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['other_topics']['can_edit'] <= $_SESSION['user']->get('perms'))): ?><a href="<?php if ($scope->getVar("nojs") == 1): ?>newtopic.php?act=edittopic&amp;id=<?php echo $scope->getVar("topic_id"); ?><?php else: ?>#<?php endif; ?>" title="<?php echo $scope->getVar("L_EDIT"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/edit.gif" alt="<?php echo $scope->getVar("L_EDIT"); ?>" id="edit_button_t<?php echo $scope->getVar("topic_id"); ?>" /></a><?php endif; ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['other_topics']['can_del']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['other_topics']['can_del'] <= $_SESSION['user']->get('perms'))): ?><a href="mod.php?act=deletetopic&amp;id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_DELETE"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/delete.gif" alt="<?php echo $scope->getVar("L_DELETE"); ?>" /></a><?php endif; ?>
<?php endif; ?>
			</div>
			<!-- Edit DD Menu -->
			<div class="k4_borderwrap" id="edit_menu_t<?php echo $scope->getVar("topic_id"); ?>" style="display: none;">
				<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
					<tr>
						<td class="alt1"><a class="smalltext" href="javascript:;" title="<?php echo $scope->getVar("L_QUICKEDIT"); ?>" onclick="quickEditPost('topic', <?php echo $scope->getVar("topic_id"); ?>, 'topic<?php echo $scope->getVar("topic_id"); ?>_body')"><?php echo $scope->getVar("L_QUICKEDIT"); ?></a></td>
					</tr>
					<tr>
						<td class="alt1"><a class="smalltext" href="newtopic.php?act=edittopic&amp;id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("L_FULLEDIT"); ?>"><?php echo $scope->getVar("L_FULLEDIT"); ?></a></td>
					</tr>
				</table>
			</div>
			<script type="text/javascript">menu_init('edit_button_t<?php echo $scope->getVar("topic_id"); ?>', 'edit_menu_t<?php echo $scope->getVar("topic_id"); ?>');</script>
			<!-- /Edit DD Menu -->
		</td>
	</tr>
<?php endif; ?>
<?php if ($scope->getVar("modpanel") == 1): ?>
	<!-- Moderator Controls -->
	<tr>
		<td class="k4_modmaintitle" colspan="2">
			<form action="mod.php?act=moderate_forum&amp;id=<?php echo $scope->getVar("forum_id"); ?>" method="post" enctype="multipart/form-data">
				<input type="hidden" name="topics" id="topics" value="<?php echo $scope->getVar("topic_id"); ?>" />
				<div align="center">
					<strong><?php echo $scope->getVar("L_WITHTOPIC"); ?>:</strong>
					<select name="action">
						<option value="lock"><?php echo $scope->getVar("L_LOCKTOPIC"); ?></option>
						<option value="split"><?php echo $scope->getVar("L_SPLITTOPIC"); ?></option>
						<option value="stick"><?php echo $scope->getVar("L_STICKTOPIC"); ?></option>
						<option value="announce"><?php echo $scope->getVar("L_ANNOUNCETOPIC"); ?></option>
						<option value="feature"><?php echo $scope->getVar("L_FEATURETOPIC"); ?></option>
						<option value="normal"><?php echo $scope->getVar("L_SETASNORMALTOPIC"); ?></option>
						<option value="move"><?php echo $scope->getVar("L_MOVECOPYTOPIC"); ?></option>
						<option value="delete"><?php echo $scope->getVar("L_DELETETOPIC"); ?></option>
						<option value="queue"><?php echo $scope->getVar("L_QUEUETOPIC"); ?></option>
						<option value="subscribe"><?php echo $scope->getVar("L_SUBSCRIBETOTOPIC"); ?></option>
					</select>
					<input type="submit" value="<?php echo $scope->getVar("L_PERFORMACTION"); ?>" class="button" />
				</div>
			</form>
		</td>
	</tr>
	<!-- / Moderator Controls -->
<?php endif; ?>