<tr>
	<td class="alt3" style="text-align: center;"><img src="<?php echo $scope->getVar("topicicon"); ?>" id="topicicon<?php echo $scope->getVar("topic_id"); ?>" alt="" border="0" <?php if ($scope->getVar("modpanel") == 1): ?>onclick="updateTopicLocked(this, <?php echo $scope->getVar("topic_id"); ?>)"<?php endif; ?> /></td>
	<td class="alt1" style="text-align: center;"><img src="tmp/upload/posticons/<?php echo $scope->getVar("posticon"); ?>" alt="" border="0" /></td>
	<td class="alt3" width="65%" id="topicname_<?php echo $scope->getVar("topic_id"); ?>_area">
<?php if ($scope->getVar("ratings_num") >= 1): ?><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/<?php echo $scope->getVar("rating"); ?>stars.gif" alt="(<?php echo $scope->getVar("ratings_num"); ?> <?php echo $scope->getVar("L_VOTES"); ?>)" border="0" style="float: right;" /><?php endif; ?>
<?php if ($scope->getVar("use_pager") == 1): ?><?php echo $scope->getVar("pager"); ?><?php endif; ?>
			<span class="smalltext">
<?php if ($scope->getVar("topic_type") == 2): ?><?php echo $scope->getVar("stickytopicprefix"); ?><?php elseif ($scope->getVar("topic_type") >= 3): ?><?php echo $scope->getVar("announcementtopicprefix"); ?><?php endif; ?>
<?php if ($scope->getVar("is_feature") == 1): ?><?php echo $scope->getVar("featuretopicprefix"); ?><?php endif; ?>
<?php if ($scope->getVar("is_poll") == 1): ?><?php echo $scope->getVar("polltopicprefix"); ?><?php endif; ?>
			</span>
			<span id="topicname_<?php echo $scope->getVar("topic_id"); ?>"><a href="viewtopic.php?id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("name"); ?>" style="font-size: 13px;"><?php if ($scope->getVar("is_new") == 1): ?><strong><?php endif; ?><?php ob_start(); $length = "40"; $append = "..."; ?><?php echo $scope->getVar("name"); ?><?php $string = ob_get_contents(); ob_end_clean(); echo ((strlen($string) > $length) ? substr($string, 0, $length - strlen($append)) . $append : $string); ?><?php if ($scope->getVar("is_new") == 1): ?></strong><?php endif; ?></a></span>
			<br />
<?php if ($scope->getVar("modpanel") == 1): ?><script type="text/javascript">adv_edit(<?php echo $scope->getVar("topic_id"); ?>, 'topicname_<?php echo $scope->getVar("topic_id"); ?>');</script><?php endif; ?>
		<div style="float:left;" class="smalltext">
<?php if ($scope->getVar("search_panel") == 1): ?><?php echo $scope->getVar("L_BY"); ?>: <?php endif; ?><?php if ($scope->getVar("poster_name") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php if ($scope->getVar("poster_id") != 0): ?><a href="member.php?id=<?php echo $scope->getVar("poster_id"); ?>" title="<?php echo $scope->getVar("poster_name"); ?>" style="<?php echo $scope->getVar("post_user_background"); ?>"><?php echo $scope->getVar("poster_name"); ?></a><?php else: ?><?php echo $scope->getVar("poster_name"); ?><?php endif; ?><?php endif; ?>
<?php if ($scope->getVar("search_panel") == 1): ?>
			<br />
			<?php echo $scope->getVar("L_IN"); ?>: <a href="viewforum.php?id=<?php echo $scope->getVar("forum_id"); ?>" title="<?php echo $scope->getVar("forum_name"); ?>"><?php echo $scope->getVar("forum_name"); ?></a>
<?php endif; ?>
		</div>
<?php if ($scope->getVar("total_attachments") >= 1): ?><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/paperclip.gif" alt="(<?php echo $scope->getVar("total_attachments"); ?> <?php echo $scope->getVar("L_ATTACHMENTS"); ?>)" border="0" style="float: right;" /><?php endif; ?>
	</td>
<?php if ($scope->getVar("moved_new_topic_id") == 0): ?>
	<td style="text-align: right;" class="alt1" nowrap="nowrap" width="20%">
<?php if ($scope->getVar("reply_time") > 0): ?>
		<span class="minitext">
<?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("reply_time"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("reply_time"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span>
			<br />
			<?php echo $scope->getVar("L_BY"); ?>&nbsp;<?php if ($scope->getVar("reply_uname") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php if ($scope->getVar("reply_uid") != 0): ?><a href="member.php?id=<?php echo $scope->getVar("reply_uid"); ?>" title="<?php echo $scope->getVar("reply_uname"); ?>"><strong><?php echo $scope->getVar("reply_uname"); ?></strong></a><?php else: ?><?php echo $scope->getVar("reply_uname"); ?><?php endif; ?><?php endif; ?>
			<a href="findpost.php?id=<?php echo $scope->getVar("reply_id"); ?>" title="<?php echo $scope->getVar("reply_name"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/icon_latest_reply.gif" border="0" alt="<?php echo $scope->getVar("reply_name"); ?>" /></a>
		</span>
<?php else: ?>
		<span class="minitext">
<?php ob_start(); $format = "%b %d %Y"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p"; ?><?php echo $scope->getVar("created"); ?><?php $date = ob_get_contents(); ob_end_clean(); echo strftime($format, bbtime(intval($date))); ?></span>
			<br />
			<?php echo $scope->getVar("L_BY"); ?>&nbsp;<?php if ($scope->getVar("poster_name") == ""): ?><?php echo $scope->getVar("L_GUEST"); ?><?php else: ?><?php if ($scope->getVar("poster_id") != 0): ?><a href="member.php?id=<?php echo $scope->getVar("poster_id"); ?>" title="<?php echo $scope->getVar("poster_name"); ?>"><strong><?php echo $scope->getVar("poster_name"); ?></strong></a><?php else: ?><?php echo $scope->getVar("poster_name"); ?><?php endif; ?><?php endif; ?>
			<a href="viewtopic.php?id=<?php echo $scope->getVar("topic_id"); ?>" title="<?php echo $scope->getVar("name"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/icon_latest_reply.gif" border="0" alt="<?php echo $scope->getVar("name"); ?>" /></a>
		</span>
<?php endif; ?>
	</td>
	<td align="center" class="alt3"><span class="smalltext"><?php echo $scope->getVar("num_replies"); ?></span></td>
	<td align="center" class="alt1"><span class="smalltext"><?php echo $scope->getVar("views"); ?></span></td>
<?php else: ?>
	<td colspan="3" class="alt3" align="center">
		&nbsp;
	</td>
<?php endif; ?>
<?php if ($scope->getVar("modpanel") == 1): ?>
	<td class="alt3" align="center">
		<span class="cbStyled" onclick="select_topic(this, 'performact_button', <?php echo $scope->getVar("topic_id"); ?>)" id="style_checkbox<?php echo $scope->getVar("topic_id"); ?>"><input type="checkbox" name="topic<?php echo $scope->getVar("topic_id"); ?>" id="topic<?php echo $scope->getVar("topic_id"); ?>" value="<?php echo $scope->getVar("topic_id"); ?>" /></span>
		<script type="text/javascript">
<?php if ($runtime->isVisible('check_checkboxes', FALSE)): ?>d.setCheckbox(<?php echo $scope->getVar("topic_id"); ?>, 'topic<?php echo $scope->getVar("topic_id"); ?>');select_topic(d.getElementById('style_checkbox<?php echo $scope->getVar("topic_id"); ?>'), 'performact_button', <?php echo $scope->getVar("topic_id"); ?>);<?php endif; ?>
		</script>
	</td>
<?php endif; ?>
</tr>