<?php if ($_SESSION['user']->isMember()): ?>
<form name="update_profile" id="update_profile" action="member.php?act=update_profile" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_USERCONTROLPANEL"); ?>: <span style="font-weight: normal;"><?php echo $scope->getVar("L_EDITPROFILE"); ?></span></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr class="alt3">
			<td><span class="smalltext"><?php echo $scope->getVar("L_USERCPPROFILEMSG"); ?></span></td>
		</tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_PERSONALINFORMATION"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt1" width="50%"><label for="fullname"><strong><?php echo $scope->getVar("L_FULLNAME"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="fullname" value="<?php echo $scope->getVar("user_fullname"); ?>" id="fullname" maxlength="100" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="bday_month"><strong><?php echo $scope->getVar("L_BIRTHDAY"); ?>:</strong></label></td>
			<td class="alt3" width="50%">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="alt3" align="center"><label class="smalltext" for="bday_month"><?php echo $scope->getVar("L_MONTH"); ?></label></td>
						<td class="alt3" align="center"><label class="smalltext" for="bday_day"><?php echo $scope->getVar("L_DAY"); ?></label></td>
						<td class="alt3" align="center"><label class="smalltext" for="bday_year"><?php echo $scope->getVar("L_YEAR"); ?></label></td>
					</tr>
					<tr>
						<td class="alt3">
							<select name="month" id="bday_month" id="month" class="inputbox">
								<option value="0"></option>
								<option value="01"><?php echo $scope->getVar("L_JANUARY"); ?></option>
								<option value="02"><?php echo $scope->getVar("L_FEBRUARY"); ?></option>
								<option value="03"><?php echo $scope->getVar("L_MARCH"); ?></option>
								<option value="04"><?php echo $scope->getVar("L_APRIL"); ?></option>
								<option value="05"><?php echo $scope->getVar("L_MAY"); ?></option>
								<option value="06"><?php echo $scope->getVar("L_JUNE"); ?></option>
								<option value="07"><?php echo $scope->getVar("L_JULY"); ?></option>
								<option value="08"><?php echo $scope->getVar("L_AUGUST"); ?></option>
								<option value="09"><?php echo $scope->getVar("L_SEPTEMBER"); ?></option>
								<option value="10"><?php echo $scope->getVar("L_OCTOBER"); ?></option>
								<option value="11"><?php echo $scope->getVar("L_NOVEMBER"); ?></option>
								<option value="12"><?php echo $scope->getVar("L_DECEMBER"); ?></option>
							</select>
							<script type="text/javascript">d.setIndex(<?php echo $scope->getVar("bday_month"); ?>, 'bday_month');</script>
						</td>
						<td class="alt3">
							<select name="day" id="bday_day" id="day" class="inputbox">
								<option value="0"></option>
								<option value="01">1</option>
								<option value="02">2</option>
								<option value="03">3</option>
								<option value="04">4</option>
								<option value="05">5</option>
								<option value="06">6</option>
								<option value="07">7</option>
								<option value="08">8</option>
								<option value="09">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							<script type="text/javascript">d.setIndex(<?php echo $scope->getVar("bday_day"); ?>, 'bday_day');</script>
						</td>
						<td class="alt3"><input type="text" name="year" id="bday_year" value="<?php echo $scope->getVar("bday_year"); ?>" size="4" maxlength="4" class="inputbox" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_INSTANTMESSAGING"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt1" width="50%"><label for="icq"><strong><?php echo $scope->getVar("L_ICQ"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="icq" id="icq" value="<?php echo $scope->getVar("user_icq"); ?>" maxlength="25" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="aim"><strong><?php echo $scope->getVar("L_AIM"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="aim" id="aim" value="<?php echo $scope->getVar("user_aim"); ?>" maxlength="100" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="msn"><strong><?php echo $scope->getVar("L_MSN"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="msn" id="msn" value="<?php echo $scope->getVar("user_msn"); ?>" maxlength="100" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="yahoo"><strong><?php echo $scope->getVar("L_YAHOO"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="yahoo" id="yahoo" value="<?php echo $scope->getVar("user_yahoo"); ?>" maxlength="100" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="jabber"><strong><?php echo $scope->getVar("L_JABBER"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="jabber" id="jabber" value="<?php echo $scope->getVar("user_jabber"); ?>" maxlength="100" class="inputbox" /></td>
		</tr>
		<tr>
			<td class="alt1" width="50%"><label for="jabber"><strong><?php echo $scope->getVar("L_GOOGLETALK"); ?>:</strong></label></td>
			<td class="alt3" width="50%"><input type="text" name="googletalk" id="googletalk" value="<?php echo $scope->getVar("user_googletalk"); ?>" maxlength="100" class="inputbox" /></td>
		</tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_ADDITIONALINFO"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt1" width="50%">
				<label for="timezone"><strong><?php echo $scope->getVar("L_TIMEZONE"); ?>:</strong></label><br />
				<span class="smalltext"><?php echo $scope->getVar("L_TIMEZONEEXPLAIN"); ?></span>
			</td>
			<td class="alt3" width="50%">
				<select name="timezone" id="timezone" class="smalltext">
					<option value="-12"><?php echo $scope->getVar("L_TIMEZONE1"); ?></option>
					<option value="-11"><?php echo $scope->getVar("L_TIMEZONE2"); ?></option>
					<option value="-10"><?php echo $scope->getVar("L_TIMEZONE3"); ?></option>
					<option value="-9"><?php echo $scope->getVar("L_TIMEZONE4"); ?></option>
					<option value="-8"><?php echo $scope->getVar("L_TIMEZONE5"); ?></option>
					<option value="-7"><?php echo $scope->getVar("L_TIMEZONE6"); ?></option>
					<option value="-6"><?php echo $scope->getVar("L_TIMEZONE7"); ?></option>
					<option value="-5"><?php echo $scope->getVar("L_TIMEZONE8"); ?></option>
					<option value="-4"><?php echo $scope->getVar("L_TIMEZONE9"); ?></option>
					<option value="-3.5"><?php echo $scope->getVar("L_TIMEZONE10"); ?></option>
					<option value="-3"><?php echo $scope->getVar("L_TIMEZONE11"); ?></option>
					<option value="-2"><?php echo $scope->getVar("L_TIMEZONE12"); ?></option>
					<option value="-1"><?php echo $scope->getVar("L_TIMEZONE13"); ?></option>
					<option value="0" selected="selected"><?php echo $scope->getVar("L_TIMEZONE14"); ?></option>
					<option value="1"><?php echo $scope->getVar("L_TIMEZONE15"); ?></option>
					<option value="2"><?php echo $scope->getVar("L_TIMEZONE16"); ?></option>
					<option value="3"><?php echo $scope->getVar("L_TIMEZONE17"); ?></option>
					<option value="3.5"><?php echo $scope->getVar("L_TIMEZONE18"); ?></option>
					<option value="4"><?php echo $scope->getVar("L_TIMEZONE19"); ?></option>
					<option value="4.5"><?php echo $scope->getVar("L_TIMEZONE20"); ?></option>
					<option value="5"><?php echo $scope->getVar("L_TIMEZONE21"); ?></option>
					<option value="5.5"><?php echo $scope->getVar("L_TIMEZONE22"); ?></option>
					<option value="6"><?php echo $scope->getVar("L_TIMEZONE23"); ?></option>
					<option value="7"><?php echo $scope->getVar("L_TIMEZONE24"); ?></option>
					<option value="8"><?php echo $scope->getVar("L_TIMEZONE25"); ?></option>
					<option value="9"><?php echo $scope->getVar("L_TIMEZONE26"); ?></option>
					<option value="9.5"><?php echo $scope->getVar("L_TIMEZONE27"); ?></option>
					<option value="10"><?php echo $scope->getVar("L_TIMEZONE28"); ?></option>
					<option value="11"><?php echo $scope->getVar("L_TIMEZONE29"); ?></option>
					<option value="12"><?php echo $scope->getVar("L_TIMEZONE30"); ?></option>
				</select>
			</td>
		</tr>
<?php if ($scope->listBegin("member_profilefields")): ?>
<?php while($scope->listNext("member_profilefields")): ?>
		<tr>
			<td class="alt1" width="50%"><label for="<?php echo $scope->getVar("name"); ?>"><strong><?php echo $scope->getVar("title"); ?>:</strong></label></td>
			<td width="50%" class="alt3">
				<?php echo $scope->getVar("html"); ?>
<?php if ($scope->getVar("is_required") == 1): ?><script type="text/javascript">addVerification('<?php echo $scope->getVar("name"); ?>', '.+', '<?php echo $scope->getVar("name"); ?>', 'inputfailed');</script><div id="<?php echo $scope->getVar("name"); ?>" style="display: none;"><?php echo $scope->getVar("L_REQUIREDFIELDS"); ?>: </strong><?php echo $scope->getVar("title"); ?></strong></div><?php endif; ?>
			</td>
		</tr>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
		<tr>
			<td class="k4_subtitle" colspan="2" align="center">
				<input type="submit" value="<?php echo $scope->getVar("L_SAVE"); ?>" class="button" />
				<input type="reset" value="<?php echo $scope->getVar("L_RESET"); ?>" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>
<?php endif; ?>