<?php if ($_SESSION['user']->isMember()): ?>
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_USERCONTROLPANEL"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr class="alt3">
			<td><span class="smalltext"><?php echo $scope->getVar("L_USERCPWELCOMEMSG"); ?></span></td>
		</tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle"><?php echo $scope->getVar("L_IMPORTANTANNOUNCEMENTS"); ?></div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
<?php if ($scope->listBegin("announcements")): ?>
<?php if ($scope->listKey("announcements") == -1 && !$scope->listHasNext("announcements")): ?>
		<tr>
			<td class="alt3" colspan="6">
				<div class="outset_box" align="center">
					<br />
					<strong><?php echo $scope->getVar("L_NOIMPORTANTANNOUNCES"); ?></strong>
					<br /><br />
				</div>
			</td>
		</tr>
<?php endif; ?>
		<tr>
			<td class="k4_subtitle" width="5%" colspan="2">&nbsp;</td>
			<td class="k4_subtitle" align="center" width="55%"><?php echo $scope->getVar("L_TOPICS"); ?><?php echo $scope->getVar("name_sort"); ?>/<?php echo $scope->getVar("L_AUTHOR"); ?></td>
			<td class="k4_subtitle" align="center" nowrap="nowrap">&nbsp;<?php echo $scope->getVar("L_REPLIES"); ?>&nbsp;</td>
			<td class="k4_subtitle" align="center" nowrap="nowrap">&nbsp;<?php echo $scope->getVar("L_VIEWS"); ?>&nbsp;</td>
			<td class="k4_subtitle" align="center" nowrap="nowrap" width="30%">&nbsp;<?php echo $scope->getVar("L_LASTPOST"); ?>&nbsp;</td>
		</tr>
<?php while($scope->listNext("announcements")): ?>
<?php if ($file = $runtime->getFile("topic_view", "topic_view.html")) $template->render($file, $scope, $runtime); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
	</table>
</div>
<br />
<?php if ($file = $runtime->getFile("member_profile", "member_profile.html")) $template->render($file, $scope, $runtime); ?>
<?php endif; ?>