<?php if ($file = $runtime->getFile("forum_rules", "forum_rules.html")) $template->render($file, $scope, $runtime); ?>
<span class="title_link"><?php echo $scope->getVar("topic_name"); ?></span>
<a href="rss.php?t=<?php echo $scope->getVar("topic_topic_id"); ?>" title="<?php echo $scope->getVar("L_RSSFEED"); ?>: <?php echo $scope->getVar("topic_name"); ?>"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/rss_small.gif" alt="<?php echo $scope->getVar("L_RSSFEED"); ?>: <?php echo $scope->getVar("topic_name"); ?>" border="0" /></a>
<?php if ($file = $runtime->getFile("topic_threaded", "")) $template->render($file, $scope, $runtime); ?>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<!-- Posting Buttons -->
			<div align="left">
<?php if ($scope->getVar("topic_topic_locked") == 1): ?><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/locked.gif" alt="<?php echo $scope->getVar("L_LOCKED"); ?>" /><?php endif; ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
				<a href="newtopic.php?id=<?php echo $scope->getVar("topic_forum_id"); ?>" title="<?php echo $scope->getVar("L_POSTTOPIC"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/post_topic.gif" alt="<?php echo $scope->getVar("L_POSTTOPIC"); ?>" /></a>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
				<a href="newreply.php?id=<?php echo $scope->getVar("topic_topic_id"); ?>" title="<?php echo $scope->getVar("L_POSTREPLY"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/post_reply.gif" alt="<?php echo $scope->getVar("L_POSTREPLY"); ?>" /></a>
<?php endif; ?>
<?php endif; ?>
			</div>
			<!-- / Posting Buttons -->
		</td>
		<td width="50%">
<?php if ($pager = &$runtime->getPager("replies_pager")): ?><?php if($scope->getVar("num_pages") == "") { $scope->setVar("num_pages", ceil($pager->count / $pager->page_size)); } ?>
			<div align="right">
				<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="pagination">
					<tr>
						<td class="alt3" id="page_jump1"><div class="nav_top"><span class="smalltext"><?php echo $scope->getVar("L_PAGES"); ?> (<?php echo $scope->getVar("num_pages"); ?>)</span></div></td>
<?php if ($scope->push($pager->getFirst())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_FIRST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getPrev())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_PREV"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($pager->hasPage('2') && $scope->listBeginNew("replies_pager", $pager->getIterator("3", "3"))): ?>
<?php while($scope->listNext("replies_pager")): ?>
							<td class="alt1"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a class="pager_link" href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong class="pager_link"><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("pagenum"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php if ($scope->push($pager->getNext())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_NEXT"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getLast())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_LAST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
					</tr>
				</table>
			</div>
<?php endif; ?>
		</td>
	</tr>
</table>

<?php if ($scope->listBegin("topic")): ?>
<div class="k4_borderwrap">
	<div class="k4_maintitle" align="right">
		<!-- Topic Navigation -->
		<div class="smalltext" style="float: left;">
			<a href="findpost.php?id=<?php echo $scope->getVar("next_oldest"); ?>&amp;prev=1" title="<?php echo $scope->getVar("L_NEXTOLDEST"); ?>">&laquo; <?php echo $scope->getVar("L_NEXTOLDEST"); ?></a>
			| <a href="findpost.php?id=<?php echo $scope->getVar("next_newest"); ?>&amp;next=1" title="<?php echo $scope->getVar("L_NEXTNEWEST"); ?>"><?php echo $scope->getVar("L_NEXTNEWEST"); ?> &raquo;</a>
		</div>
		<!-- / Topic Navigation -->

		<!-- Drop Down Menus -->
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>
					<div class="ddmenu_button" id="topicoptions_link"><span class="nav_top"><?php echo $scope->getVar("L_TOPICOPTIONS"); ?></span></div>
				</td>
				<td>
					<div class="ddmenu_button" id="ratetopic_link"><span class="nav_top"><?php echo $scope->getVar("L_RATETOPIC"); ?></span></div>
				</td>
			</tr>
		</table>
		<!-- / Drop Down Menus -->
	</div>
	<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
<?php while($scope->listNext("topic")): ?>

	<!-- Topic: <?php echo $scope->getVar("name"); ?> -->
<?php if ($file = $runtime->getFile("topic_file", "")) $template->render($file, $scope, $runtime); ?>
	<!-- / Topic: <?php echo $scope->getVar("name"); ?> -->

<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_view']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_view'] <= $_SESSION['user']->get('perms'))): ?>
<?php if ($scope->listBeginNew("replies", $scope->getVar("replies"))): ?>
<?php while($scope->listNext("replies")): ?>
<?php switch($scope->listKey("replies") % 2): ?><?php case 0: $scope->push(array('row_class' => 'alt1')); break; ?><?php case 1: $scope->push(array('row_class' => 'alt3')); break; ?><?php default: $scope->push(array()); endswitch; ?>
	<!-- Reply: <?php echo $scope->getVar("name"); ?> -->
<?php if ($file = $runtime->getFile("reply_file", "")) $template->render($file, $scope, $runtime); ?>
	<!-- / Reply: <?php echo $scope->getVar("name"); ?> -->
<?php $scope->pop(); ?>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php endif; ?>
<?php $scope->pop(); endwhile; ?>
	</table>
</div>
<?php endif; ?>

<!-- Quick Reply Information -->
<div id="quick_reply_sent" style="display: none;">
	<br />
	<div id="quick_reply_message" class="special_panel" style="text-align: center;"><?php echo $scope->getVar("L_ADDEDQUICKREPLY"); ?></div>
	<br />
	<div id="quick_reply_content" style="display: none;">
	</div>
</div>
<!-- / Quick Reply Information -->

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="50%">
			<!-- Posting Buttons -->
			<div align="left">
<?php if ($scope->getVar("topic_topic_locked") == 1): ?><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/locked.gif" alt="<?php echo $scope->getVar("L_LOCKED"); ?>" /><?php endif; ?>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['topics']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
				<a href="newtopic.php?id=<?php echo $scope->getVar("topic_forum_id"); ?>" title="<?php echo $scope->getVar("L_POSTTOPIC"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/post_topic.gif" alt="<?php echo $scope->getVar("L_POSTTOPIC"); ?>" /></a>
<?php if(!isset($_MAPS)) { global $_MAPS; } if(TRUE && (isset($_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add']) && $_MAPS['forums'][$scope->getVar("topic_forum_id")]['replies']['can_add'] <= $_SESSION['user']->get('perms'))): ?>
				<a href="newreply.php?id=<?php echo $scope->getVar("topic_topic_id"); ?>" title="<?php echo $scope->getVar("L_POSTREPLY"); ?>"><img border="0" src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Buttons/<?php echo $scope->getVar("LANG"); ?>/post_reply.gif" alt="<?php echo $scope->getVar("L_POSTREPLY"); ?>" /></a>
<?php endif; ?>
<?php endif; ?>
			</div>
			<!-- / Posting Buttons -->
		</td>
		<td width="50%">
<?php if ($pager = &$runtime->getPager("replies_pager")): ?><?php if($scope->getVar("num_pages") == "") { $scope->setVar("num_pages", ceil($pager->count / $pager->page_size)); } ?>
			<div align="right">
				<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="pagination">
					<tr>
						<td class="alt3" id="page_jump2"><div class="nav_top"><span class="smalltext"><?php echo $scope->getVar("L_PAGES"); ?> (<?php echo $scope->getVar("num_pages"); ?>)</span></div></td>
<?php if ($scope->push($pager->getFirst())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_FIRST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getPrev())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_PREV"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($pager->hasPage('2') && $scope->listBeginNew("replies_pager", $pager->getIterator("3", "3"))): ?>
<?php while($scope->listNext("replies_pager")): ?>
							<td class="alt1"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a class="pager_link" href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong class="pager_link"><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("pagenum"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td>
<?php $scope->pop(); endwhile; ?>
<?php endif; ?>
<?php if ($scope->push($pager->getNext())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_NEXT"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
<?php if ($scope->push($pager->getLast())): ?><td class="alt2"><?php if ($pager->page_num != $scope->getVar("pagenum")): ?><a href="<?php echo $scope->getVar("pagelink"); ?>"><?php else: ?><strong><?php endif; ?><span class="smalltext"><?php echo $scope->getVar("L_LAST"); ?></span><?php if ($pager->page_num != $scope->getVar("pagenum")): ?></a><?php else: ?></strong><?php endif; ?></td><?php $scope->pop(); endif; ?>
					</tr>
				</table>
			</div>
<?php endif; ?>
		</td>
	</tr>
</table>

<?php if ($file = $runtime->getFile("quick_reply", "quick_reply.html")) $template->render($file, $scope, $runtime); ?>

<?php if ($file = $runtime->getFile("similar_topics", "")) $template->render($file, $scope, $runtime); ?>

<!-- Image Resizer -->
<table width="100%" cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0">
	<tr>
		<td width="80%" id="ruler"></td>
	</tr>
</table>
<!-- / Image Resizer -->

<!-- Topic Options Drop Down Menu -->
<div id="topicoptions_menu" class="k4_borderwrap" style="display: none;">
	<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
<?php if ($_SESSION['user']->isMember()): ?>
		<tr>
			<td class="alt1" nowrap="nowrap">
<?php if ($scope->getVar("is_subscribed") == 0): ?>
					<a href="viewtopic.php?act=track&amp;id=<?php echo $scope->getVar("topic_topic_id"); ?>" title="<?php echo $scope->getVar("L_TRACKTOPIC"); ?>" class="smalltext"><?php echo $scope->getVar("L_TRACKTOPIC"); ?></a>
<?php else: ?>
					<a href="viewtopic.php?act=untrack&amp;id=<?php echo $scope->getVar("topic_topic_id"); ?>" title="<?php echo $scope->getVar("L_UNTRACKTOPIC"); ?>" class="smalltext"><?php echo $scope->getVar("L_UNTRACKTOPIC"); ?></a>
<?php endif; ?>
			</td>
		</tr>
<?php endif; ?>
		<tr>
			<td class="alt1" nowrap="nowrap"><a href="<?php echo $scope->getVar("curr_url"); ?>&amp;print=1" title="<?php echo $scope->getVar("L_PRINTERVERSION"); ?>" class="smalltext"><?php echo $scope->getVar("L_PRINTERVERSION"); ?></a></td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap"><a href="<?php echo $scope->getVar("curr_url"); ?>&amp;email=1" title="<?php echo $scope->getVar("L_EMAILTHISPAGE"); ?>" class="smalltext"><?php echo $scope->getVar("L_EMAILTHISPAGE"); ?></a></td>
		</tr>
		<tr>
			<td class="k4_subtitle"><?php echo $scope->getVar("L_DISPLAYMODES"); ?></td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div style="float:right;"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/post_linear.gif" alt="" border="0" /></div>
				<a href="viewtopic.php?act=changeview&amp;mode=linear" title="<?php echo $scope->getVar("L_LINEAR"); ?>" class="smalltext"><?php echo $scope->getVar("L_LINEAR"); ?></a>
			</td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div style="float:right;"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/post_vertical.gif" alt="" border="0" /></div>
				<a href="viewtopic.php?act=changeview&amp;mode=vertical" title="<?php echo $scope->getVar("L_VERTICAL"); ?>" class="smalltext"><?php echo $scope->getVar("L_VERTICAL"); ?></a>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle"><?php echo $scope->getVar("L_VIEWOPTIONS"); ?></td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div style="float:right;"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/mode_threaded.gif" alt="" border="0" /></div>
				<a href="viewtopic.php?act=changeview&amp;mode=threaded" title="<?php echo $scope->getVar("L_THREADED"); ?>" class="smalltext"><?php echo $scope->getVar("L_THREADED"); ?></a>
			</td>
		</tr>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div style="float:right;"><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/mode_linear.gif" alt="" border="0" /></div>
				<a href="viewtopic.php?act=changeview&amp;mode=normal" title="<?php echo $scope->getVar("L_NORMAL"); ?>" class="smalltext"><?php echo $scope->getVar("L_NORMAL"); ?></a>
			</td>
		</tr>
	</table>
</div>
<!-- / Topic Options Drop Down Menu -->

<!-- Rate Topic Drop Down Menu -->
<div id="ratetopic_menu" class="k4_borderwrap" style="display: none;">
	<form action="viewtopic.php?act=rate_topic&amp;id=<?php echo $scope->getVar("topic_topic_id"); ?>" method="post" enctype="multipart/form-data">
	<table cellpadding="0" cellspacing="<?php echo $scope->getVar("style_cellspacing"); ?>" border="0" class="k4_table">
		<tr>
			<td class="alt3" style="text-align: center;" nowrap="nowrap">
<?php if ($scope->getVar("ratings_num") != 0): ?><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/<?php echo $scope->getVar("rating"); ?>stars.gif" alt="" /><?php else: ?><em class="smalltext"><?php echo $scope->getVar("L_NOVOTES"); ?></em><?php endif; ?>
			</td>
		</tr>
<?php if ($_SESSION['user']->isMember()): ?>
		<tr>
			<td class="alt1" nowrap="nowrap">
				<div class="smalltext">
					<input type="radio" name="rating" value="0" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/0stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="1" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/1stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="2" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/2stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="3" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/3stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="4" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/4stars.gif" alt="" /><br />
					<input type="radio" name="rating" value="5" /><img src="Images/<?php echo $scope->getVar("IMG_DIR"); ?>/Icons/Rating/5stars.gif" alt="" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" align="center"><input type="submit" class="button" value="<?php echo $scope->getVar("L_RATE"); ?>" /></td>
		</tr>
<?php endif; ?>
	</table>
	</form>
</div>
<!-- / Rate Topic Drop Down Menu -->

<?php if ($file = $runtime->getFile("page_jumper", "page_jumper.html")) $template->render($file, $scope, $runtime); ?>
<script type="text/javascript">
//<![CDATA[
	resize_bbimgs('ruler');
	menu_init('topicoptions_link', 'topicoptions_menu');
	menu_init('ratetopic_link', 'ratetopic_menu');
	menu_init('page_jump1', 'page_jump_menu');
	menu_init('page_jump2', 'page_jump_menu');

	// show/hide the emoticons/images
	var bbcode_images		= d.getElementsByTagName(document, 'img');
	for(var i = 0; i < d.sizeof(bbcode_images); i++) {
		if(bbcode_images[i]) {
<?php if ($scope->getVar("user_viewemoticons") == 0): ?>
			if(bbcode_images[i].className == 'emoticon_image') {
				bbcode_images[i].style.display = 'none';
			}
<?php endif; ?>
<?php if ($scope->getVar("user_viewimages") == 0): ?>
			if(bbcode_images[i].className == 'bbcode_img') {
				bbcode_images[i].style.display = 'none';
			}
<?php endif; ?>
		}
	}
//]]>
</script>