<is:admin>
<div class="admin_menu" id="admin_menu">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td><a href="#" target="admin_iframe" title="{$L_OPTIONS}" id="options_link">{$L_OPTIONS}</a></td>
			<td><a href="#" target="admin_iframe" title="{$L_FORUMS}" id="forums_link">{$L_FORUMS}</a></td>
			<td><a href="#" target="admin_iframe" title="{$L_USERS}" id="users_link">{$L_USERS}</a></td>
			<td><a href="#" target="admin_iframe" title="{$L_POSTS}" id="posts_link">{$L_POSTS}</a></td>
			<td><a href="#" target="admin_iframe" title="{$L_STYLES}" id="styles_link">{$L_STYLES}</a></td>
			<td><a href="#" title="{$L_MISCELLANEOUS}" id="misc_link">{$L_MISCELLANEOUS}</a></td>
			<td><a href="#" target="admin_iframe" title="{$L_FAQ}" id="faq_link">{$L_FAQ}</a></td>
		</tr>
	</table>
</div>
<div class="alt2" style="height: 15px;">&nbsp;</div>
</is:admin>