<is:admin>

<br />
	<!--
	<thead class="k4_maintitle"><td>{$L_STYLES}</td></thead>
	<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=css">{$L_CSS}</a></td></tr>
	-->

<br />	
	<!--
	<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=prune">{$L_PRUNE}</a></td></tr>
	<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=permissions">{$L_PERMISSIONS}</a></td></tr>
	-->

<br />

<br />

<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_FAQ}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=faq_categories">{$L_FAQCATEGORIES}</a></td></tr>
		<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=faq_answers">{$L_FAQANSWERS}</a></td></tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_EMAIL}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=email">{$L_EMAILUSERS}</a></td></tr>
	</table>
</div>
<br />
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_MISCELLANEOUS}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=spiders">{$L_SEARCHSPIDERS}</a></td></tr>
	</table>
</div>
	<!--
	<thead class="k4_maintitle"><td>{$L_PRIVATE_MSGS}</td></thead>
	<tr class="alt3"><td><a class="smalltext" target="main" href="admin.php?act=globalpm">{$L_GLOBALPM}</a></td></tr>
	-->
</is:admin>