<is:admin>
<div class="header"><div class="title">{$L_CACHECONTROL}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=cache_refresh" title="{$L_REFRESHALL}">{$L_REFRESHALL}</a>
		<br /><br />
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="cache_items">
		<tr>
			<td class="subheader">{$L_NAME}/{$L_SIZE}</td>
			<td class="subheader">{$L_LASTMODIFIED}</td>
			<td class="subheader">{$L_REFRESH}</td>
		</tr>
		<list:item list="cache_items">
		<list:switch list="cache_items" var="row_class" a="alt1" b="alt2">
		<tr>
			<td width="95%" class="{$row_class}">
				
				<strong>{$name}</strong>
				<span class="smalltext">(<em>{$size} b</em>)</span>
			</td>
			<td class="base2" style="text-align: center;" nowrap="nowrap">
				<if:if var="modified" greater="0"><div class="smalltext"><core:date format="%b %d %Y">{$modified}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$modified}</core:date></span></div><if:else />--</if:if>
			</td>
			<td class="alt4" style="text-align: center;">
				<input type="button" class="button" onclick="document.location='admin.php?act=cache_refresh&amp;varname={$varname}'" value="{$L_REFRESH}" />
			</td>
		</tr>
		</list:switch>		
		</list:item>
		</list:list>
		<tr>
			<td class="base3" colspan="3">
				{$L_TOTALCACHESIZE}: <em><strong>{$total_cache_size}</strong><span class="smalltext"> b ({$total_cache_size_mb} MB)</span></em>
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>