<is:admin>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="5">
			<script type="text/javascript">doHelpButton('categories');</script>
			{$L_CATEGORIES}
		</td>
	</tr>
	<tr class="tcat">
		<td colspan="5">{$L_MANAGECATEGORIES}</td>
	</tr>
	<tr class="alt3">
		<td colspan="5">
			<div align="center">
				<script type="text/javascript">doHelpButton('add_category');</script>
				<input type="button" class="minitext" style="font-weight: bold;" value="{$L_ADDCATEGORY}" onclick="document.location='admin.php?act=categories_add'" />
			</div>
		</td>
	</tr>
	<tr class="tcat">
		<td>{$L_ORDER}</td>
		<td colspan="2">{$L_MANAGEMENT}</td>
	</tr>
	<list:list id="categories">
	<list:default list="categories">
	<tr class="panel">
		<td colspan="2">
			<div class="outset_box" align="center">
				<br />
				{$L_NOCATEGORIES}
				<br /><br />
			</div>
		</td>
	</tr>
	</list:default>
	<list:item list="categories">
		<list:switch list="categories" var="row_class" a="alt1" b="alt2">
		<tr class="{$row_class}">
		</list:switch>
		<form:form name="update_category" id="update_category" action="admin.php?act=categories_simpleupdate" method="post" enctype="multipart/form-data">
		<td width="10%" align="center">
			<input type="hidden" name="id" value="{$id}" />
			<input type="text" size="3" name="row_order" id="row_order" value="{$row_order}" />
			<form:error id="row_order_error" for="row_order" setclass="inputfailed" regex=".+"><span class="minitext">{$L_INSERTCATORDER}</span></form:error>
			<form:error id="row_order_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+"><span class="minitext">{$L_INSERTCATORDERNUM}</span></form:error>
		</td>
		<td width="80%">
			<div align="left">
				<strong>{$name}</strong>
				<br />
				<span class="minitext">{$description}</span>
			</div>
		</td>
		<td width="10%" align="center">
			<input type="submit" class="minitext" value="{$L_SAVE}" /><input type="button" class="minitext" value="{$L_EDIT}" onclick="document.location='admin.php?act=categories_edit&id={$id}'" />
			<br />
			<input type="button" class="minitext" value="{$L_EDITPERMISSIONS}" onclick="document.location='admin.php?act=categories_permissions&id={$id}'" />
			<br />
			<input type="button" class="minitext" style="color: #FF0000;" value="{$L_DELETE}" onclick="if(confirm('{$L_CHECKDELCAT}')) { document.location='admin.php?act=categories_remove&id={$id}'; } else { return false; }" />
		</td>
		</form:form>
	</tr>
	</list:item>
	</list:list>
</table>
</is:admin>