<is:admin>
<div class="header"><div class="title">{$L_STYLESETS}</div></div>
<div class="spacer">
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="alt3" style="text-align: center;">
				<form action="admin.php" method="get" enctype="multipart/form-data">
					<input type="hidden" name="act" value="css" />
					<strong>{$L_SELECTSTYLESET}:</strong>
					<br /><br />
					<list:list id="stylesets">
					<select name="id">
					<list:item list="stylesets">
						<option value="{$id}">{$name}</option>
					</list:item>
					</select>
					</list:list>
					<input type="submit" value="{$L_EDITSTYLES}" class="button" />
				</form>
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>