<is:admin>
<div class="header"><div class="title">{$L_STYLESETS}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=css_addstyleset" title="{$L_ADDSTYLESET}">{$L_ADDSTYLESET}</a>
		<br /><br />
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="stylesets">
		<list:item list="stylesets">
		<list:switch list="stylesets" var="row_class" a="alt1" b="alt2">
		<tr>
			<td class="{$row_class}" width="80%">
				<a href="admin.php?act=css&amp;id={$id}" title="{$name}"><strong>{$name}</strong>
				<span class="smalltext"><br />{$description}</span></a>
			</td>
			<td class="{$row_class}" width="30%" align="center">
				<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=css_editstyleset&id={$id}'" />
				<input type="button" class="button" value="{$L_DELETE}" style="color: #FF0000;" onclick="document.location='admin.php?act=css_removestyleset&id={$id}'" />
			</td>
		</tr>
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>