<is:admin>
<form:form action="{$css_formaction}" method="post" enctype="multipart/form-data">
<div class="header">
	<div class="title">
		<if:if var="edit_styleset" eq="1">
		{$L_EDITSTYLESET}<span style="font-weight: normal;">: {$styleset_name}</span>
		<input type="hidden" name="id" value="{$style_style_id}" />
		<if:else />{$L_ADDSTYLESET}</if:if>
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt1" width="30%"><label for="name"><strong>{$L_NAME}:</strong></label></td>
			<td class="alt1">
				<input type="text" name="name" id="name" class="inputbox" value="{$styleset_name}" tabindex="1" />
				<form:error id="name_error" for="name" setclass="inputfailed" regex=".+">{$L_INSERTSSNAME}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt2" width="30%"><label for="description"><strong>{$L_DESCRIPTION}:</strong></label></td>
			<td class="alt2">
				<input type="text" name="description" id="description" size="40" class="inputbox" value="{$styleset_description}" tabindex="2" />
				<form:error id="description_error" for="description" setclass="inputfailed" regex=".+">{$L_INSERTSSDESCRIPTION}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%"><strong>{$L_SETTINGS}:</strong></td>
			<td class="alt1">
				<input type="checkbox" name="use_templateset" id="use_templateset" value="1" tabindex="3" /> {$L_USETEMPLATESET}
				<br />
				<input type="checkbox" name="use_imageset" id="use_imageset" value="1" tabindex="4" /> {$L_USEIMAGESET}
				<if:if var="edit_styleset" eq="1">
				<script type="text/javascript">
				d.setCheckbox({$styleset_use_templateset}, 'use_templateset');
				d.setCheckbox({$styleset_use_imageset}, 'use_imageset');
				</script>
				<if:else />
				<br /><br />
				<strong>{$L_STYLESETTOCLONE}</strong><br />
				<span class="smalltext">{$L_STYLESETTOCLONEHOWTO}</span><br />
				<select name="clone_styleset" class="inputbox" tabindex="5">
					<option value="0"> - {$L_STARTNEWSS} - </option>
					<list:list id="stylesets">
					<list:item list="stylesets">
					<option value="{$id}">{$name}</option>
					</list:item>
					</list:list>
				</select>
				</if:if>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="2" style="text-align: center;">
				<input type="submit" class="button" value="{$L_SAVE}" tabindex="6" />
				<input type="reset" class="button" value="{$L_RESET}" tabindex="7" />
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</form:form>
</is:admin>