<is:admin>
<div class="header"><div class="title"><if:if var="is_edit" eq="1">{$L_EDITEMOTICON}<if:else />{$L_ADDEMOTICON}</if:if></div></div>
<div class="spacer">
	<form:form id="edit_emoticon" name="edit_emoticon" action="{$emoticons_action}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{$icon_id}" />
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="alt1" width="30%"><strong>{$L_DESCRIPTION}:</strong></td>
			<td class="alt1">
				<input type="text" name="description" id="description" value="{$icon_description}" maxlength="255" class="inputbox" />
				<form:error id="description_error" for="description" setclass="inputfailed" regex=".+">{$L_INSERTICONDESC}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt2" width="30%"><strong>{$L_TYPED}:</strong></td>
			<td class="alt2">
				<input type="text" name="typed" id="typed" value="{$icon_typed}" maxlength="255" class="inputbox" />
				<form:error id="typed_error" for="typed" setclass="inputfailed" regex=".+">{$L_INSERTICONTYPED}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%"><strong>{$L_IMAGE}:</strong></td>
			<td class="alt1">
				{$L_BROWSEFORIMGFILE}:<br />
				<input type="text" class="inputbox" name="image_browse" id="image_browse" value="{$icon_image}" /><input type="button" class="button" value="{$L_BROWSE}" onclick="popupImageBrowser('tmp/upload/emoticons', 'image_browse', '{$icon_image}')" />
				<br />
				{$L_ORUPLOADNEW}:<br />
				<input type="file" name="image_upload" id="image_upload" value="" />
			</td>
		</tr>
		<tr>
			<td class="alt2" width="30%"><strong>{$L_DISPLAYINNEWPOST}:</strong></td>
			<td class="alt2">
				<select name="clickable">
					<option value="1">{$L_YES}</option>
					<option value="0">{$L_NO}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex({$icon_clickable}, 'clickable');</script></if:if>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="2" style="text-align: center;">
				<input type="submit" class="button" value="{$L_SAVE}" />
				<input type="reset" class="button" value="{$L_RESET}" />
			</td>
		</tr>
	</table>
	</form:form>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>