<is:admin>
<form:form id="edit_emoticon" name="edit_emoticon" action="admin.php?act=emoticons_update" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$icon_id}" />
<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
	<tr class="k4_maintitle">
		<td colspan="2">{$L_EDITEMOTICON}</td>
	</tr>
	<tr class="alt1">
		<td width="30%"><strong>{$L_DESCRIPTION}:</strong></td>
		<td>
			<script type="text/javascript">doHelpButton('emoticon_description');</script>
			<input type="text" name="description" id="description" value="{$icon_description}" maxlength="255" class="inputbox" />
			<form:error id="description_error" for="description" setclass="inputfailed" regex=".+">{$L_INSERTICONDESC}</form:error>
		</td>
	</tr>
	<tr class="alt2">
		<td width="30%"><strong>{$L_TYPED}:</strong></td>
		<td>
			<script type="text/javascript">doHelpButton('emoticon_typed');</script>
			<input type="text" name="typed" id="typed" value="{$icon_typed}" maxlength="255" class="inputbox" />
			<form:error id="typed_error" for="typed" setclass="inputfailed" regex=".+">{$L_INSERTICONTYPED}</form:error>
		</td>
	</tr>
	<tr class="alt1">
		<td width="30%"><strong>{$L_IMAGE}:</strong></td>
		<td>
			{$L_BROWSEFORIMGFILE}:<br />
			<input type="text" class="inputbox" name="image_browse" id="image_browse" value="{$icon_image}" /><input type="button" class="minitext" value="{$L_BROWSE}" onclick="popupImageBrowser('tmp/upload/emoticons', 'image_browse', '{$icon_image}')" />
			<br />
			{$L_ORUPLOADNEW}:<br />
			<input type="file" name="image_upload" id="image_upload" value="" />
		</td>
	</tr>
	<tr class="alt2">
		<td width="30%"><strong>{$L_DISPLAYINNEWPOST}:</strong></td>
		<td>
			<script type="text/javascript">doHelpButton('emoticon_clickable');</script>
			<select name="clickable">
				<option value="1">{$L_YES}</option>
				<option value="0">{$L_NO}</option>
			</select>
			<script type="text/javascript">d.setIndex({$icon_clickable}, 'clickable');</script>
		</td>
	</tr>
	<tr class="k4_subtitle">
		<td colspan="2">
			<input type="submit" value="{$L_SAVE}" />
			<input type="reset" value="{$L_RESET}" />
		</td>
	</tr>
</table>
</form:form>
</is:admin>