<is:admin>
<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
	<tr class="k4_maintitle">
		<td colspan="5">
			<script type="text/javascript">doHelpButton('emoticons');</script>
			{$L_EMOTICONS}
		</td>
	</tr>
	<tr class="k4_subtitle">
		<td colspan="5">{$L_MANAGEEMOTICONS}</td>
	</tr>
	<tr class="alt3">
		<td colspan="5">
			<div align="center">
				<script type="text/javascript">doHelpButton('add_emoticon');</script>
				<input type="button" class="button" style="font-weight: bold;" value="{$L_ADDEMOTICON}" onclick="document.location='admin.php?act=emoticons_add'" />
			</div>
		</td>
	</tr>
	<tr class="alt1">
	<list:list id="emoticons">
	<list:default list="emoticons">
	<tr class="alt3">
		<td>
			<div class="outset_box" align="center">
				<br />
				{$L_NOEMOTICONS}
				<br /><br />
			</div>
		</td>
	</tr>
	</list:default>
	<list:item list="emoticons">
		<td width="20%">
			<div align="center">
				<img src="tmp/upload/emoticons/{$image}" alt="{$description}" border="0" />
				<br />
				<span class="minitext">{$typed}</span>
				<br />
				<span class="minitext">{$description}</span>
				<br /><br />
				<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=emoticons_edit&id={$id}'" />
				<br />
				<input type="button" class="button" value="{$L_DELETE}" onclick="document.location='admin.php?act=emoticons_remove&id={$id}'" />
				<br />
				<if:if var="clickable" eq="1">
				<input type="button" value="{$L_DNDISPLAYINNEWPOST}" class="button" onclick="document.location='admin.php?act=emoticons_clickable&id={$id}'" />
				<if:else />
				<input type="button" value="{$L_DISPLAYINNEWPOST}" class="button" onclick="document.location='admin.php?act=emoticons_clickable&id={$id}'" />
				</if:if>
			</div>
		</td>
	<list:separator list="emoticons">
		<list:alternate list="emoticons" count="3" remainder="2">
			<list:switch list="emoticons" var="row_class" a="alt2" b="alt1">
			</tr><tr class="{$row_class}">
			</list:switch>
		</list:alternate>
	</list:separator>
	</list:item>
	</list:list>
	</tr>
</table>
</is:admin>