<is:admin>
<form:form id="add_emoticon" name="add_emoticon" action="admin.php?act=emoticons_insert" method="post" enctype="multipart/form-data">
<div class="borderwrap">
	<div class="maintitle">{$L_ADDEMOTICON}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="alt1" width="30%"><strong>{$L_DESCRIPTION}:</strong></td>
			<td class="alt1">
				<script type="text/javascript">doHelpButton('emoticon_description');</script>
				<input type="text" name="description" id="description" value="" maxlength="255" class="inputbox" />
				<form:error id="description_error" for="description" setclass="inputfailed" regex=".+">{$L_INSERTICONDESC}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt3" width="30%"><strong>{$L_TYPED}:</strong></td>
			<td class="alt3">
				<script type="text/javascript">doHelpButton('emoticon_typed');</script>
				<input type="text" name="typed" id="typed" value="" maxlength="255" class="inputbox" />
				<form:error id="typed_error" for="typed" setclass="inputfailed" regex=".+">{$L_INSERTICONTYPED}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%"><strong>{$L_IMAGE}:</strong></td>
			<td class="alt1">
				{$L_BROWSEFORIMGFILE}:<br />
				<input type="text" class="inputbox" name="image_browse" id="image_browse" value="" /><input type="button" class="button" value="{$L_BROWSE}" onclick="popupImageBrowser('tmp/upload/emoticons', 'image_browse', '{$icon_image}')" />
				<br />
				{$L_ORUPLOADNEW}:<br />
				<input type="file" name="image_upload" id="image_upload" value="" class="inputbox" />
			</td>
		</tr>
		<tr>
			<td class="alt3" width="30%"><strong>{$L_DISPLAYINNEWPOST}:</strong></td>
			<td class="alt3">
				<script type="text/javascript">doHelpButton('emoticon_clickable');</script>
				<select name="clickable">
					<option value="1">{$L_YES}</option>
					<option value="0">{$L_NO}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="subtitle" colspan="2">
				<input type="submit" value="{$L_SAVE}" class="button" />
				<input type="reset" value="{$L_RESET}" class="button" />
			</td>
		</tr>
	</table>
</div>
</form:form>
</is:admin>