<is:admin>
<div class="header"><div class="title">{$L_EMOTICONS}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=emoticons_add" title="{$L_ADDEMOTICON}">{$L_ADDEMOTICON}</a>
		<br /><br />
	</div>
</div>
<div class="subheader">{$L_MANAGEEMOTICONS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt1">
		<list:list id="emoticons">
		<list:default list="emoticons">
		</tr>
		<tr class="alt3">
			<td>
				<div class="outset_box" align="center">
					<br />
					{$L_NOEMOTICONS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="emoticons">
			<td width="20%">
				<div align="center">
					<img src="tmp/upload/emoticons/{$image}" alt="{$description}" border="0" />
					<br />
					<span class="minitext">{$typed}</span>
					<br />
					<span class="minitext">{$description}</span>
					<br /><br />
					<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=emoticons_edit&id={$id}'" />
					<br />
					<input type="button" class="button" value="{$L_DELETE}" onclick="document.location='admin.php?act=emoticons_remove&id={$id}'" />
					<br />
					<if:if var="clickable" eq="1">
					<input type="button" value="{$L_DNDISPLAYINNEWPOST}" class="button" onclick="document.location='admin.php?act=emoticons_clickable&id={$id}'" />
					<if:else />
					<input type="button" value="{$L_DISPLAYINNEWPOST}" class="button" onclick="document.location='admin.php?act=emoticons_clickable&id={$id}'" />
					</if:if>
				</div>
			</td>
		<list:separator list="emoticons">
			<list:alternate list="emoticons" count="3" remainder="2">
				<list:switch list="emoticons" var="row_class" a="alt2" b="alt1">
				</tr><tr class="{$row_class}">
				</list:switch>
			</list:alternate>
		</list:separator>
		</list:item>
		</list:list>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>