<is:admin>
<div class="header">
	<div class="title">
		<core:block id="add">{$L_ADDFAQCATEGORY}<core:block id="parent_id" hidden="yes"><span style="font-weight: normal;">: {$parent_name}</span></core:block></core:block>
		<core:block id="edit" hidden="yes">{$L_EDITFAQCATEGORY}<span style="font-weight: normal;">: {$faq_name}</span></core:block>
	</div>
</div>
<div class="spacer">
	<form:form name="add_faqcategory" id="add_faqcategory" action="{$faq_action}" method="post" enctype="multipart/form-data">
	<core:block id="parent_id"><input type="hidden" name="parent_id" value="{$parent_id}" /></core:block>
	<core:block id="edit" hidden="yes"><input type="hidden" name="id" value="{$faq_category_id}" /></core:block>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="alt1" width="30%">
				<label for="name"><strong>{$L_NAME}:</strong></label>
			</td>
			<td class="alt1" width="70%">
				<input type="text" name="name" id="name" value="{$faq_name}" class="inputbox" size="40" tabindex="1" />
				<form:error id="name_error" for="name" setclass="inputfailed" regex=".+">{$L_INSERTCATNAME}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt2" width="30%"><label for="row_order"><strong>{$L_ORDER}:</strong></label></td>
			<td class="alt2">
				<input type="text" name="row_order" id="row_order" value="{$faq_row_order}" maxlength="5" size="3" class="inputbox" tabindex="2" />
				<form:error id="row_order_error" for="row_order" setclass="inputfailed" regex=".+">{$L_INSERTCATORDER}</form:error>
				<form:error id="row_order_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+">{$L_INSERTCATORDERNUM}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%">
				<label for="can_view"><strong>{$L_WHOCANVIEWCATEGORY}:</strong></label>
			</td>
			<td class="alt1" width="70%">
				<select name="can_view" id="can_view" class="minitext" tabindex="3">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<core:block id="edit" hidden="yes"><script type="text/javascript">d.setIndex(parseInt({$faq_can_view}), 'can_view');</script></core:block>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="2" style="text-align: center;">
				<input type="submit" value="{$L_SAVE}" class="button" tabindex="4" />
				<input type="reset" value="{$L_RESET}" class="button" tabindex="5" />
			</td>
		</tr>
	</table>
	</form:form>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>