<is:admin>
<form:form name="add_faqanswer" id="add_faqanswer" action="{$faq_action}" method="post" enctype="multipart/form-data">
<core:block id="add"><input type="hidden" name="category_id" value="{$category_id}" /></core:block>
<core:block id="edit" hidden="yes"><input type="hidden" name="id" value="{$faq_answer_id}" /></core:block>
<div class="borderwrap">
	<core:block id="add"><div class="maintitle">{$L_ADDFAQANSWER}<core:block id="category_id" hidden="yes"><span style="font-weight: normal;">: {$category_name}</span></core:block></div></core:block>
	<core:block id="edit" hidden="yes"><div class="maintitle">{$L_EDITFAQANSWER}<span style="font-weight: normal;">: {$faq_question}</span></div></core:block>
	<table width="100%" cellpadding="0" cellspacing="1" border="0" class="table">
		<tr>
			<td class="alt1" width="30%">
				<label for="question"><strong>{$L_QUESTION}:</strong></label>
			</td>
			<td class="alt3" width="70%">
				<input type="text" name="question" id="question" value="{$faq_question}" class="inputbox" size="40" tabindex="1" />
				<form:error id="question_error" for="question" setclass="inputfailed" regex=".+">{$L_INSERTANSQUESTION}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%">
				<label for="answer"><strong>{$L_ANSWER}:</strong></label>
			</td>
			<td class="alt3" width="70%">
				<textarea name="answer" id="answer" class="inputbox" rows="10" cols="80" tabindex="2">{$faq_answer}</textarea>
				<form:error id="answer_error" for="answer" setclass="inputfailed" regex=".+">{$L_INSERTANSWER}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%"><label for="row_order"><strong>{$L_ORDER}:</strong></label></td>
			<td class="alt1">
				<script type="text/javascript">doHelpButton('category_order');</script>
				<input type="text" name="row_order" id="row_order" value="{$faq_row_order}" maxlength="5" size="3" class="inputbox" tabindex="2" />
				<form:error id="row_order_error" for="row_order" setclass="inputfailed" regex=".+">{$L_INSERTANSORDER}</form:error>
				<form:error id="row_order_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+">{$L_INSERTANSORDER}</form:error>
			</td>
		</tr>
		<tr>
			<td class="alt1" width="30%">
				<label for="can_view"><strong>{$L_WHOCANVIEWANSWER}:</strong></label>
			</td>
			<td class="alt3" width="70%">
				<select name="can_view" id="can_view" class="minitext" tabindex="3">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<core:block id="edit" hidden="yes"><script type="text/javascript">d.setIndex(parseInt({$faq_can_view}), 'can_view');</script></core:block>
			</td>
		</tr>
		<tr>
			<td class="subtitle" colspan="2">
				<input type="submit" value="{$L_SAVE}" class="button" tabindex="4" />
				<input type="reset" value="{$L_RESET}" class="button" tabindex="5" />
			</td>
		</tr>
	</table>
</div>
</form:form>
</is:admin>