<is:admin>
<div class="header"><div class="title">{$L_FILEBROWSER}</div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table" style="height: 350px;">
		<tr>
			<td class="alt3">
				<div style="height: 300px;overflow: auto;">
				<list:list id="files_list">
				<list:item list="files_list">
					<div align="center" style="border: 1px solid #CCCCCC; padding: 3px; width: 30%; height: 75px; float: left;margin-right: 5px;margin-bottom: 5px;" onclick="set_file('{$shortname}', 'file')" onmouseover="this.style.border='1px solid #999999';try{ this.style.cursor='pointer'; } catch(e) { this.style.cursor='hand'; }" onmouseout="this.style.border='1px solid #CCCCCC;';try{ this.style.cursor='pointer'; } catch(e) { this.style.cursor='hand'; }">
					<if:if var="filetype" eq="img">
						<img src="{$filename}" width="{$width}" height="{$height}" alt="" border="" />
					<if:else />
						<img src="Images/{$IMG_DIR}/Icons/filetype_{$filetype}.png" alt="" border="" width="48" height="48" />
					</if:if>
					<br />
					<strong>{$shortname}</strong>
					<br />
					{$fileext}
					</div>
					<list:separator list="files_list">
						<list:alternate list="files_list" count="3" remainder="2">
							<br /><br /><br /><br /><br /><br />
						</list:alternate>
					</list:separator>
				</list:item>
				</list:list>
				</div>
			</td>
		</tr>
		<tr>
			<td class="base3">
				<input type="text" name="file" id="file" class="inputbox" value="{$selected}" style="width: 310px;" />
				<input type="button" class="minitext" value="{$L_SELECT}" onclick="select_file('file', '{$opener_input}')" />
				<input type="button" class="minitext" value="{$L_CANCEL}" onclick="window.close()" />
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>