<is:admin>
<script type="text/javascript">
	function check_delete_forum() {
		var obj = d.getElementById('forum_action');
		if(obj[obj.selectedIndex].value == 'forums_remove') {
			if(confirm('{$L_CHECKDELFORUM}')) { 
				return true 
			} else { 
				return false; 
			}
		}
	}
</script>
<form action="admin.php" method="get" enctype="multipart/form-data" onsubmit="return check_delete_forum();">
<div class="k4_borderwrap">
	<div class="k4_maintitle">
		<script type="text/javascript">doHelpButton('categories');</script>
		{$L_FORUMS}
	</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="alt1" colspan="5" style="text-align: center;">
				<br />
				<strong>{$L_FORUM}</strong><br />
				<select name="forum_id" id="forum_id" class="inputbox">
					<list:list id="all_forums">
					<list:item list="all_forums">
						<if:if var="row_type" eq="2">
							<option value="{$forum_id}">{$indent_level}{$name}</option>
						<if:else />
							<optgroup label="{$name}" />
						</if:if>
					</list:item>
					</list:list>
				</select>
				<br /><br />
				<strong>{$L_ACTION}</strong><br />
				<select name="act" class="inputbox" id="forum_action">
					<option value="forums_edit">{$L_EDIT}</option>
					<option value="forums_add">{$L_ADDSUBFORUM}</option>
					<option value="forums_permissions">{$L_EDITPERMISSIONS}</option>
					<option value="forums_remove" style="color: #FF0000;">{$L_DELETE}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle" style="text-align: center;">
				<input type="submit" value="{$L_SELECT}" class="button" />
			</td>
		</tr>
	</table>
</div>
</form>
</is:admin>