<is:admin>
<form:form action="{$forum_action}" method="post" enctype="multipart/form-data">
<if:if var="is_edit" eq="1"><input type="hidden" name="forum_id" value="{$forum_forum_id}" /></if:if>
<div class="header"><div class="title"><if:if var="is_edit" eq="1">{$L_EDITFORUM}<span style="font-weight: normal;">: {$forum_name}</span><if:else />{$L_ADDFORUM}</if:if></div></div>
<div class="subheader">{$L_GENERAL}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt1">
			<td width="30%"><strong>{$L_TYPE}:</strong></td>
			<td>
				<select name="row_type" id="row_type" class="inputbox">
					<option value="2">{$L_FORUM}</option>
					<option value="1">{$L_CATEGORY}</option>
					<option value="16">{$L_GALLERY}</option>
					<option value="256">{$L_METAFORUM}</option>
					<option value="512">{$L_ARCHIVEFORUM}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex('{$forum_row_type}', 'row_type');</script></if:if>
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_PARENT}:</strong></td>
			<td>
				<select name="parent_id" id="parent_id" class="inputbox">
					<option value="0">-- {$L_NONE} --</option>
					<list:list id="all_forums">
					<list:item list="all_forums">
						<option value="<if:if var="is_edit" eq="1"><if:if var="forum_id" eq="forum_forum_id">0<if:else />{$forum_id}</if:if><if:else />{$forum_id}</if:if>" <if:if var="row_type" eq="1"> style="font-weight: bold;"</if:if>>{$indent_level}{$name}</option>
					</list:item>
					</list:list>
				</select>
				<script type="text/javascript">d.setIndex('{$forum_parent}', 'parent_id');</script>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_NAME}:</strong></td>
			<td>
				<input type="text" name="name" id="name" value="{$forum_name}" maxlength="255" class="inputbox" tabindex="1" />
				<form:error id="name_error" for="name" setclass="inputfailed" regex=".+">{$L_INSERTFORUMNAME}</form:error>
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_DESCRIPTION}:</strong></td>
			<td>
				<textarea name="description" id="description" rows="2" style="width: 80%;" class="inputbox" tabindex="2">{$forum_description}</textarea>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_ORDER}:</strong></td>
			<td>
				<input type="text" name="row_order" id="row_order" value="{$forum_row_order}" maxlength="5" size="3" class="inputbox" tabindex="3" />
				<form:error id="row_order_error" for="row_order" setclass="inputfailed" regex=".+">{$L_INSERTFORUMORDER}</form:error>
				<form:error id="row_order_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+">{$L_INSERTFORUMORDERNUM}</form:error>
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_FORUMPASSWORD}</strong></td>
			<td><input type="text" name="pass" class="inputbox" value="{$forum_pass}" maxlength="32" tabindex="4" /></td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_FORUMRULES}:</strong></td>
			<td>
				<textarea name="forum_rules" id="forum_rules" rows="5" class="inputbox" style="width: 80%;" tabindex="8">{$forum_forum_rules}</textarea>
			</td>
		</tr>
	</table>
</div>
<div class="subheader">{$L_LINKING}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt2">
			<td width="30%">
				<strong>{$L_ISLINK}:</strong><br />
				<span class="smalltext">{$L_ISDIRECTLINKEXPLAIN}</span>
				</td>
			<td>
				<select name="is_link" id="is_link" tabindex="5">
					<option value="0" selected="selected">{$L_NO}</option>
					<option value="1">{$L_YES}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex({$forum_is_link}, 'is_link');</script></if:if>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_LINKURL}:</strong></td>
			<td><input type="text" name="link_href" value="{$forum_link_href}" class="inputbox" tabindex="6" /></td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_ISDIRECTLINK}:</strong></td>
			<td>
				<select name="link_show_redirects" id="link_show_redirects" tabindex="7">
					<option value="1">{$L_YES}</option>
					<option value="0">{$L_NO}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex(iif({$forum_link_show_redirects} == 0, 0, 1), 'link_show_redirects');</script></if:if>
			</td>
		</tr>
	</table>
</div>
<div class="subheader">{$L_PRUNING}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt1">
			<td width="30%"><strong>{$L_AUTOPRUNING}:</strong></td>
			<td>
				<select name="prune_auto" id="prune_auto" tabindex="9">
					<option value="0">{$L_NO}</option>
					<option value="1">{$L_YES}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex({$forum_prune_auto}, 'prune_auto');</script></if:if>
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_AUTOPRUNEFREQUENCY}:</strong></td>
			<td>
				<input type="text" name="prune_frequency" id="prune_frequency" value="0" maxlength="3" size="3" class="inputbox" tabindex="10" />
				{$L_DAYS}
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_AUTOPRUNEPOSTAGE}:</strong></td>
			<td>
				<input type="text" name="prune_post_age" id="prune_post_age" value="0" maxlength="3" size="3" class="inputbox" tabindex="11" />
				{$L_DAYS}
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_AUTOPRUNEPOSTVIEWAGE}:</strong></td>
			<td>
				<input type="text" name="prune_post_viewed_age" id="prune_post_viewed_age" value="0" maxlength="3" size="3" class="inputbox" tabindex="12" />
				{$L_DAYS}
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_PRUNEOLDPOLLS}:</strong></td>
			<td>
				<select name="prune_old_polls" id="prune_old_polls" tabindex="13">
					<option value="0">{$L_NO}</option>
					<option value="1">{$L_YES}</option>
				</select>
				<if:if var="is_edit" eq="1"><script type="text/javascript">d.setIndex({$forum_prune_old_polls}, 'prune_old_polls');</script></if:if>
			</td>
		</tr>
		<tr class="alt2">
			<td width="30%"><strong>{$L_PRUNEANNOUNCEMENTS}:</strong></td>
			<td>
				<select name="prune_announcements" id="prune_announcements" tabindex="14">
					<option value="0">{$L_NO}</option>
					<option value="1">{$L_YES}</option>
				</select>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_PRUNESTICKIES}:</strong></td>
			<td>
				<select name="prune_stickies" id="prune_stickies" tabindex="15">
					<option value="0">{$L_NO}</option>
					<option value="1">{$L_YES}</option>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="subheader">{$L_VIEWING}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt2">
			<td width="30%"><strong>{$L_TOPICSPERPAGE}:</strong></td>
			<td>
				<input type="text" name="topicsperpage" id="topicsperpage" value="30" maxlength="3" size="3" class="inputbox" tabindex="16" />
				<form:error id="topicsperpage_error" for="topicsperpage" setclass="inputfailed" regex=".+">{$L_INSERTFORUMTPP}</form:error>
				<form:error id="topicsperpage_num_error" for="topicsperpage" setclass="inputfailed" regex="([0-9])+">{$L_INSERTFORUMTPPNUM}</form:error>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_POSTSPERPAGE}:</strong></td>
			<td>
				<input type="text" name="postsperpage" id="postsperpage" value="10" maxlength="2" size="3" class="inputbox" tabindex="17" />
				<form:error id="postsperpage_error" for="postsperpage" setclass="inputfailed" regex=".+">{$L_INSERTFORUMPPP}</form:error>
				<form:error id="postsperpage_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+">{$L_INSERTFORUMPPPNUM}</form:error>
			</td>
		</tr>
	</table>
</div>
<div class="subheader">{$L_SETTINGS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt2">
			<td width="30%"><strong>{$L_MAXPOLLOPTIONS}:</strong></td>
			<td>
				<input type="text" name="maxpolloptions" id="maxpolloptions" value="10" maxlength="2" size="3" class="inputbox" tabindex="18" />
				<form:error id="maxpolloptions_error" for="postsperpage" setclass="inputfailed" regex=".+">{$L_INSERTFORUMMPO}</form:error>
				<form:error id="maxpolloptions_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+">{$L_INSERTFORUMMPONUM}</form:error>
			</td>
		</tr>
		<tr class="alt1">
			<td width="30%"><strong>{$L_LANGUAGE}:</strong></td>
			<td>
				<select name="defaultlang" id="defaultlang" tabindex="19">
					<list:list id="languages">
					<list:item list="languages">
					<option value="{$lang}">{$name}</option>
					</list:item>
					</list:list>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="subheader">{$L_MODERATORS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt2">
			<td width="30%"><strong>{$L_MODERATORS}:</strong></td>
			<td>
				<div style="float:left;">
					<label for="moderators">{$L_MODERATINGGROUPS}</label><br />
					<select name="moderators[]" id="moderators" tabindex="20" size="5" multiple="multiple">
						<list:list id="usergroups">
						<list:item list="usergroups">
						<option value="{$id}">{$name}</option>
						</list:item>
						</list:list>
					</select>
					<br />
					<input type="button" class="button" value="{$L_NONE}" onclick="d.selectNone('moderators')" />
					<input type="button" class="button" value="{$L_ALL}" onclick="d.selectAll('moderators')" />
				</div>
				<div style="padding-left: 15px;float:left;">
					<label for="moderating_users">{$L_MODERATINGUSERS}</label><br />
					<textarea name="moderating_users" id="moderating_users" rows="5" cols="{$maxuserlength}" class="inputbox">{$forum_moderating_users}</textarea>
					<br />
					<span class="minitext">{$L_ONEUSERPERLINE}</span>
				</div>
				<script type="text/javascript">d.setIndices("{$forum_moderating_groups}".split("|"), 'moderators');</script>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="2" style="text-align: center;">
				<input type="submit" class="button" value="{$L_SAVE}" tabindex="15" />
				<input type="reset" class="button" value="{$L_RESET}" />
			</td>
		</tr>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</form:form>
</is:admin>