<is:admin>
<div class="header"><div class="title">{$L_FORUMS}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=forums_permissions&amp;id=0" title="{$L_EDITMASTERPERMISSIONS}">{$L_EDITMASTERPERMISSIONS}</a>
		| <a href="admin.php?act=forums_add&amp;forum_id=0" title="{$L_ADDFORUM}">{$L_ADDFORUM}</a>
		<br /><br />
	</div>
</div>
<div class="spacer">
	<div class="categorytitle">
		{$L_MANAGEFORUMS}
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="forums">
		<list:default list="forums">
		<tr class="alt3">
			<td>
				<div class="outset_box" align="center">
					<br />
					{$L_NOFORUMS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<tr>
			<td class="supheader">{$L_FORUM}</td>
			<td class="supheader" colspan="2">{$L_MANAGEMENT}</td>
		</tr>
		<list:item list="all_forums">
		<form:form name="update_forum" id="update_forum" action="admin.php?act=forums_simpleupdate" method="post" enctype="multipart/form-data">
		<list:switch list="all_forums" var="row_class" a="alt1" b="base1">
		<tr>
			<td class="{$row_class}" width="80%">
				<div>
					<div style="float: left;">
						<input type="hidden" name="forum_id" value="{$forum_id}" />
						{$indent_level}{$indent_level}<input type="text" size="3" name="row_order" id="row_order" value="{$row_order}" class="inputbox" />
						<form:error id="row_order_error" for="row_order" setclass="inputfailed" regex=".+"><span class="minitext">{$L_INSERTFORUMORDER}</span></form:error>
						<form:error id="row_order_num_error" for="row_order" setclass="inputfailed" regex="([0-9])+"><span class="minitext">{$L_INSERTFORUMORDER}</span></form:error>
					</div>	
					&nbsp;<strong>{$name}</strong>
					<div align="right">
						<input type="button" class="button" value="{$L_EDITPERMISSIONS}" onclick="document.location='admin.php?act=forums_permissions&forum_id={$forum_id}'" />
						<input type="button" class="button" style="font-weight: bold;" value="{$L_ADDSUBFORUM}" onclick="document.location='admin.php?act=forums_add&category_id={$category_id}&forum_id={$forum_id}'" />
					</div>
				</div>
			</td>
			<td class="base2" width="10%" align="center">
				<input type="submit" class="button" value="{$L_SAVE}" /><input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=forums_edit&forum_id={$forum_id}'" />
				<if:if var="can_delete" eq="1">
					<br />
					<input type="button" class="button" style="color: #FF0000;" value="{$L_DELETE}" onclick="if(confirm('{$L_CHECKDELFORUM}')) { document.location='admin.php?act=forums_remove&forum_id={$forum_id}'; } else { return false; }" />
				</if:if>
			</td>
		</tr>
		</list:switch>
		</form:form>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>