<is:admin>
<div class="header"><div class="title">{$L_FORUMPERMISSIONS}: <span style="font-weight: normal;"><if:if var="forum_id" noteq="0">{$forum_name}<if:else />{$L_MASTERPERMISSIONS}</if:if></span></div></div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subheader" width="30%">{$L_NAME}</td>
			<td class="subheader" align="center">{$L_VIEW}</td>
			<td class="subheader" align="center">{$L_ADD}</td>
			<td class="subheader" align="center">{$L_EDIT}</td>
			<td class="subheader" align="center">{$L_DELETE}</td>
		</tr>
	</table>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<form name="update_forum_perms" id="update_forum_perms" action="admin.php?act=forums_updateperms" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$forum_forum_id}" />
		<list:list id="forum_maps">
		<list:default list="forum_maps">
		<tr class="alt3">
			<td colspan="5">
				<div class="outset_box" align="center">
					<br />
					{$L_NOFORUMMAPS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="forum_maps">
		<list:switch list="forum_maps" var="row_class" a="alt1" b="alt2">
		<tr class="{$row_class}">
			<td nowrap="nowrap">{$level}<strong>{$name}</strong></td>
			<td align="center">
				<select name="{$varname}_can_view" id="view_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_view}, 'view_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_add" id="add_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_add}, 'add_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_edit" id="edit_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_edit}, 'edit_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_del" id="del_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_del}, 'del_{$id}');</script>
			</td>
		</tr>
		</list:switch>
		</list:item>
		<tr class="base3">
			<td align="center" colspan="5">
				<input type="submit" class="button" value="{$L_SAVE}" accesskey="s" />
				<input type="reset" class="button" value="{$L_RESET}" />
			</td>
		</tr>
		</list:list>
		</form>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>