<is:admin>
<form:form id="maps_add" name="maps_add" action="admin.php?act=maps_insert" method="post" enctype="multipart/form-data">
<input type="hidden" name="parent_id" value="{$maps_id}" />
<div class="borderwrap">
	<div class="maintitle">{$L_ADDMAPSITEM}</div>
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr class="alt3">
			<td width="15%">{$L_VARNAME}</td>
			<td width="10%"><input type="text" name="varname" id="varname" value="" class="inputbox" /></td>
			<td width="75%">
				<form:error id="varname_empty" for="varname" setclass="inputfailed" regex=".+">
				{$L_MAPSNEEDVARNAME}
				</form:error>
			</td>
		</tr>
		<tr class="alt3">
			<td width="15%">{$L_NAME}</td>
			<td width="10%"><input type="text" name="name" id="name" value="" class="inputbox" /></td>
			<td width="75%">
				<form:error id="name_empty" for="name" setclass="inputfailed" regex=".+">
				{$L_MAPSNEEDNAME}
				</form:error>
			</td>
		</tr>
		<tr class="alt3">
			<td width="15%">{$L_VIEW}</td>
			<td width="10%">
				<select name="can_view" class="inputbox">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="2">{$L_MEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
			</td>
			<td width="75%">
			</td>
		</tr>
		<tr class="alt3">
			<td width="15%">{$L_ADD}</td>
			<td width="10%">
				<select name="can_add" class="inputbox">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="2">{$L_MEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
			</td>
			<td width="75%">
			</td>
		</tr>
		<tr class="alt3">
			<td width="15%">{$L_EDIT}</td>
			<td width="10%">
				<select name="can_edit" class="inputbox">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="2">{$L_MEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
			</td>
			<td width="75%">
			</td>
		</tr>
		<tr class="alt3">
			<td width="15%">{$L_DELETE}</td>
			<td width="10%">
				<select name="can_del" class="inputbox">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="2">{$L_MEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
			</td>
			<td width="75%">
			</td>
		</tr>
		<tr class="subtitle">
			<td colspan="3">
				<input type="submit" value="{$L_SAVE}" class="button" />
				<input type="reset" value="{$L_RESET}" class="button" />
			</td>
		</tr>
	</table>
</div>
</form:form>
</is:admin>