<is:admin>
<form action="admin.php?act=masks_updateperms" method="post" enctype="multipart/form-data">
<input type="hidden" name="f" value="{$forum_forum_id}" />
<input type="hidden" name="g" value="{$group_id}" />
<div class="borderwrap">
	<div class="maintitle">
		{$L_PERMISSIONMASK}: <span style="font-weight: normal;"><em>{$forum_name} -> {$group_name}</em></span>
	</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<input type="hidden" name="id" value="{$forum_forum_id}" />
		<list:list id="mask_maps">
		<tr class="subtitle">
			<td>{$L_NAME}</td>
			<td align="center">{$L_VIEW}</td>
			<td align="center">{$L_ADD}</td>
			<td align="center">{$L_EDIT}</td>
			<td align="center">{$L_DELETE}</td>
		</tr>
		<list:item list="mask_maps">
		<tr class="{$row_class}">
			<td nowrap="nowrap">{$level}<strong>{$name}</strong></td>
			<td align="center">
				<select name="{$varname}_can_view" id="view_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_view}, 'view_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_add" id="add_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_add}, 'add_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_edit" id="edit_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_edit}, 'edit_{$id}');</script>
			</td>
			<td align="center">
				<select name="{$varname}_can_del" id="del_{$id}" class="minitext">
					<option value="0">--</option>
					<option value="1">{$L_GUEST}</option>
					<option value="4">{$L_PENDINGMEMBER}</option>
					<option value="5">{$L_MEMBER}</option>
					<option value="6">{$L_SUPERMEMBER}</option>
					<option value="7">{$L_MODERATOR}</option>
					<option value="8">{$L_SUPERMODERATOR}</option>
					<option value="9">{$L_ADMIN}</option>
					<option value="10">{$L_SUPERADMIN}</option>
				</select>
				<script type="text/javascript">d.setIndex({$can_del}, 'del_{$id}');</script>
			</td>
		</tr>
		</list:item>
		<tr>
			<td align="left" colspan="5" class="subtitle">
				<input type="submit" class="button" value="{$L_SAVE}" accesskey="s" />
				<input type="reset" class="button" value="{$L_RESET}" />
			</td>
		</tr>
		</list:list>
	</table>
</div>
</form>
</is:admin>