<is:admin>
<div class="header"><div class="title">{$L_PERMISSIONMASKS}</div></div>
<div class="spacer">
	<div class="base3">
		<strong>{$L_HOWDOMASKPERMSWORK}</strong>
		<p>
			{$L_HOWMASKPERMSWORK}
		</p>
	</div>
</div>
<div class="spacer">
	<form action="admin.php" method="get" enctype="multipart/form-data">
	<input type="hidden" name="act" value="mask_edit" />
	<table width="100%" cellspacing="{$style_cellspacing}">
		<tr>
			<td class="alt3" style="text-align: center;">
				<br />
				<strong>{$L_USERGROUP}:</strong>
				<br />
				<select name="g">
					<list:list id="usergroups">
					<list:item list="usergroups">
					<option value="{$id}">{$name}</option>
					</list:item>
					</list:list>
				</select>
				<br /><br />
				<strong>{$L_FORUM}:</strong>
				<br />
				<select name="f">
					<list:list id="forums">
					<list:item list="forums">
					<if:if var="row_type" eq="1">
					<optgroup label="{$name}" />
					<if:else />
					<option value="{$forum_id}">{$name}</option>
					</if:if>
					</list:item>
					</list:list>
				</select>
				<br /><br />
			</td>
		</tr>
		<tr>
			<td class="base3" style="text-align: center;">
				<input type="submit" name="edit" class="button" value="{$L_EDITMASK}" />
				<input type="submit" name="delete" class="button" value="{$L_DELETEMASK}" style="color: #FF0000;" />
			</td>
		</tr>
	</table>
	</form>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>