<is:admin>
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_OPTIONS}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<list:list id="setting_groups">
		<list:item list="setting_groups">
		<list:switch list="setting_groups" var="row_class" a="alt3" b="alt1">
		<tr>
			<td class="{$row_class}">
				<strong><a href="admin.php?act=options_view&amp;id={$id}" title="{$title}">{$title}</a></strong>
				<span class="smalltext">(<em>{$num_settings} {$L_SETTINGS}</em>)</span>
			</td>
		</tr>
		</list:switch>		
		</list:item>
		</list:list>
	</table>
</div>
</is:admin>