<!-- Pager Jump To Drop Down Menu -->
<script type="text/javascript">
//<![CDATA[
function jump_pages(input_id) {
	var jumpto				= d.getElementById(input_id);
	if(jumpto) {
		page				= parseInt(jumpto.value);
		document.location	= '{$pagejumper_url}&page=' + page;
	}
}
//]]>
</script>
<div id="page_jump_menu" class="borderwrap" style="display: none;width: auto;">
	<table cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subtitle">{$L_JUMPTOPAGE}</td>
		</tr>
		<tr>
			<td class="alt3">
				<input type="text" name="jumpto" id="jumpto" size="2" class="inputbox" />
				<input type="button" class="button" value="{$L_GO}" onclick="jump_pages('jumpto')" />
			</td>
		</tr>
	</table>
</div>
<!-- / Page Jump To Drop Down Menu -->