<is:admin>
<form:form id="add_posticon" name="add_posticon" action="admin.php?act=posticons_insert" method="post" enctype="multipart/form-data">
<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
	<tr class="maintitle">
		<td colspan="2">{$L_ADDPOSTICON}</td>
	</tr>
	<tr class="alt1">
		<td width="30%"><strong>{$L_DESCRIPTION}:</strong></td>
		<td>
			<script type="text/javascript">doHelpButton('posticon_description');</script>
			<input type="text" name="description" id="description" value="" maxlength="255" class="inputbox" />
			<form:error id="description_error" for="description" setclass="inputfailed" regex=".+">{$L_INSERTICONDESC}</form:error>
		</td>
	</tr>
	<tr class="alt2">
		<td width="30%"><strong>{$L_IMAGE}:</strong></td>
		<td>
			{$L_BROWSEFORIMGFILE}:<br />
			<input type="text" class="inputbox" name="image_browse" id="image_browse" value="" /><input type="button" class="minitext" value="{$L_BROWSE}" onclick="popupImageBrowser('tmp/upload/posticons', 'image_browse', '{$icon_image}')" />
			<br />
			{$L_ORUPLOADNEW}:<br />
			<input type="file" name="image_upload" id="image_upload" value="" />
		</td>
	</tr>
	<tr class="subtitle">
		<td colspan="2">
			<input type="submit" value="{$L_SAVE}" />
			<input type="reset" value="{$L_RESET}" />
		</td>
	</tr>
</table>
</form:form>
</is:admin>