<is:admin>
<form action="admin.php?act=userfields_add2" method="post" enctype="multipart/form-data">
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">{$L_ADDPROFILEFIELD}</td>
	</tr>
	<tr class="alt1">
		<td width="50%"><strong>{$L_FIELDTYPE}:</strong></td>
		<td width="50%">
			<script type="text/javascript">doHelpButton('field_type');</script>
			<select name="inputtype" tabindex="1">
				<option value="text">{$L_SINGLELINETEXT}</option>
				<option value="textarea">{$L_MULTILINETEXT}</option>
				<option value="radio">{$L_SINGLESELECTRADIOS}</option>
				<option value="select">{$L_SINGLESELECTMENU}</option>
				<option value="multiselect">{$L_MULTISELECTMENU}</option>
				<option value="checkbox">{$L_MULTISELECTCHECK}</option>
			</select>
		</td>
	</tr>
	<tr class="tcat">
		<td colspan="2"><input type="submit" value="{$L_CONTINUE}" /></td>
	</tr>
</table>
</form>
</is:admin>