<is:admin>
<form action="admin.php?act=userfields_simpleupdate" name="update_userfields" id="update_userfields" method="post" enctype="multipart/form-data">
<div class="k4_borderwrap">
	<div class="k4_maintitle">{$L_USERPROFILEFIELDS}</div>
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="k4_table">
		<tr>
			<td class="k4_subtitle" colspan="3">{$L_MANAGEPROFILEFIELDS}</td>
		</tr>
		<tr>
			<td class="alt3" colspan="3">
				<div align="center">
					<input type="button" value="{$L_ADDPROFILEFIELD}" onclick="document.location='admin.php?act=userfields_add'" class="button" style="font-weight: bold;" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="k4_subtitle">{$L_ORDER}</td>
			<td class="k4_subtitle" colspan="2">{$L_MANAGEMENT}</td>
		</tr>
		<list:list id="fields">
		<list:default list="fields">
		<tr>
			<td class="alt3" colspan="3">
				<div class="outset_box" align="center">
					<br />
					{$L_NOCUSTOMPROFILEFIELDS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="fields">
		<list:switch list="fields" var="row_class" a="alt1" b="alt2">
		<tr class="{$row_class}">
		</list:switch>
			<td width="10%">
				<input type="text" name="display_order_{$name}" value="{$display_order}" size="3" maxlength="3" />
			</td>
			<td width="80%">
				<strong>{$title}</strong> ({$name})
				<br />
				<span class="smalltext"><if:if var="inputtype" eq="text">{$L_SINGLELINETEXT}<else:if var="inputtype" eq="textarea" />{$L_MULTILINETEXT}<else:if var="inputtype" eq="radio" />{$L_SINGLESELECTRADIOS}<else:if var="inputtype" eq="select" />{$L_SINGLESELECTMENU}<else:if var="inputtype" eq="multiselect" />{$L_MULTISELECTMENU}<else:if var="inputtype" eq="checkbox" />{$L_MULTISELECTCHECK}</if:if></span>
			</td>
			<td width="10%">
				<div align="center">
					<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=userfields_edit&field={$name}'" />
					<br />
					<input type="button" class="button" style="color: #FF0000;" value="{$L_DELETE}" onclick="document.location='admin.php?act=userfields_remove&field={$name}'" />
				</div>
			</td>
		</tr>
		</list:item>
		</list:list>
		<tr>
			<td class="k4_subtitle" colspan="3"><input type="submit" class="button" value="{$L_UPDATE}" /></td>
		</tr>
	</table>
</div>
</form>
</is:admin>