<is:admin>
<div class="header"><div class="title">{$L_ADDPROFILEFIELD}</div></div>
<div class="spacer">
	<form action="admin.php?act=userfields_add2" method="post" enctype="multipart/form-data">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt1" width="50%"><strong>{$L_FIELDTYPE}:</strong></td>
			<td class="alt1" width="50%">
				<script type="text/javascript">doHelpButton('field_type');</script>
				<select name="inputtype" tabindex="1">
					<option value="text">{$L_SINGLELINETEXT}</option>
					<option value="textarea">{$L_MULTILINETEXT}</option>
					<option value="radio">{$L_SINGLESELECTRADIOS}</option>
					<option value="select">{$L_SINGLESELECTMENU}</option>
					<option value="multiselect">{$L_MULTISELECTMENU}</option>
					<option value="checkbox">{$L_MULTISELECTCHECK}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="base3" style="text-align: center;" colspan="2">
				<input type="submit" class="button" value="{$L_CONTINUE}" />
			</td>
		</tr>
	</table>
	</form>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>