<is:admin>
<div class="header"><div class="title">{$L_USERPROFILEFIELDS}</div></div>
<div class="spacer">
	<div class="alt3" colspan="3" style="text-align: center;">
			<br />
			<a href="admin.php?act=userfields_add" title="{$L_ADDPROFILEFIELD}">{$L_ADDPROFILEFIELD}</a>
			<br /><br />
	</div>
</div>
<div class="spacer">
	<form action="admin.php?act=userfields_simpleupdate" name="update_userfields" id="update_userfields" method="post" enctype="multipart/form-data">
	<table width="100%" cellpadding="0" cellspacing="{$style_cellspacing}" border="0" class="table">
		<tr>
			<td class="subheader">{$L_ORDER}</td>
			<td class="subheader" colspan="2">{$L_MANAGEMENT}</td>
		</tr>
		<list:list id="fields">
		<list:default list="fields">
		<tr>
			<td class="alt3" colspan="3">
				<div class="outset_box" align="center">
					<br />
					{$L_NOCUSTOMPROFILEFIELDS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="fields">
		<list:switch list="fields" var="row_class" a="alt1" b="alt2">
		<tr class="{$row_class}">
		</list:switch>
			<td width="10%">
				<input type="text" class="inputbox" name="display_order_{$name}" value="{$display_order}" size="3" maxlength="3" />
			</td>
			<td width="80%">
				<strong>{$title}</strong> ({$name})
				<br />
				<span class="smalltext"><if:if var="inputtype" eq="text">{$L_SINGLELINETEXT}<else:if var="inputtype" eq="textarea" />{$L_MULTILINETEXT}<else:if var="inputtype" eq="radio" />{$L_SINGLESELECTRADIOS}<else:if var="inputtype" eq="select" />{$L_SINGLESELECTMENU}<else:if var="inputtype" eq="multiselect" />{$L_MULTISELECTMENU}<else:if var="inputtype" eq="checkbox" />{$L_MULTISELECTCHECK}</if:if></span>
			</td>
			<td width="10%">
				<div align="center">
					<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=userfields_edit&field={$name}'" />
					<input type="button" class="button" style="color: #FF0000;" value="{$L_DELETE}" onclick="document.location='admin.php?act=userfields_remove&field={$name}'" />
				</div>
			</td>
		</tr>
		</list:item>
		</list:list>
		<tr>
			<td class="base3" colspan="3" style="text-align: center;"><input type="submit" class="button" value="{$L_UPDATE}" /></td>
		</tr>
	</table>
	</form>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>