<is:admin>
<input type="hidden" name="act" value="titles_finduser" />
<div class="header"><div class="title">{$L_CUSTOMUSERTITLES}</div></div>
<div class="spacer">
	<div class="spacer">
		<form action="admin.php" method="get">
		<input type="hidden" name="act" value="titles_finduser" />
		<div class="alt3" style="text-align: center;">
			<br />
			<strong>{$L_USERNAME}:</strong><br />
			<input type="text" name="username" value="" class="inputbox" />
			<br />
			<span class="smalltext">({$L_WILDCARDSTARINFO})</span>
			<br /><br />
			<input type="submit" class="button" value="{$L_FINDUSER}" />
			<br /><br />
		</div>
		</form>
	</div>
	<div class="footer_block"><div>&nbsp;</div></div>
</div>
<div class="header"><div class="title">{$L_USERTITLES}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=titles_add" title="{$L_ADDUSERTITLE}">{$L_ADDUSERTITLE}</a>
		<br /><br />
	</div>
</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="subheader" width="20%">{$L_TITLE}</td>
			<td class="subheader" width="20%">{$L_MINREQUIREDPOSTS}</td>
			<td class="subheader" width="20%">{$L_NUMPIPS}</td>
			<td class="subheader" width="20%">{$L_IMAGE}</td>
			<td class="subheader" width="20%">{$L_MANAGE}</td>
		</tr>
		<list:list id="usertitles">
		<list:default list="usertitles">
		<tr class="alt3">
			<td colspan="5">
				<div class="outset_box" align="center">
					<br />
					<strong>{$L_NOUSERTITLES}</strong>
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="usertitles">
		<list:switch list="usertitles" var="row_class" a="alt1" b="alt2">
		<tr>
			<td class="{$row_class}" width="20%" style="text-align: center;"><strong>{$title_text}</strong></td>
			<td class="{$row_class}" width="20%" style="text-align: center;">{$num_posts}</td>
			<td class="{$row_class}" width="20%" style="text-align: center;">{$num_pips}</td>
			<td class="{$row_class}" width="20%" style="text-align: center;">{$image}</td>
			<td class="{$row_class}" width="20%" style="text-align: center;">
				<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=titles_edit&title_id={$title_id}'" />
				<input type="button" class="button" style="color: #FF0000;" value="{$L_DELETE}" onclick="if(confirm('{$L_CHECKDELUTITLE}')) { document.location='admin.php?act=titles_remove&title_id={$title_id}'; } else { return false; }" />
			</td>
		</tr>
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>