<is:admin>
<div class="header"><div class="title">{$L_USERGROUPS}</div></div>
<div class="spacer">
	<div class="alt3" style="text-align: center;">
		<br />
		<a href="admin.php?act=usergroups_add" title="{$L_ADDUSERGROUP}">{$L_ADDUSERGROUP}</a>
		<br /><br />
	</div>
</div>
<div class="subheader">{$L_MANAGEUSERGROUPS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="usergroups">
		<list:default list="usergroups">
		<tr class="alt3">
			<td colspan="2">
				<div class="outset_box" align="center">
					<br />
					{$L_NOUSERGROUPS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="usergroups">
		<list:switch list="usergroups" var="row_class" a="alt1" b="alt2">
		<tr class="{$row_class}">
		</list:switch>
			<td>
				<div align="left">
					<strong style="color: #{$color};">{$name}</strong>
					<br />
					<span class="minitext">{$description}</span>
				</div>
			</td>
			<td width="10%" align="center">
				<input type="button" class="button" value="{$L_EDIT}" onclick="document.location='admin.php?act=usergroups_edit&id={$id}'" />
				<input type="button" class="button" style="color: #FF0000;" value="{$L_DELETE}" onclick="if(confirm('{$L_CHECKDELGROUP}')) { document.location='admin.php?act=usergroups_remove&id={$id}'; } else { return false; }" />
			</td>
		</tr>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>