<is:admin>
<div class="header"><div class="title">{$L_CENSORMANAGEMENT}</div></div>
<div class="subheader">{$L_ADDWORDCENSOR}</div>
<div class="spacer">
	<form:form name="add_censor" id="add_censor" action="admin.php?act=add_censor" method="post" enctype="multipart/form-data">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<tr>
			<td class="alt3" width="17%" style="text-align: center;">
				<label for="acronym"><strong>{$L_BADWORD}:</strong></label>
			</td>
			<td class="alt3" width="17%" style="text-align: center;">
				<input type="text" name="word" id="word" value="" class="inputbox" />
				<form:error id="word_error" for="word" setclass="inputfailed" regex=".+">{$L_SUPPLYWORD}</form:error>
			</td>
			<td class="alt3" width="17%" style="text-align: center;">
				<label for="meaning"><strong>{$L_REPLACEMENT}:</strong></label>
			</td>
			<td class="alt3" width="17%" style="text-align: center;">
				<input type="text" name="replacement" id="replacement" value="" class="inputbox" />
				<form:error id="replacement_error" for="replacement" setclass="inputfailed" regex=".+">{$L_SUPPLYREPLACEMENT}</form:error>
			</td>
			<td class="alt3" width="17%" style="text-align: center;">
				<label for="method"><strong>{$L_METHOD}:</strong></label>
			</td>
			<td class="alt3" width="17%" style="text-align: center;">
				<select name="method" id="method" class="smalltext">
					<option value="1">{$L_LOOSE}</option>
					<option value="2">{$L_EXACT}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="base3" colspan="6" style="text-align: center;">
				<input type="submit" value="{$L_SAVE}" class="button" />
				<input type="reset" value="{$L_RESET}" class="button" />
			</td>
		</tr>
	</table>
	</form:form>
</div>
<div class="subheader">{$L_MANAGECURRENTCENSORS}</div>
<div class="spacer">
	<table width="100%" cellspacing="{$style_cellspacing}" class="table">
		<list:list id="censors">
		<list:default list="censors">
		<tr class="alt3">
			<td colspan="7">
				<div class="outset_box" style="text-align: center;">
					<br />
					{$L_NOACTIVECENSORS}
					<br /><br />
				</div>
			</td>
		</tr>
		</list:default>
		<list:item list="censors">
			<list:switch list="censors" var="row_class" a="alt1" b="alt2">
			<form:form name="update_censor" id="update_censor" action="admin.php?act=update_censor&amp;id={$id}" method="post" enctype="multipart/form-data">
			<tr>
				<td class="{$row_class}" style="text-align: center;">
					<label for="word{$id}"><strong>{$L_BADWORD}:</strong></label>
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<input type="text" name="word" id="word{$id}" value="{$word}" class="inputbox" />
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<label for="replacement{$id}"><strong>{$L_REPLACEMENT}:</strong></label>
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<input type="text" name="replacement" id="replacement{$id}" value="{$replacement}" class="inputbox" />
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<label for="method{$id}"><strong>{$L_METHOD}:</strong></label>
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<select name="method" id="method{$id}" class="smalltext">
						<option value="1">{$L_LOOSE}</option>
						<option value="2">{$L_EXACT}</option>
					</select>
					<script type="text/javascript">d.setIndex({$method}, 'method{$id}');</script>
				</td>
				<td class="{$row_class}" style="text-align: center;">
					<input type="submit" value="{$L_SAVE}" class="button" />
					<input type="button" value="{$L_REMOVE}" class="button" onclick="document.location='admin.php?act=remove_censor&id={$id}'" style="color:#FF0000;" />
					<input type="reset" value="{$L_RESET}" class="button" />
				</td>
			</tr>
			</form:form>
		</list:switch>
		</list:item>
		</list:list>
	</table>
</div>
<div class="footer_block"><div>&nbsp;</div></div>
</is:admin>